#weather{width:250px}.forecast_weather{float:left;margin:1px}.forecast_weather img{width:45px;height:45px}#today_weather{font-size:12px;width:240px}#today_weather img{float:right}#forecast{font-size:10px;width:240px;text-align:center}.day_name{width:45px}