/**** RESET.CSS start ****/
/*

    -pie-background: linear-gradient(#fff 0%, #fff 70%);
    behavior:url(PIE.htc);
	position:relative;

*/



/*=========== Reset CSS ============*/
* {
	margin:0;
	padding:0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video, a {
    font-family: inherit;
	margin:0;
	padding:0;
    border:none;
	outline:none;
	vertical-align:baseline;
	background:transparent;
	line-height:normal;
    
}

table {
	border-collapse:collapse;
}

table td{
	padding:4px;
	border:1px solid #999;
}

a,input,button{outline:none;}

input,button{overflow:visible;}

hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}

.centered {
	margin-left:auto;
	margin-right:auto;
}

.container_12 img,.container_16 img{
 height:auto;
/*width:auto;*/}

a,input,button,checkbox{cursor:pointer;}

img,input,button,checkbox{vertical-align:middle;}

/* ===== Rounded corner ===== */
.roundedtop {
	-o-border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius:5px 5px 0 0;
    behavior:url(/../../PIE.htc);
	position:relative;
}

.roundedbottom {
	-o-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
    behavior:url(/../../PIE.htc);
	position:relative;
}

.rounded3px {
	-o-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	 border-radius:3px;
    behavior:url(/../../PIE.htc);
	position:relative;
}
.rounded5px {
	-o-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
    behavior:url(/../../PIE.htc);
	position:relative;
}
.shadowed {
	-o-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
    box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#e6e5e5',direction='115',strength='7');
    behavior:url(/../../PIE.htc);
	position:relative;
}

/*===== System Messages ==========*/
.formErrorMessage, .formSuccessMessage,#seotoaster div.success, #seotoaster div.errors,div#msg,#usr-cart-widget-status {
	-o-border-radius:15px;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #FFF;
	color:#FFF;
    cursor:pointer;
	font-weight:bold;
	opacity:0.75;
	filter:Alpha(opacity=75);
    -moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	padding:30px;
	position:absolute;
	text-align:center;
	top:35%;
	left:25%;
	z-index:999;}
    behavior:url(/../../PIE.htc);
	position:relative;
	
.formErrorMessage, .formSuccessMessage {left:40%;}

div#msg {top:250px;
left:35%;}
	
#seotoaster div.errors ul li { list-style-type:none; }
#seotoaster div.success,.formSuccessMessage,#usr-cart-widget-status {background-color:olive; }
#seotoaster div.errors,.formErrorMessage,div#msg{ background-color:#990000; }

/* ====== reset for all navigation items ========== */
ul#static_menu, ul#static_menu li, ul#main_menu, ul#main_menu li, ul#main_menu ul, ul#main_menu ul li, ul#listpages, ul#listpages li, ul#listcategories, ul#listcategories li, ul.featureditem, ul.featureditem li, ul#relatedpages, ul#relatedpages li, ul.listxrss, ul.listxrss li, ul#searchresult, ul#searchresult li, ul.sitemap, ul.sitemap li, ol.comments-ol-list, ol.comments-ol-list li {
	margin:0;
	padding:0;
	list-style-type: none;
}
ul#listpages li, ul#listcategories li, ul.featureditem li,.featureapage {
	margin-bottom:5px;
	overflow:hidden;
}
ul#listpages img, ul#listcategories img, ul.featureditem img, ul#relatedpages img, ul.listxrss img, ul#searchresult img,.featureapage img{
	/*float:left;
	margin-right:4px;
	max-width:125px;*/
}
ul#listpages span, ul#listcategories span, ul.featureditem span,.featureapage p {
	display:block;
	margin:2px 0 7px;
}

ul#listpages span:empty, ul#listcategories span:empty, ul.featureditem span:empty,.featureapage p:empty{margin:0;
display:none;}

ul#static_menu li a, ul#main_menu li a {
	display:block;
	text-decoration:none;
}
/*========= 960 css ============*/
.container_12, .container_16 {
	margin-left:auto;
	margin-right:auto;
	width:960px;
	overflow:hidden;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
	display:inline;
	float:left;
	position:relative;
	margin-left:10px;
	margin-right:10px
}

.container_16 .grid_16,.container_12 .grid_12{
display:block;
clear:both;}

.container_12 .grid_3, .container_16 .grid_4 { width:220px }
.container_12 .grid_6, .container_16 .grid_8 { width:460px }
.container_12 .grid_9, .container_16 .grid_12 { width:700px }
.container_12 .grid_12, .container_16 .grid_16 { width:940px }
.alpha { margin-left:0 }
.omega { margin-right:0 }
.container_12 .grid_1 { width:60px }
.container_12 .grid_2 { width:140px }
.container_12 .grid_4 { width:300px }
.container_12 .grid_5 { width:380px }
.container_12 .grid_7 { width:540px }
.container_12 .grid_8 { width:620px }
.container_12 .grid_10 { width:780px }
.container_12 .grid_11 { width:860px }
.container_16 .grid_1 { width:40px }
.container_16 .grid_2 { width:100px }
.container_16 .grid_3 { width:160px }
.container_16 .grid_5 { width:280px }
.container_16 .grid_6 { width:340px }
.container_16 .grid_7 { width:400px }
.container_16 .grid_9 { width:520px }
.container_16 .grid_10 { width:580px }
.container_16 .grid_11 { width:640px }
.container_16 .grid_13 { width:760px }
.container_16 .grid_14 { width:820px }
.container_16 .grid_15 { width:880px }
.container_12 .prefix_3, .container_16 .prefix_4 { padding-left:240px }
.container_12 .prefix_6, .container_16 .prefix_8 { padding-left:480px }
.container_12 .prefix_9, .container_16 .prefix_12 { padding-left:720px }
.container_12 .prefix_1 { padding-left:80px }
.container_12 .prefix_2 { padding-left:160px }
.container_12 .prefix_4 { padding-left:320px }
.container_12 .prefix_5 { padding-left:400px }
.container_12 .prefix_7 { padding-left:560px }
.container_12 .prefix_8 { padding-left:640px }
.container_12 .prefix_10 { padding-left:800px }
.container_12 .prefix_11 { padding-left:880px }
.container_16 .prefix_1 { padding-left:60px }
.container_16 .prefix_2 { padding-left:120px }
.container_16 .prefix_3 { padding-left:180px }
.container_16 .prefix_5 { padding-left:300px }
.container_16 .prefix_6 { padding-left:360px }
.container_16 .prefix_7 { padding-left:420px }
.container_16 .prefix_9 { padding-left:540px }
.container_16 .prefix_10 { padding-left:600px }
.container_16 .prefix_11 { padding-left:660px }
.container_16 .prefix_13 { padding-left:780px }
.container_16 .prefix_14 { padding-left:840px }
.container_16 .prefix_15 { padding-left:900px }
.container_12 .suffix_3, .container_16 .suffix_4 { padding-right:240px }
.container_12 .suffix_6, .container_16 .suffix_8 { padding-right:480px }
.container_12 .suffix_9, .container_16 .suffix_12 { padding-right:720px }
.container_12 .suffix_1 { padding-right:80px }
.container_12 .suffix_2 { padding-right:160px }
.container_12 .suffix_4 { padding-right:320px }
.container_12 .suffix_5 { padding-right:400px }
.container_12 .suffix_7 { padding-right:560px }
.container_12 .suffix_8 { padding-right:640px }
.container_12 .suffix_10 { padding-right:800px }
.container_12 .suffix_11 { padding-right:880px }
.container_16 .suffix_1 { padding-right:60px }
.container_16 .suffix_2 { padding-right:120px }
.container_16 .suffix_3 { padding-right:180px }
.container_16 .suffix_5 { padding-right:300px }
.container_16 .suffix_6 { padding-right:360px }
.container_16 .suffix_7 { padding-right:420px }
.container_16 .suffix_9 { padding-right:540px }
.container_16 .suffix_10 { padding-right:600px }
.container_16 .suffix_11 { padding-right:660px }
.container_16 .suffix_13 { padding-right:780px }
.container_16 .suffix_14 { padding-right:840px }
.container_16 .suffix_15 { padding-right:900px }
.container_12 .push_3, .container_16 .push_4 { left:240px }
.container_12 .push_6, .container_16 .push_8 { left:480px }
.container_12 .push_9, .container_16 .push_12 { left:720px }
.container_12 .push_1 { left:80px }
.container_12 .push_2 { left:160px }
.container_12 .push_4 { left:320px }
.container_12 .push_5 { left:400px }
.container_12 .push_7 { left:560px }
.container_12 .push_8 { left:640px }
.container_12 .push_10 { left:800px }
.container_12 .push_11 { left:880px }
.container_16 .push_1 { left:60px }
.container_16 .push_2 { left:120px }
.container_16 .push_3 { left:180px }
.container_16 .push_5 { left:300px }
.container_16 .push_6 { left:360px }
.container_16 .push_7 { left:420px }
.container_16 .push_9 { left:540px }
.container_16 .push_10 { left:600px }
.container_16 .push_11 { left:660px }
.container_16 .push_13 { left:780px }
.container_16 .push_14 { left:840px }
.container_16 .push_15 { left:900px }
.container_12 .pull_3, .container_16 .pull_4 { left:-240px }
.container_12 .pull_6, .container_16 .pull_8 { left:-480px }
.container_12 .pull_9, .container_16 .pull_12 { left:-720px }
.container_12 .pull_1 { left:-80px }
.container_12 .pull_2 { left:-160px }
.container_12 .pull_4 { left:-320px }
.container_12 .pull_5 { left:-400px }
.container_12 .pull_7 { left:-560px }
.container_12 .pull_8 { left:-640px }
.container_12 .pull_10 { left:-800px }
.container_12 .pull_11 { left:-880px }
.container_16 .pull_1 { left:-60px }
.container_16 .pull_2 { left:-120px }
.container_16 .pull_3 { left:-180px }
.container_16 .pull_5 { left:-300px }
.container_16 .pull_6 { left:-360px }
.container_16 .pull_7 { left:-420px }
.container_16 .pull_9 { left:-540px }
.container_16 .pull_10 { left:-600px }
.container_16 .pull_11 { left:-660px }
.container_16 .pull_13 { left:-780px }
.container_16 .pull_14 { left:-840px }
.container_16 .pull_15 { left:-900px }
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
* html .clearfix, *:first-child+html .clearfix { zoom:1 }

.padding5px { padding:5px; }
.padding8px { padding:8px; }
.padding10px { padding:10px; }
.mt5px { margin-top:5px; }
.mt8px { margin-top:8px; }
.mt10px { margin-top:10px; }
.mt20px { margin-top:20px; }
.mt30px { margin-top:30px; }
.mb5px { margin-bottom:5px; }
.mb8px { margin-bottom:8px; }
.mb10px { margin-bottom:10px; }
.mb15px { margin-bottom:15px; }
.mb20px { margin-bottom:20px; }
.mb30px { margin-bottom:30px; }
.mleft0px { margin-left:0px; }
.mleft10px { margin-left:10px; }
.mleft20px { margin-left:20px; }/*Margin left*/

/* If we need to apply border to grid*/
.container_12 .m9px,.container_16 .m9px{margin-left:9px;
margin-right:9px;}

.container_12 .mright8px,.container_16 .mright8px{margin-right:8px;} /*if it's the first grid with class='alpha'*/
.container_12 .mleft8px,.container_16 .mleft8px{margin-left:8px;} /*if it's the last grid with class='omega'*/


/*=== For newsroom template===*/
ol#controls{list-style-type:none;
position:absolute;
top:35px;
left:5px;
right:5px;
overflow:visible;
padding:5px 0;}

ol#controls li{float:left;
margin-right:8px;
padding:2px 7px;
border:1px solid #C5DEEF;
color:#098AB4;
background-color:#eee;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}

#controls li a{text-decoration:none;
font-weight:bold;}

#controls li.current{background-color:#fff;
border:1px solid #ABCFE7;
color:#0E5DA8;}

.featheadline{position:relative;}

.headf{padding:5px;
white-space:nowrap;
margin-bottom:40px;}

.feathead li{
float:left;
width:380px;}


.feathead li,.newsroom .feathead .news-item,.listxrss li{list-style-type:none;}

.newsroom .news-item,.listxrss li{padding:0 0 10px;
border-bottom:1px dotted #ccc;
margin:10px 0 0;}

.newsroom .news-item h4{margin:3px 0;}

.newsroom .news-item h4 a{text-decoration:none;
border-bottom:none;
font-size:15px;}


/*For video plugin*/
ul#utubvi_thumbs li img{height:91px!important;
width:123px!important;}

#paging{padding-bottom:15px!important;
padding-top:10px;}

#paging a{padding:5px 35px!important;}

#utubvi_player h4{
margin-top:0!important;
color:#333!important;
background:#ccc!important;}

#utubvi_player embed{width:280px!important;
height:auto!important;}
/**** RESET.CSS end ****/
/**** STYLE.CSS start ****/
/**
    -pie-background: linear-gradient(#fff 0%, #fff 70%);
    behavior:url(themes/.../PIE.htc);
	position:relative;
*/
/* CSS Document */
/*===== General Layout =====*/
html {}
body {
    text-rendering: optimizeSpeed;
    color: #333344;
    font: 1em/1.7em sans-serif;

}
body > img{
    display:none!important;
    }
header{
    margin-bottom: 12px;
    }
header, nav, footer {
    display:block;
    position:relative;
    }
    .sub-menu {
        background: none repeat scroll 0 0 #DDEDF7;
        height:38px;
        width:100%;
        overflow:hidden;
    }
nav {
    clear: both;
    }
footer {
    background: none repeat scroll 0 0 #FAFAFA;
    border-top: 1px solid #E7E7E7;
    padding: 15px 0;
    margin-top: 20px;
    text-align:center;
    }
    .soc-button-f{
        overflow:hidden;
        margin-bottom:15px;
        margin: 0 auto 15px;
        width: 300px;
        }
        .soc-button-f span{
            display:block;
            float:left;
            }
            .soc-button-f span.fbf{
                margin-top:2px;
                }
.wrap-tl{
    background-color:#eee;
    }
    .soc{
    font-weight:bold;
    /*width:200px;*/
    float:right;
    display:block;
    }
    .soc p {
        float: left;
        margin: 8px 0;
        font-size: 14px;
        }    
    /*.soc a.tw, .soc a.fb{
    display: block;
    height: 33px;
    overflow: hidden;
    width: 33px;
    float:right;
    margin:3px;
    position:relative;
    }
    .soc a.fb img{
    left:-33px;
    }
    .soc a img{
        position:relative;
        }
    .soc a.tw:hover img, .soc a.fb:hover img{
        top:-38px;
        }
        */
    span.soc>a{
        font-size:30px;
        float:right;
        margin-left: 7px;
        }
    .soc .icon-twitter{
        color:#1ab2e8;
        }
    header #forecast {
        display:none;
        }
    header #weather{
        padding-top:10px;
        float: right;
        overflow: hidden;        
        }
    #left #weather{
        margin:0 auto;
        }
        #today_weather{
        float:left;
            }
            #today_weather img{
                margin-top:-12px;
                }
    .weather, .rate{
        text-align:center;
        }
    .weather{
        padding: 5px 0;
        }    
    
    
    .rate{
        padding:15px 0;
        }
#container {}
#center {}
    #center img{
        max-width:100%;
        }
    #center ul li {
        margin-bottom:7px;
        list-style: disc inside;
        }
div.address{
    position:relative;
    border-bottom: 1px solid #ccc;
    clear:both;
    overflow: hidden;
    padding-bottom: 25px;
    }
    div.address>img{
        float:left;
        margin:5px 10px 5px 0;
        }
    div.address .checkprices{
        font-weight:bold;
        position:absolute;
        right:0;
        bottom:10px;
        /*float:right;*/
        color:#333344;
        background: #DDEDF7;
        padding: 5px 10px;
        font-size: 16px;
        margin: 0 8px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
        }
        div.address .checkprices:hover{
            background: #87ccf7;
            color: #fff;
            padding: 7px 10px;
            -webkit-transform: scale(1.1,1.1);
            -moz-transform: scale(1.1,1.1);
            -o-transform: scale(1.1,1.1);
            -ms-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);
            }
    .foodd{
        overflow:hidden;
        }
        .fd_title{
            overflow: hidden;
            font-size: 1.4em;
            margin: 0;
            color: #335577;
            font-family: "crete-rounded-web",sans-serif;
            padding-top: 0.1em;
            }
        .foodd ul{
            }
        .foodd>img{
            width:40px;
            margin-right:10px;
            }
 #left h1{
        /*z-index:20;
        background: none repeat scroll 0 0 #EEEEEE;
        color: #333333;
        display: block;
        font-size: 2.3em;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        padding: 7px 5px;
        position: absolute;
        text-align: center;
        top: 65px;
        width: 86%;
        font-size:16px;*/
    }
#left ul, #left ol{
    margin-bottom:15px;
    }
    #left ul li, #left ol li{
        margin: 10px 0 10px 10px;
        line-height:1.5em;
        }
        #left ul li{
            list-style: circle inside;
            }
        #left ol li{}
        #left .tm {
            display: block;
            margin-bottom: 20px;
            }
         #left .tm img{
            background-color: #FFFFFF;
            border: 1px solid #DDDDDD;
            padding: 3px
            }
             #left .tm .page-teaser-image{
                /*min-width: 452px;*/
                width: 96%;
                }
#right {}
      
.middle_box {
    position:relative;
    overflow:hidden;
    padding: 0 0 0 20px;
    border-left:1px solid #dddddd;
    margin-bottom: 10px;
    }
    #right .middle_box h1{
        z-index:20;
        background: none repeat scroll 0 0 #EEEEEE;
        color: #333333;
        display: block;
        font-size: 2.3em;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        padding: 7px 5px;
        position: absolute;
        text-align: center;
        top: 50px;
        width: 86%;
        font-size:20px;
    }
    #right .middle_box .tm {
        display: block;
        margin-bottom: 20px;
        }
        #right .middle_box .tm img{
            background-color: #FFFFFF;
            border: 1px solid #DDDDDD;
            padding: 3px
            }
            #right .middle_box .tm .page-teaser-image{
                /*min-width: 452px;*/
                width: 96%;
                }
    .middle_box p {
        /*text-align:justify;*/
        }
.middle_box2{
    /*padding: 0 20px 0 0;
    border-right:1px solid #dddddd;*/
    }
    .middle_box2 img{
        max-width:100%;
        }
.tabs{
    position: absolute;
    left: -1000px;
    width:700px;
    }
.tab_nav{
    font-size:0;
    }
.tab_nav li {
    background:#DDEDF7;
    padding:5px 10px;
    display:inline-block;
    cursor:pointer;
    position:relative;
    /*float: left;
    margin: 0 3px;*/
    font-size:16px;
    margin: 0 8px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    }
    .tab_nav li:first-child{
        margin-left:0;
        }
    .tab_nav li.active, .tab_nav li:hover {
        background:#87ccf7;
        color:#fff;
        padding: 7px 10px;
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
        
        }
    .prepoplinks{
        overflow:hidden;
        }
        /*.tab_nav li.active:after{
            content: '';
            border: 7px solid transparent;
            border-right-color: #87ccf7;
            width: 0;
            height: 0;
            position: absolute;
            border-bottom-color: #87ccf7;
            bottom: 2px;
            right: 2px;
            }*/
    .prepoplinks li {
        list-style:none;
        float:left;
        margin:3px;
        }
        .prepoplinks li a {
            font-size: 0.75em;
            display: block;
            padding: 3px 0;
            text-decoration:underline;
            /*background:#DDEDF7; */           
            }
            .prepoplinks li:hover a{
                /*background:#87ccf7;
                color:#fff;
                -webkit-transition: 0.25s;
                -moz-transition: 0.25s;
                -o-transition: 0.25s;
                -ms-transition: 0.25s;
                transition: 0.25s;*/
                text-decoration:none;
                }
/* =========== Forms =*/
form { overflow: hidden; }
form p {}

input[type="text"], input[type="password"], select, textarea {
	cursor: text;
}
input[type="submit"] {
	cursor: pointer;
}

label {}
select {}
textarea {}

form .captcha {}
form .captcha input {}
/* =========== Search form =*/

form#search-form {
    clear:both;
    /*position: absolute;
    right: 0;
    bottom: -25px;*/
    }
form#search-form p {
    float:left;
    margin-bottom:0;
    }
form#search-form input#search {
    padding: 6px;
     width: 155px;
    border:1px solid #efefef;
    }
form#search-form input#do-search {}
/*====== Search Form ========*/
form#search-form {
    margin:10px 0 0 0;
    }
    form#search-form input#searchtext { 
        padding:3px 0;
        width:auto;
        }
    form#search-form input[type=submit] { 
        border-radius:0;
        color:#fff;
        cursor:pointer;
        padding:3px 6px;
        width: 30px;
        height: 30px;
        margin: 0;
        background: url('images/button.png') no-repeat 0 0 rgb(178, 220, 247);
        text-indent:-9000px;
        }
        form#search-form input[type=submit]:hover{
            background-color:rgb(104, 196, 253);
            -webkit-transition: 0.25s;
                -moz-transition: 0.25s;
                -o-transition: 0.25s;
                -ms-transition: 0.25s;
                transition: 0.25s;
            }
/*======= Forms ==========*/
form#contact input[type="text"], form#contact select, form#contact textarea, form#contact checkbox { 
    border:1px solid #CCCCCC;
    margin:2px 0;
    padding:3px;
    width: 96%;
    }
form#contact { 
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 5px #CCCCCC inset;
    -webkit-box-shadow:0 0 5px #CCCCCC inset;
    box-shadow:0 0 5px #CCCCCC inset;
    background:none repeat scroll 0 0 #EEEEEE;
    padding:10px;
    /*width:180px;*/
    }
form p { 
    margin-bottom:3px;
    overflow:hidden; 
    }
fieldset { }
legend { }
label { 
    float:left;
    margin:2px 0;
    }
form#contact label {
    min-width:60px;
    width:auto;
    }
select { }
checkbox { }
#captcha label {}
img#captcha-image {
    margin:20px 0 20px 120px;
    }
form#contact img#captcha-image {
    border:1px solid #CCC!important;
    width:180px !important;
    margin:10px 0;
    }
input#captcha-input {
margin-top:6px;
width:117px;}
input[type="submit"] {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:none repeat scroll 0 0 #EBA535;
    border:medium none;
    color:#FFF;
    cursor:pointer;
    font-weight:bold;
    margin:10px 0;
    padding:3px 5px;
    text-shadow:1px 1px 2px #888;
    width:auto;
    }
form#contact input[type="submit"] {
    
    width:100%;
    }
    input[type=button] { }
submit[type=submit] { }

/*======= Comments Form ========*/
form.comment-form {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding:5px 15px;
    width:320px;
    }

form.comment-form fieldset { margin:10px;}

form.comment-form legend {display:block;
    font-size:20px;
    margin-bottom:20px; 
    }

form.comment-form input {width:255px; }

form.comment-form input, select, textarea, checkbox {
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:10px;
    border:1px solid #CCC;
    margin:5px 0 12px;
    padding:3px;
    }

form.comment-form label { display:block;
    float:none;
    font-size:14px;
    margin-right:20px;
    width:auto;
    }

form.comment-form img#captcha-image {
    margin:10px 0 20px;}

textarea#post-content-1 {margin-top:20px;
    width:480px;}

input#submit-comment { 
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:10px;
    background:none repeat scroll 0 0 #EBA535;
    border:medium none;
    color:#FFF;
    cursor:pointer;
    font-weight:bold;
    margin:10px 0;
    padding:3px 5px;
    text-shadow:1px 1px 2px #888;
    width:auto;
    }
div.commentslinkholder a { }
ol.comments-ol-list { }
ol.comments-ol-list li { }
ol.comments-ol-list abbr { }
ol.comments-ol-list a { }
ol.comments-ol-list a.comment-author { }
ol.comments-ol-list blockquote { }



/* =========== Login form =*/
form#login-form {}
form#login-form p {}
form#login-form label {}
form#login-form input {}
/* =========== Logout =*/
a.logout {}
/* =========== image gallery =*/
.gal-img{
    margin-bottom:15px;
    padding-bottom:5px;
    border-bottom: 1px solid #CCCCCC;
    }
ul.img_gallery {}

ul.img_gallery li, .directupload-wrapper, .gal-img a {
    display:inline-block;
    margin: 0 5px 10px 5px;
    vertical-align:top;
    width: 23.1%;
    *display:block;
    }
ul.img_gallery li a {}
ul.img_gallery li img, .direct-upload-images img, .gal-img img {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD!important;
    padding: 3px;
    margin:0 !important;
    }
    
/*-----------------------*/
.gal-img a.direct-upload img{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    }
    .gal-img a.direct-upload:hover img{
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
        }
/* =========== breadcrumbs =*/
.breadcrumbs {
    margin-bottom:12px;
    }
.breadcrumbs a {}
/*============== rotator======*/
div.rotator{
    /*width:437px!important;
    height:329px!important;*/
    margin-bottom:1em!important;    
    }
.rotator img{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 3px;
    width: 98% !important;
    }
/*======================*/
.gmaps{
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    margin-top:20px;
    }
/*======================news list===========*/
.news-list{
    margin-left:0;
    
    }
    #container .news-list .news-list-item{
        overflow:hidden;
        list-style: none outside none;
        margin-bottom: 10px;
        padding-bottom:10px;
        border-bottom:1px solid #DDEDF7;
        }
        .news-list .news-list-item .page-teaser-image{
            float: left;
            /*max-width: 140px;*/
            overflow: hidden;
            margin: 5px 10px 5px 0;
            
            }
            .news-list-item .page-teaser-image img{
                border:1px solid #D8D6D4;
                padding:2px;
                }
        .news-list .news-list-item .page-title{
            border: medium none;
            margin: 0;
            overflow: hidden;
            }
        .news-list .news-list-item .news-item-date{
            display: block;
            font-size: 12px;
            font-style: italic;
            margin-bottom: 10px;
            overflow: hidden;
            }
/*----------------right----------------------*/
#right .news-list{
    margin-left:0;
    
    }
    #right  .news-list .news-list-item{
        }
        #right  .news-list .news-list-item .page-teaser-image{  
            margin-right:0;
            }
           #right  .news-list-item .page-teaser-image img{
               width: 97%;               
                }
       #right  .news-list .news-list-item .page-title{
            padding: 0;
            font-size: 1em;
            clear: both;
            margin-bottom: 10px;
            line-height: 1.6em;
            }
       #right  .news-list .news-list-item .news-item-date{
            }
       #right  .news-list .news-list-item .news-item-description{
           font-size: 0.8em
           }
/*---------------footer----------------------*/
    .news-list.news_slider{
        margin-bottom:7px;
        }
        .news-list.news_slider .news-list-item .news-item-date{
            background-color: #DDEDF7;
            color: #335577;
            float: left;
            font-weight: 900;
            height: 55px;
            margin: 0;
            padding-top: 10px;
            text-align: center;
            width: 60px;
            }
        .news-list.news_slider .news-list-item .page-teaser-image{
            margin:0 10px 0 0;
            }
            .news-list.news_slider .news-list-item .page-teaser-image img{
                border: 0;
                padding: 0;
                height: 65px;
            }
        .news-list.news_slider .news-list-item .page-title{
            font-size:1em;
            margin: 0 0 0.5em 0;
            }
        .news-list.news_slider .news-list-item .news-item-description{
            font-size:1em;
            font-size: 0.75em;
            }
/*======================*/
.formError {
  
    background-color: #990000;
	color:#FFF;
    cursor:pointer;
	font-weight:bold;
	opacity:0.75;
	filter:Alpha(opacity=75);
    -moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	padding:30px;
	position:fixed;
	text-align:center;
	top:35%;
	left:40%;
	z-index:999;
    }/**** STYLE.CSS end ****/
/**** CONTENT.CSS start ****/
/**
    -pie-background: linear-gradient(#fff 0%, #fff 70%);
    behavior:url(themes/.../PIE.htc);
	position:relative;
	
*/
/* CSS Document */
/* =========== links =*/
a { 
    text-decoration: none; 
    /*color: #335577;*/
    color: #003399;
    }
a:hover { }
a:visited {}
a:active {}
/* =========== Logos style =*/
a.logo {
    color: #000000;
    font-size:70px;
    font-family: "crete-rounded-web",sans-serif;
    font-weight:300;
    padding:12px 0;
    display:block;
}

a.logo:hover{
        text-decoration:none;
    }
h1.logo {

}
a.logo img {}
/* =========== Header =*/
h1, h2, h3, h4, h5, h6, .h3 {
	color: #335577;
    font-weight: normal;
    font-family: "crete-rounded-web",sans-serif;
}

h1, h2.home-title {
    /*margin-bottom:25px;*/
    display:block;
    font-size: 2em;
    margin:15px 0 20px;
    }
h2 { 
    font-size: 1.5em;
    margin-bottom:20px;
    }
div#left h2 {
    /*background: none repeat scroll 0 0 #EEEEEE;*/
    margin: 15px 0;
    /*padding: 5px 10px;
    text-align:center;*/
    clear:both;
}
div#left h3, div#left .h3, div#left h4, div#left h5, div#right .h3{
   margin: 10px 0;
   display:block;
   margin: 10px 0;
   }
   div#left h5{
       text-transform:uppercase;
       }
footer .h3{
    margin-bottom:10px;
    display:block;
    }
div#center h2, div#center h3, div#center .h3, div#right h2 {
    /*background-color: #F2F6FA;
    border-top: 2px solid #AABBCC;*/
    font: normal 1.3em "crete-rounded-web",sans-serif;
    margin-bottom: 5px;
    min-height: 0;
    padding: 5px 8px 6px;
    clear:both;
    }
h3, .h3 { font-size: 1.45em; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
/* =========== Facebook header =*/
h4.fb {
	text-align: center;
	padding: 4px 0;
}
/* =========== Listings =*/
ul, ul.sitemap, ol {
	clear: both;
}
ul li, ul.sitemap li, ol li {
}
ul li {}
ol li { list-style: decimal inside none; }

ul ul, ol ol {
	margin: 6px 0;
}
/* =========== Formats =*/
p {
    line-height: 1.7em;
    margin-bottom:1em;
}
p img {
   
    }
em { 
	font-size: 14px;
	font-weight: bold; 
}
blockquote {
    background:url("images/bq.png") 0 0 no-repeat;
	padding: 5px 5px 5px 30px;
	font-style: italic;
	margin: 15px 0;
    line-height:18px;
    
}
address {
    margin-bottom:1em;
    line-height: 1.7em;
    }
/* =========== Table =*/
table {
	width: 100%;
	border-collapse: collapse;
	border: none;
}
table thead th, table  tbody td {
	padding: 6px;
}
table thead th{
	border-bottom: 1px solid #AAA;
	color: #151515;
	text-align: left;
}
table tbody {
	margin: 1px;
	border: none;
}
table  tbody td {
	border: none;
}
table tbody tr {
	border-bottom: 1px solid #EEE;
}
table tbody tr:hover {
	background-color: #F1F1F1;
}
/* =========== For content styles in editior =*/
.left-img-style, .right-img-style {}
.left-img-style { 
	float: left; 
}
.right-img-style { 
	float: right;
}
/**** CONTENT.CSS end ****/
/**** NAV.CSS start ****/
/**
    -pie-background: linear-gradient(#fff 0%, #fff 70%);
    behavior:url(themes/.../PIE.htc);
	position:relative;
*/
/* CSS Document */
/* =========== Flat menu =*/
ul.static_menu { overflow: hidden; }
ul.static_menu li {
	display: block;
	float: left;
	padding: 2px 6px;
}
ul.static_menu li a {}
ul.static_menu li a span {}

ul.static_menu li a.current {}
ul.static_menu li a:hover {}
/* =========== Main menu =*/
ul.main_menu {
    border-top: 1px solid #CCCCCC;}
ul.main_menu li {}
ul.main_menu li a {}

ul.main_menu li.category {
	display: block;
	float: left;
    list-style:none;
}
ul.main_menu>li.category:hover, ul.main_menu>li.category.arrow{
    background: url("images/li-arrow.gif") 50% 100% no-repeat;
    }
ul.main_menu li.category.arrow ul{
    display:block;
    }
ul.main_menu li.category ul{
    display:none;
    margin: 0;
    position:absolute;
    left:0;
    }
ul.main_menu li.category a {
	display: block;
	color: #888888;
    font-size: 1.1em;
    padding: 0 13px;
    margin:9px 0;
    border-right:1px solid #c3c3c3;
    border-left:1px solid #efefef;
}
ul.main_menu li.category:first-child a{
    border-left:none;
    }
ul.main_menu li.category:last-child a{
    border-right:none;
    }
ul.main_menu li.category a.current, ul.main_menu li.category a:hover {
    color:#000022;
    }

ul.main_menu li.page {
    float:left;
    list-style:none;
    }
ul.main_menu li.page a {
    color: #667788;
    font: bold 0.9em sans-serif;
    padding: 10px;
    margin:0px;
    border:none;
    }
    ul.main_menu li.page a:hover {
    color: #222233;
    }
    
/* =========== Search Results =*/
ul.search-results {}
ul.search-results li.search-result-row {
    border-bottom:1px solid #D5D5D5;
    padding-bottom:20px;
    margin-bottom:20px;
    list-style:none;
    }
ul.search-results a.page-teaser-image {}
ul.search-results a.page-title {
    font-size: 1.25em;
    color: #335577;
    font-family: "crete-rounded-web",sans-serif;
    line-height: 1;
    margin-bottom: 0.3em;
    
    display:block;
    }
ul.search-results img {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 3px;
    width: 98%;
    }
ul.search-results span {
    margin-bottom: 1em;
     display:block;
      line-height: 1.4em;
      }
/* =========== Featured area =*/
/*=============== other center ================*/
#center.c2 ul.featureditem li{
    display: inline-block;
    list-style: none outside none;
    margin: 0 2% 3%;
    padding-bottom: 0;
    vertical-align: top;
    width: 45%;
    }
    #center.c2 ul.featureditem li span{
        display:none;
        }
/*======================================*/





#center ul.featureditem li, #center ul.listpages li {list-style:none;}
ul.featureditem {}
ul.featureditem li {
    border-bottom:1px solid #D5D5D5;
    padding-bottom:20px;
    margin-bottom:20px;
    list-style:none;
    }
ul.featureditem a.page-teaser-image {}
ul.featureditem a.page-title {
    font-size: 1.1em;
    color: #335577;
    /*line-height: 17px ;*/
    margin-bottom: 0.3em;
    display:block;
    font-family: "crete-rounded-web",sans-serif;
    }
    ul.featureditem a.page-title:hover{
        text-decoration:underline;
        }
ul.featureditem img {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 3px;
    width: 96%;
    }
ul.featureditem span {
    margin-bottom: 1em;
     display:block;
      line-height: 1.3em;
      }
#center ul.featureditem img {
    /*width: 96%;*/
    }
    #center ul.featureditem a.page-title {
        margin:10px 0;
        }
/* =========== Featured page =*/
div.featureapage {
    border-bottom:1px solid #D5D5D5;
    padding-bottom:20px;
    margin-bottom:20px;
    }
div.featureapage a.page-teaser-image {}
div.featureapage a.page-title {
    font-size: 1.5em;
    color: #335577;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0.3em;
    display:block;
    }
div.featureapage img {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 3px;
    width: 98%;
    }
div.featureapage p {
    margin-bottom: 1em;
     display:block;
      line-height: 1.7em;
      }
/*----------------footer--------------*/
footer div.featureapage {
    border: 0;
    padding: 0;
    margin: 0 0 10px 10px;
    }
    footer div.featureapage a.page-title{
        font-size: 1em;
        }
        footer div.featureapage a.page-title:after{
            content:" ]";
            }
        footer div.featureapage a.page-title:before{
            content:"[ ";
            }
/*------------------------------------*/

ul.listpages {}
ul.listpages li {
    border-bottom:1px solid #D5D5D5;
    padding-bottom:20px;
    margin-bottom:20px;
    list-style:none;
    }

ul.listpages a {}
ul.listpages a.page-teaser-image{}
ul.listpages a.page-title {    
    font-family: "crete-rounded-web",sans-serif;
    font-size: 1.25em;
    /*font-weight: bold;*/
    color: #335577;
    line-height: 1;
    margin-bottom: 0.3em;
    display:block;
    
    }
ul.listpages img { 
    /*margin-bottom: 1em;*/
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 3px;   
    width: 98%;
    }
ul.listpages span {
     margin-bottom: 1em;
     display:block;
      line-height: 1.4em;
     }
/*=========sub menu====================*/
.sub-menu ul.listpages li{
    float:left;
    list-style:none;
    }
.sub-menu ul.listpages li a {
    color: #667788;
    font: bold 0.9em sans-serif;
    padding: 10px;
    margin:0px;
    border:none;
    }
    .sub-menu ul.listpages li a:hover {
    color: #222233;
    }
.sub-menu ul.listpages span{
    display:none;
    }
/*======================================*/     
#left ul.listpages, #left ul.featureditem {
    /*padding-top:20px;*/
    /*border-top:1px solid #D5D5D5;*/
    }
#left ul.listpages li, #left ul.featureditem li, #left ul.search-results li{
    border-bottom:none;
    padding-bottom:0;
    display:inline-block;
    *display:inline;
    width: 23%;
    margin: 0 5px 10px 5px;
    vertical-align:top;
    /*height: 215px;*/
    overflow:hidden;
    }
#left ul.listpages a.page-teaser-image, #left ul.featureditem a.page-teaser-image, #left ul.search-results a.page-teaser-image{
    display: block;
    margin-bottom: 10px;
   /* max-height: 122px;*/
    overflow: hidden;
    }
#left ul.listpages img, #left ul.featureditem img, #left ul.search-results img {
   /* max-height: 113px;*/
       width: 94%;
       /*for monument Taras Shevchenko */
    /*max-height: 124px;*/
       }

#left ul.listpages span, #left ul.featureditem span, #left ul.search-results span {
    height: 65px;
    overflow: hidden;
}/**** NAV.CSS end ****/
/**** PRODUCTS.CSS start ****/
/*

    -pie-background: linear-gradient(#fff 0%, #fff 70%);
    behavior:url(PIE.htc);
	position:relative;

*/



/* CSS Document */

/*======= shopping =========*/

/*description*/
div.hproduct { }
div.hproduct h1 { }
div.hproduct h3 {}
div.hproduct h4  {}
div.hproduct a.url { }
div.hproduct a.linktoeditproduct { }
div.hproduct img.product-thumb { }
div.hproduct span.brand {
	display:block;
	margin:10px 0;
}
div.hproduct span.category { }
div.hproduct span.description { }
div.hproduct span.price {display:block;}
div.hproduct span.onsale { }
div.hproduct span.iditem {}
div.hproduct form { }
div.hproduct input.addtocart { }
div.hproduct input.addtocart:hover { }
div.hproduct input.addtocart-amount { }


/*options*/
div.hproduct select {
	margin:2px 0;
	padding:1px;
}
div.hproduct label {
	float:left;
	margin:2px 0;
	width:130px;
}

/*relatedproducts*/
div.hproduct ul#relatedproducts { }
div.hproduct ul#relatedproducts li { }
div.hproduct ul#relatedproducts li img { }
div.hproduct ul#relatedproducts li a { }
div.hproduct ul#relatedproducts li input { }

/*prodlist*/
div.hproductlist {
	display:inline-block;
	margin:10px;
	max-width:180px;
	vertical-align:top;
}

*+html div.prodlist{display:inline;}

div.hproductlist h2.fn {font-size:20px;
font-weight:normal; }
div.hproductlist img.product-thumb {max-width:180px; }
div.hproductlist span.price {display:block; }
div.hproductlist span.description { }
div.hproductlist span.onsale { }
div.hproductlist input.addtocart  {}

/*cart preview*/
div#usr-cart-widget {margin:5px 30px 5px 0;
float:right;
clear:both;
line-height:130%;}

div#usr-cart-widget span { }
div#usr-cart-widget a { }
div#free-shipping-tip {}

#usr-cart-widget-status{
font-size:15px;
position:fixed;
left:43%;
top:40%;
display:none;
width:14%;
}
/**** PRODUCTS.CSS end ****/
/**** GRID.CSS start ****/
/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/* =Containers
--------------------------------------------------------------------------------*/

.container_12,
.container_16
{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16
{
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}

.container_12 .grid_3,
.container_16 .grid_4
{
	width: 23%;
}

.container_12 .grid_6,
.container_16 .grid_8
{
	width: 48%;
}

.container_12 .grid_9,
.container_16 .grid_12
{
	width: 73%;
}

.container_12 .grid_12,
.container_16 .grid_16
{
	width: 98%;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/

.alpha
{
	margin-left: 0;
}

.omega
{
	margin-right: 0;
}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/

.container_12 .grid_1
{
	width: 6.333%;
}

.container_12 .grid_2
{
	width: 14.666%;
}

.container_12 .grid_4
{
	width: 31.333%;
}

.container_12 .grid_5
{
	width: 39.666%;
}

.container_12 .grid_7
{
	width: 56.333%;
}

.container_12 .grid_8
{
	width: 64.666%;
}

.container_12 .grid_10
{
	width: 81.333%;
}

.container_12 .grid_11
{
	width: 89.666%;
}

/* =Grid >> 16 Columns
--------------------------------------------------------------------------------*/

.container_16 .grid_1
{
	width: 4.25%;
}

.container_16 .grid_2
{
	width: 10.5%;
}

.container_16 .grid_3
{
	width: 16.75%;
}

.container_16 .grid_5
{
	width: 29.25%;
}

.container_16 .grid_6
{
	width: 35.5%;
}

.container_16 .grid_7
{
	width: 41.75%;
}

.container_16 .grid_9
{
	width: 54.25%;
}

.container_16 .grid_10
{
	width: 60.5%;
}

.container_16 .grid_11
{
	width: 66.75%;
}

.container_16 .grid_13
{
	width: 79.25%;
}

.container_16 .grid_14
{
	width: 85.5%;
}

.container_16 .grid_15
{
	width: 91.75%;
}

/* =Prefix Extra Space >> Global
--------------------------------------------------------------------------------*/

.container_12 .prefix_3,
.container_16 .prefix_4
{
	padding-left: 25%;
}

.container_12 .prefix_6,
.container_16 .prefix_8
{
	padding-left: 50%;
}

.container_12 .prefix_9,
.container_16 .prefix_12
{
	padding-left: 75%;
}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/

.container_12 .prefix_1
{
	padding-left: 8.333%;
}

.container_12 .prefix_2
{
	padding-left: 16.666%;
}

.container_12 .prefix_4
{
	padding-left: 33.333%;
}

.container_12 .prefix_5
{
	padding-left: 41.666%;
}

.container_12 .prefix_7
{
	padding-left: 58.333%;
}

.container_12 .prefix_8
{
	padding-left: 66.666%;
}

.container_12 .prefix_10
{
	padding-left: 83.333%;
}

.container_12 .prefix_11
{
	padding-left: 91.666%;
}

/* =Prefix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/

.container_16 .prefix_1
{
	padding-left: 6.25%;
}

.container_16 .prefix_2
{
	padding-left: 12.5%;
}

.container_16 .prefix_3
{
	padding-left: 18.75%;
}

.container_16 .prefix_5
{
	padding-left: 31.25%;
}

.container_16 .prefix_6
{
	padding-left: 37.5%;
}

.container_16 .prefix_7
{
	padding-left: 43.75%;
}

.container_16 .prefix_9
{
	padding-left: 56.25%;
}

.container_16 .prefix_10
{
	padding-left: 62.5%;
}

.container_16 .prefix_11
{
	padding-left: 68.75%;
}

.container_16 .prefix_13
{
	padding-left: 81.25%;
}

.container_16 .prefix_14
{
	padding-left: 87.5%;
}

.container_16 .prefix_15
{
	padding-left: 93.75%;
}

/* =Suffix Extra Space >> Global
--------------------------------------------------------------------------------*/

.container_12 .suffix_3,
.container_16 .suffix_4
{
	padding-right: 25%;
}

.container_12 .suffix_6,
.container_16 .suffix_8
{
	padding-right: 50%;
}

.container_12 .suffix_9,
.container_16 .suffix_12
{
	padding-right: 75%;
}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/

.container_12 .suffix_1
{
	padding-right: 8.333%;
}

.container_12 .suffix_2
{
	padding-right: 16.666%;
}

.container_12 .suffix_4
{
	padding-right: 33.333%;
}

.container_12 .suffix_5
{
	padding-right: 41.666%;
}

.container_12 .suffix_7
{
	padding-right: 58.333%;
}

.container_12 .suffix_8
{
	padding-right: 66.666%;
}

.container_12 .suffix_10
{
	padding-right: 83.333%;
}

.container_12 .suffix_11
{
	padding-right: 91.666%;
}

/* =Suffix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/

.container_16 .suffix_1
{
	padding-right: 6.25%;
}

.container_16 .suffix_2
{
	padding-right: 16.5%;
}

.container_16 .suffix_3
{
	padding-right: 18.75%;
}

.container_16 .suffix_5
{
	padding-right: 31.25%;
}

.container_16 .suffix_6
{
	padding-right: 37.5%;
}

.container_16 .suffix_7
{
	padding-right: 43.75%;
}

.container_16 .suffix_9
{
	padding-right: 56.25%;
}

.container_16 .suffix_10
{
	padding-right: 62.5%;
}

.container_16 .suffix_11
{
	padding-right: 68.75%;
}

.container_16 .suffix_13
{
	padding-right: 81.25%;
}

.container_16 .suffix_14
{
	padding-right: 87.5%;
}

.container_16 .suffix_15
{
	padding-right: 93.75%;
}

/* =Clear Floated Elements
--------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.positioniseverything.net/easyclearing.html */

.clearfix:after
{
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.clearfix
{
	display: inline-block;
}

* html .clearfix
{
	height: 1%;
}

.clearfix
{
	display: block;
}/**** GRID.CSS end ****/
/**** TOASTER-ICON.CSS start ****/
@font-face {
	font-family: 'toaster-icon';
	src:url('fonts/toaster-icon.eot');
	src:url('fonts/toaster-icon.eot?#iefix') format('embedded-opentype'), url('fonts/toaster-icon.svg#toaster-icon') format('svg'), url('fonts/toaster-icon.woff') format('woff'), url('fonts/toaster-icon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.icon12 {font-size:12px !important;width:12px !important;line-height:12px;}
.icon14 {font-size:14px !important;width:14px !important;line-height:14px;}
.icon16 {font-size:16px !important;width:16px !important;line-height:16px;}
.icon18 {font-size:18px !important;width:18px !important;line-height:18px;}
.icon24 {font-size:24px !important;width:24px !important;line-height:24px;}
.icon32 {font-size:32px !important;width:32px !important;line-height:32px;}
.icon48 {font-size:48px !important;width:48px !important;line-height:48px;}
.icon64 {font-size:64px !important;width:64px !important;line-height:64px;}
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs24 {font-size:24px;}
.fs32 {font-size:32px;}
.fs48 {font-size:48px;}
.fs64 {font-size:64px;}
/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before, .icon-toaster{
	font-family: 'toaster-icon';
	font-style: normal;
	speak: none;
	font-weight: normal !important;
	-webkit-font-smoothing: antialiased;
	display:inline;
	line-height:1;
}

.icon-twitter:before {
	content: "\e003";
}
.icon-facebook:before {
	content: "\e004";
}
/**** TOASTER-ICON.CSS end ****/
