/**
    -pie-background: linear-gradient(#fff 0%, #fff 70%);
    behavior:url(themes/.../PIE.htc);
	position:relative;
	
*/
/* CSS Document */
/* =========== links =*/
a { 
    text-decoration: none; 
    /*color: #335577;*/
    color: #003399;
    }
a:hover { }
a:visited {}
a:active {}
/* =========== Logos style =*/
a.logo {
    color: #000000;
    font-size:70px;
    font-family: "crete-rounded-web",sans-serif;
    font-weight:300;
    padding:12px 0;
    display:block;
}

a.logo:hover{
        text-decoration:none;
    }
h1.logo {

}
a.logo img {}
/* =========== Header =*/
h1, h2, h3, h4, h5, h6, .h3 {
	color: #335577;
    font-weight: normal;
    font-family: "crete-rounded-web",sans-serif;
}

h1, h2.home-title {
    /*margin-bottom:25px;*/
    display:block;
    font-size: 2em;
    margin:15px 0 20px;
    }
h2 { 
    font-size: 1.5em;
    margin-bottom:20px;
    }
div#left h2 {
    /*background: none repeat scroll 0 0 #EEEEEE;*/
    margin: 15px 0;
    /*padding: 5px 10px;
    text-align:center;*/
    clear:both;
}
div#left h3, div#left .h3, div#left h4, div#left h5, div#right .h3{
   margin: 10px 0;
   display:block;
   margin: 10px 0;
   }
   div#left h5{
       text-transform:uppercase;
       }
footer .h3{
    margin-bottom:10px;
    display:block;
    }
div#center h2, div#center h3, div#center .h3, div#right h2 {
    /*background-color: #F2F6FA;
    border-top: 2px solid #AABBCC;*/
    font: normal 1.3em "crete-rounded-web",sans-serif;
    margin-bottom: 5px;
    min-height: 0;
    padding: 5px 8px 6px;
    clear:both;
    }
h3, .h3 { font-size: 1.45em; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
/* =========== Facebook header =*/
h4.fb {
	text-align: center;
	padding: 4px 0;
}
/* =========== Listings =*/
ul, ul.sitemap, ol {
	clear: both;
}
ul li, ul.sitemap li, ol li {
}
ul li {}
ol li { list-style: decimal inside none; }

ul ul, ol ol {
	margin: 6px 0;
}
/* =========== Formats =*/
p {
    line-height: 1.7em;
    margin-bottom:1em;
}
p img {
   
    }
em { 
	font-size: 14px;
	font-weight: bold; 
}
blockquote {
    background:url("images/bq.png") 0 0 no-repeat;
	padding: 5px 5px 5px 30px;
	font-style: italic;
	margin: 15px 0;
    line-height:18px;
    
}
address {
    margin-bottom:1em;
    line-height: 1.7em;
    }
/* =========== Table =*/
table {
	width: 100%;
	border-collapse: collapse;
	border: none;
}
table thead th, table  tbody td {
	padding: 6px;
}
table thead th{
	border-bottom: 1px solid #AAA;
	color: #151515;
	text-align: left;
}
table tbody {
	margin: 1px;
	border: none;
}
table  tbody td {
	border: none;
}
table tbody tr {
	border-bottom: 1px solid #EEE;
}
table tbody tr:hover {
	background-color: #F1F1F1;
}
/* =========== For content styles in editior =*/
.left-img-style, .right-img-style {}
.left-img-style { 
	float: left; 
}
.right-img-style { 
	float: right;
}
