/**
    -pie-background: linear-gradient(#fff 0%, #fff 70%);
    behavior:url(themes/.../PIE.htc);
	position:relative;
*/
/* CSS Document */
/* =========== Flat menu =*/
ul.static_menu { overflow: hidden; }
ul.static_menu li {
	display: block;
	float: left;
	padding: 2px 6px;
}
ul.static_menu li a {}
ul.static_menu li a span {}

ul.static_menu li a.current {}
ul.static_menu li a:hover {}
/* =========== Main menu =*/
ul.main_menu {
    border-top: 1px solid #CCCCCC;}
ul.main_menu li {}
ul.main_menu li a {}

ul.main_menu li.category {
	display: block;
	float: left;
    list-style:none;
}
ul.main_menu>li.category:hover, ul.main_menu>li.category.arrow{
    background: url("images/li-arrow.gif") 50% 100% no-repeat;
    }
ul.main_menu li.category.arrow ul{
    display:block;
    }
ul.main_menu li.category ul{
    display:none;
    margin: 0;
    position:absolute;
    left:0;
    }
ul.main_menu li.category a {
	display: block;
	color: #888888;
    font-size: 1.1em;
    padding: 0 13px;
    margin:9px 0;
    border-right:1px solid #c3c3c3;
    border-left:1px solid #efefef;
}
ul.main_menu li.category:first-child a{
    border-left:none;
    }
ul.main_menu li.category:last-child a{
    border-right:none;
    }
ul.main_menu li.category a.current, ul.main_menu li.category a:hover {
    color:#000022;
    }

ul.main_menu li.page {
    float:left;
    list-style:none;
    }
ul.main_menu li.page a {
    color: #667788;
    font: bold 0.9em sans-serif;
    padding: 10px;
    margin:0px;
    border:none;
    }
    ul.main_menu li.page a:hover {
    color: #222233;
    }
    
/* =========== Search Results =*/
ul.search-results {}
ul.search-results li.search-result-row {
    border-bottom:1px solid #D5D5D5;
    padding-bottom:20px;
    margin-bottom:20px;
    list-style:none;
    }
ul.search-results a.page-teaser-image {}
ul.search-results a.page-title {
    font-size: 1.25em;
    color: #335577;
    font-family: "crete-rounded-web",sans-serif;
    line-height: 1;
    margin-bottom: 0.3em;
    
    display:block;
    }
ul.search-results img {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 3px;
    width: 98%;
    }
ul.search-results span {
    margin-bottom: 1em;
     display:block;
      line-height: 1.4em;
      }
/* =========== Featured area =*/
/*=============== other center ================*/
#center.c2 ul.featureditem li{
    display: inline-block;
    list-style: none outside none;
    margin: 0 2% 3%;
    padding-bottom: 0;
    vertical-align: top;
    width: 45%;
    }
    #center.c2 ul.featureditem li span{
        display:none;
        }
/*======================================*/





#center ul.featureditem li, #center ul.listpages li {list-style:none;}
ul.featureditem {}
ul.featureditem li {
    border-bottom:1px solid #D5D5D5;
    padding-bottom:20px;
    margin-bottom:20px;
    list-style:none;
    }
ul.featureditem a.page-teaser-image {}
ul.featureditem a.page-title {
    font-size: 1.1em;
    color: #335577;
    /*line-height: 17px ;*/
    margin-bottom: 0.3em;
    display:block;
    font-family: "crete-rounded-web",sans-serif;
    }
    ul.featureditem a.page-title:hover{
        text-decoration:underline;
        }
ul.featureditem img {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 3px;
    width: 96%;
    }
ul.featureditem span {
    margin-bottom: 1em;
     display:block;
      line-height: 1.3em;
      }
#center ul.featureditem img {
    /*width: 96%;*/
    }
    #center ul.featureditem a.page-title {
        margin:10px 0;
        }
/* =========== Featured page =*/
div.featureapage {
    border-bottom:1px solid #D5D5D5;
    padding-bottom:20px;
    margin-bottom:20px;
    }
div.featureapage a.page-teaser-image {}
div.featureapage a.page-title {
    font-size: 1.5em;
    color: #335577;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0.3em;
    display:block;
    }
div.featureapage img {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 3px;
    width: 98%;
    }
div.featureapage p {
    margin-bottom: 1em;
     display:block;
      line-height: 1.7em;
      }
/*----------------footer--------------*/
footer div.featureapage {
    border: 0;
    padding: 0;
    margin: 0 0 10px 10px;
    }
    footer div.featureapage a.page-title{
        font-size: 1em;
        }
        footer div.featureapage a.page-title:after{
            content:" ]";
            }
        footer div.featureapage a.page-title:before{
            content:"[ ";
            }
/*------------------------------------*/

ul.listpages {}
ul.listpages li {
    border-bottom:1px solid #D5D5D5;
    padding-bottom:20px;
    margin-bottom:20px;
    list-style:none;
    }

ul.listpages a {}
ul.listpages a.page-teaser-image{}
ul.listpages a.page-title {    
    font-family: "crete-rounded-web",sans-serif;
    font-size: 1.25em;
    /*font-weight: bold;*/
    color: #335577;
    line-height: 1;
    margin-bottom: 0.3em;
    display:block;
    
    }
ul.listpages img { 
    /*margin-bottom: 1em;*/
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 3px;   
    width: 98%;
    }
ul.listpages span {
     margin-bottom: 1em;
     display:block;
      line-height: 1.4em;
     }
/*=========sub menu====================*/
.sub-menu ul.listpages li{
    float:left;
    list-style:none;
    }
.sub-menu ul.listpages li a {
    color: #667788;
    font: bold 0.9em sans-serif;
    padding: 10px;
    margin:0px;
    border:none;
    }
    .sub-menu ul.listpages li a:hover {
    color: #222233;
    }
.sub-menu ul.listpages span{
    display:none;
    }
/*======================================*/     
#left ul.listpages, #left ul.featureditem {
    /*padding-top:20px;*/
    /*border-top:1px solid #D5D5D5;*/
    }
#left ul.listpages li, #left ul.featureditem li, #left ul.search-results li{
    border-bottom:none;
    padding-bottom:0;
    display:inline-block;
    *display:inline;
    width: 23%;
    margin: 0 5px 10px 5px;
    vertical-align:top;
    /*height: 215px;*/
    overflow:hidden;
    }
#left ul.listpages a.page-teaser-image, #left ul.featureditem a.page-teaser-image, #left ul.search-results a.page-teaser-image{
    display: block;
    margin-bottom: 10px;
   /* max-height: 122px;*/
    overflow: hidden;
    }
#left ul.listpages img, #left ul.featureditem img, #left ul.search-results img {
   /* max-height: 113px;*/
       width: 94%;
       /*for monument Taras Shevchenko */
    /*max-height: 124px;*/
       }

#left ul.listpages span, #left ul.featureditem span, #left ul.search-results span {
    height: 65px;
    overflow: hidden;
}