/*

    -pie-background: linear-gradient(#fff 0%, #fff 70%);
    behavior:url(PIE.htc);
	position:relative;

*/



/* CSS Document */

/*======= shopping =========*/

/*description*/
div.hproduct { }
div.hproduct h1 { }
div.hproduct h3 {}
div.hproduct h4  {}
div.hproduct a.url { }
div.hproduct a.linktoeditproduct { }
div.hproduct img.product-thumb { }
div.hproduct span.brand {
	display:block;
	margin:10px 0;
}
div.hproduct span.category { }
div.hproduct span.description { }
div.hproduct span.price {display:block;}
div.hproduct span.onsale { }
div.hproduct span.iditem {}
div.hproduct form { }
div.hproduct input.addtocart { }
div.hproduct input.addtocart:hover { }
div.hproduct input.addtocart-amount { }


/*options*/
div.hproduct select {
	margin:2px 0;
	padding:1px;
}
div.hproduct label {
	float:left;
	margin:2px 0;
	width:130px;
}

/*relatedproducts*/
div.hproduct ul#relatedproducts { }
div.hproduct ul#relatedproducts li { }
div.hproduct ul#relatedproducts li img { }
div.hproduct ul#relatedproducts li a { }
div.hproduct ul#relatedproducts li input { }

/*prodlist*/
div.hproductlist {
	display:inline-block;
	margin:10px;
	max-width:180px;
	vertical-align:top;
}

*+html div.prodlist{display:inline;}

div.hproductlist h2.fn {font-size:20px;
font-weight:normal; }
div.hproductlist img.product-thumb {max-width:180px; }
div.hproductlist span.price {display:block; }
div.hproductlist span.description { }
div.hproductlist span.onsale { }
div.hproductlist input.addtocart  {}

/*cart preview*/
div#usr-cart-widget {margin:5px 30px 5px 0;
float:right;
clear:both;
line-height:130%;}

div#usr-cart-widget span { }
div#usr-cart-widget a { }
div#free-shipping-tip {}

#usr-cart-widget-status{
font-size:15px;
position:fixed;
left:43%;
top:40%;
display:none;
width:14%;
}
