/*

    -pie-background: linear-gradient(#fff 0%, #fff 70%);
    behavior:url(PIE.htc);
	position:relative;

*/



/*=========== Reset CSS ============*/
* {
	margin:0;
	padding:0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video, a {
    font-family: inherit;
	margin:0;
	padding:0;
    border:none;
	outline:none;
	vertical-align:baseline;
	background:transparent;
	line-height:normal;
    
}

table {
	border-collapse:collapse;
}

table td{
	padding:4px;
	border:1px solid #999;
}

a,input,button{outline:none;}

input,button{overflow:visible;}

hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}

.centered {
	margin-left:auto;
	margin-right:auto;
}

.container_12 img,.container_16 img{
 height:auto;
/*width:auto;*/}

a,input,button,checkbox{cursor:pointer;}

img,input,button,checkbox{vertical-align:middle;}

/* ===== Rounded corner ===== */
.roundedtop {
	-o-border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius:5px 5px 0 0;
    behavior:url(/../../PIE.htc);
	position:relative;
}

.roundedbottom {
	-o-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
    behavior:url(/../../PIE.htc);
	position:relative;
}

.rounded3px {
	-o-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	 border-radius:3px;
    behavior:url(/../../PIE.htc);
	position:relative;
}
.rounded5px {
	-o-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
    behavior:url(/../../PIE.htc);
	position:relative;
}
.shadowed {
	-o-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
    box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#e6e5e5',direction='115',strength='7');
    behavior:url(/../../PIE.htc);
	position:relative;
}

/*===== System Messages ==========*/
.formErrorMessage, .formSuccessMessage,#seotoaster div.success, #seotoaster div.errors,div#msg,#usr-cart-widget-status {
	-o-border-radius:15px;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #FFF;
	color:#FFF;
    cursor:pointer;
	font-weight:bold;
	opacity:0.75;
	filter:Alpha(opacity=75);
    -moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	padding:30px;
	position:absolute;
	text-align:center;
	top:35%;
	left:25%;
	z-index:999;}
    behavior:url(/../../PIE.htc);
	position:relative;
	
.formErrorMessage, .formSuccessMessage {left:40%;}

div#msg {top:250px;
left:35%;}
	
#seotoaster div.errors ul li { list-style-type:none; }
#seotoaster div.success,.formSuccessMessage,#usr-cart-widget-status {background-color:olive; }
#seotoaster div.errors,.formErrorMessage,div#msg{ background-color:#990000; }

/* ====== reset for all navigation items ========== */
ul#static_menu, ul#static_menu li, ul#main_menu, ul#main_menu li, ul#main_menu ul, ul#main_menu ul li, ul#listpages, ul#listpages li, ul#listcategories, ul#listcategories li, ul.featureditem, ul.featureditem li, ul#relatedpages, ul#relatedpages li, ul.listxrss, ul.listxrss li, ul#searchresult, ul#searchresult li, ul.sitemap, ul.sitemap li, ol.comments-ol-list, ol.comments-ol-list li {
	margin:0;
	padding:0;
	list-style-type: none;
}
ul#listpages li, ul#listcategories li, ul.featureditem li,.featureapage {
	margin-bottom:5px;
	overflow:hidden;
}
ul#listpages img, ul#listcategories img, ul.featureditem img, ul#relatedpages img, ul.listxrss img, ul#searchresult img,.featureapage img{
	/*float:left;
	margin-right:4px;
	max-width:125px;*/
}
ul#listpages span, ul#listcategories span, ul.featureditem span,.featureapage p {
	display:block;
	margin:2px 0 7px;
}

ul#listpages span:empty, ul#listcategories span:empty, ul.featureditem span:empty,.featureapage p:empty{margin:0;
display:none;}

ul#static_menu li a, ul#main_menu li a {
	display:block;
	text-decoration:none;
}
/*========= 960 css ============*/
.container_12, .container_16 {
	margin-left:auto;
	margin-right:auto;
	width:960px;
	overflow:hidden;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
	display:inline;
	float:left;
	position:relative;
	margin-left:10px;
	margin-right:10px
}

.container_16 .grid_16,.container_12 .grid_12{
display:block;
clear:both;}

.container_12 .grid_3, .container_16 .grid_4 { width:220px }
.container_12 .grid_6, .container_16 .grid_8 { width:460px }
.container_12 .grid_9, .container_16 .grid_12 { width:700px }
.container_12 .grid_12, .container_16 .grid_16 { width:940px }
.alpha { margin-left:0 }
.omega { margin-right:0 }
.container_12 .grid_1 { width:60px }
.container_12 .grid_2 { width:140px }
.container_12 .grid_4 { width:300px }
.container_12 .grid_5 { width:380px }
.container_12 .grid_7 { width:540px }
.container_12 .grid_8 { width:620px }
.container_12 .grid_10 { width:780px }
.container_12 .grid_11 { width:860px }
.container_16 .grid_1 { width:40px }
.container_16 .grid_2 { width:100px }
.container_16 .grid_3 { width:160px }
.container_16 .grid_5 { width:280px }
.container_16 .grid_6 { width:340px }
.container_16 .grid_7 { width:400px }
.container_16 .grid_9 { width:520px }
.container_16 .grid_10 { width:580px }
.container_16 .grid_11 { width:640px }
.container_16 .grid_13 { width:760px }
.container_16 .grid_14 { width:820px }
.container_16 .grid_15 { width:880px }
.container_12 .prefix_3, .container_16 .prefix_4 { padding-left:240px }
.container_12 .prefix_6, .container_16 .prefix_8 { padding-left:480px }
.container_12 .prefix_9, .container_16 .prefix_12 { padding-left:720px }
.container_12 .prefix_1 { padding-left:80px }
.container_12 .prefix_2 { padding-left:160px }
.container_12 .prefix_4 { padding-left:320px }
.container_12 .prefix_5 { padding-left:400px }
.container_12 .prefix_7 { padding-left:560px }
.container_12 .prefix_8 { padding-left:640px }
.container_12 .prefix_10 { padding-left:800px }
.container_12 .prefix_11 { padding-left:880px }
.container_16 .prefix_1 { padding-left:60px }
.container_16 .prefix_2 { padding-left:120px }
.container_16 .prefix_3 { padding-left:180px }
.container_16 .prefix_5 { padding-left:300px }
.container_16 .prefix_6 { padding-left:360px }
.container_16 .prefix_7 { padding-left:420px }
.container_16 .prefix_9 { padding-left:540px }
.container_16 .prefix_10 { padding-left:600px }
.container_16 .prefix_11 { padding-left:660px }
.container_16 .prefix_13 { padding-left:780px }
.container_16 .prefix_14 { padding-left:840px }
.container_16 .prefix_15 { padding-left:900px }
.container_12 .suffix_3, .container_16 .suffix_4 { padding-right:240px }
.container_12 .suffix_6, .container_16 .suffix_8 { padding-right:480px }
.container_12 .suffix_9, .container_16 .suffix_12 { padding-right:720px }
.container_12 .suffix_1 { padding-right:80px }
.container_12 .suffix_2 { padding-right:160px }
.container_12 .suffix_4 { padding-right:320px }
.container_12 .suffix_5 { padding-right:400px }
.container_12 .suffix_7 { padding-right:560px }
.container_12 .suffix_8 { padding-right:640px }
.container_12 .suffix_10 { padding-right:800px }
.container_12 .suffix_11 { padding-right:880px }
.container_16 .suffix_1 { padding-right:60px }
.container_16 .suffix_2 { padding-right:120px }
.container_16 .suffix_3 { padding-right:180px }
.container_16 .suffix_5 { padding-right:300px }
.container_16 .suffix_6 { padding-right:360px }
.container_16 .suffix_7 { padding-right:420px }
.container_16 .suffix_9 { padding-right:540px }
.container_16 .suffix_10 { padding-right:600px }
.container_16 .suffix_11 { padding-right:660px }
.container_16 .suffix_13 { padding-right:780px }
.container_16 .suffix_14 { padding-right:840px }
.container_16 .suffix_15 { padding-right:900px }
.container_12 .push_3, .container_16 .push_4 { left:240px }
.container_12 .push_6, .container_16 .push_8 { left:480px }
.container_12 .push_9, .container_16 .push_12 { left:720px }
.container_12 .push_1 { left:80px }
.container_12 .push_2 { left:160px }
.container_12 .push_4 { left:320px }
.container_12 .push_5 { left:400px }
.container_12 .push_7 { left:560px }
.container_12 .push_8 { left:640px }
.container_12 .push_10 { left:800px }
.container_12 .push_11 { left:880px }
.container_16 .push_1 { left:60px }
.container_16 .push_2 { left:120px }
.container_16 .push_3 { left:180px }
.container_16 .push_5 { left:300px }
.container_16 .push_6 { left:360px }
.container_16 .push_7 { left:420px }
.container_16 .push_9 { left:540px }
.container_16 .push_10 { left:600px }
.container_16 .push_11 { left:660px }
.container_16 .push_13 { left:780px }
.container_16 .push_14 { left:840px }
.container_16 .push_15 { left:900px }
.container_12 .pull_3, .container_16 .pull_4 { left:-240px }
.container_12 .pull_6, .container_16 .pull_8 { left:-480px }
.container_12 .pull_9, .container_16 .pull_12 { left:-720px }
.container_12 .pull_1 { left:-80px }
.container_12 .pull_2 { left:-160px }
.container_12 .pull_4 { left:-320px }
.container_12 .pull_5 { left:-400px }
.container_12 .pull_7 { left:-560px }
.container_12 .pull_8 { left:-640px }
.container_12 .pull_10 { left:-800px }
.container_12 .pull_11 { left:-880px }
.container_16 .pull_1 { left:-60px }
.container_16 .pull_2 { left:-120px }
.container_16 .pull_3 { left:-180px }
.container_16 .pull_5 { left:-300px }
.container_16 .pull_6 { left:-360px }
.container_16 .pull_7 { left:-420px }
.container_16 .pull_9 { left:-540px }
.container_16 .pull_10 { left:-600px }
.container_16 .pull_11 { left:-660px }
.container_16 .pull_13 { left:-780px }
.container_16 .pull_14 { left:-840px }
.container_16 .pull_15 { left:-900px }
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
* html .clearfix, *:first-child+html .clearfix { zoom:1 }

.padding5px { padding:5px; }
.padding8px { padding:8px; }
.padding10px { padding:10px; }
.mt5px { margin-top:5px; }
.mt8px { margin-top:8px; }
.mt10px { margin-top:10px; }
.mt20px { margin-top:20px; }
.mt30px { margin-top:30px; }
.mb5px { margin-bottom:5px; }
.mb8px { margin-bottom:8px; }
.mb10px { margin-bottom:10px; }
.mb15px { margin-bottom:15px; }
.mb20px { margin-bottom:20px; }
.mb30px { margin-bottom:30px; }
.mleft0px { margin-left:0px; }
.mleft10px { margin-left:10px; }
.mleft20px { margin-left:20px; }/*Margin left*/

/* If we need to apply border to grid*/
.container_12 .m9px,.container_16 .m9px{margin-left:9px;
margin-right:9px;}

.container_12 .mright8px,.container_16 .mright8px{margin-right:8px;} /*if it's the first grid with class='alpha'*/
.container_12 .mleft8px,.container_16 .mleft8px{margin-left:8px;} /*if it's the last grid with class='omega'*/


/*=== For newsroom template===*/
ol#controls{list-style-type:none;
position:absolute;
top:35px;
left:5px;
right:5px;
overflow:visible;
padding:5px 0;}

ol#controls li{float:left;
margin-right:8px;
padding:2px 7px;
border:1px solid #C5DEEF;
color:#098AB4;
background-color:#eee;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}

#controls li a{text-decoration:none;
font-weight:bold;}

#controls li.current{background-color:#fff;
border:1px solid #ABCFE7;
color:#0E5DA8;}

.featheadline{position:relative;}

.headf{padding:5px;
white-space:nowrap;
margin-bottom:40px;}

.feathead li{
float:left;
width:380px;}


.feathead li,.newsroom .feathead .news-item,.listxrss li{list-style-type:none;}

.newsroom .news-item,.listxrss li{padding:0 0 10px;
border-bottom:1px dotted #ccc;
margin:10px 0 0;}

.newsroom .news-item h4{margin:3px 0;}

.newsroom .news-item h4 a{text-decoration:none;
border-bottom:none;
font-size:15px;}


/*For video plugin*/
ul#utubvi_thumbs li img{height:91px!important;
width:123px!important;}

#paging{padding-bottom:15px!important;
padding-top:10px;}

#paging a{padding:5px 35px!important;}

#utubvi_player h4{
margin-top:0!important;
color:#333!important;
background:#ccc!important;}

#utubvi_player embed{width:280px!important;
height:auto!important;}
