/**
    -pie-background: linear-gradient(#fff 0%, #fff 70%);
    behavior:url(themes/.../PIE.htc);
	position:relative;
*/
/* CSS Document */
/*===== General Layout =====*/
html {}
body {
    text-rendering: optimizeSpeed;
    color: #333344;
    font: 1em/1.7em sans-serif;

}
body > img{
    display:none!important;
    }
header{
    margin-bottom: 12px;
    }
header, nav, footer {
    display:block;
    position:relative;
    }
    .sub-menu {
        background: none repeat scroll 0 0 #DDEDF7;
        height:38px;
        width:100%;
        overflow:hidden;
    }
nav {
    clear: both;
    }
footer {
    background: none repeat scroll 0 0 #FAFAFA;
    border-top: 1px solid #E7E7E7;
    padding: 15px 0;
    margin-top: 20px;
    text-align:center;
    }
    .soc-button-f{
        overflow:hidden;
        margin-bottom:15px;
        margin: 0 auto 15px;
        width: 300px;
        }
        .soc-button-f span{
            display:block;
            float:left;
            }
            .soc-button-f span.fbf{
                margin-top:2px;
                }
.wrap-tl{
    background-color:#eee;
    }
    .soc{
    font-weight:bold;
    /*width:200px;*/
    float:right;
    display:block;
    }
    .soc p {
        float: left;
        margin: 8px 0;
        font-size: 14px;
        }    
    /*.soc a.tw, .soc a.fb{
    display: block;
    height: 33px;
    overflow: hidden;
    width: 33px;
    float:right;
    margin:3px;
    position:relative;
    }
    .soc a.fb img{
    left:-33px;
    }
    .soc a img{
        position:relative;
        }
    .soc a.tw:hover img, .soc a.fb:hover img{
        top:-38px;
        }
        */
    span.soc>a{
        font-size:30px;
        float:right;
        margin-left: 7px;
        }
    .soc .icon-twitter{
        color:#1ab2e8;
        }
    header #forecast {
        display:none;
        }
    header #weather{
        padding-top:10px;
        float: right;
        overflow: hidden;        
        }
    #left #weather{
        margin:0 auto;
        }
        #today_weather{
        float:left;
            }
            #today_weather img{
                margin-top:-12px;
                }
    .weather, .rate{
        text-align:center;
        }
    .weather{
        padding: 5px 0;
        }    
    
    
    .rate{
        padding:15px 0;
        }
#container {}
#center {}
    #center img{
        max-width:100%;
        }
    #center ul li {
        margin-bottom:7px;
        list-style: disc inside;
        }
div.address{
    position:relative;
    border-bottom: 1px solid #ccc;
    clear:both;
    overflow: hidden;
    padding-bottom: 25px;
    }
    div.address>img{
        float:left;
        margin:5px 10px 5px 0;
        }
    div.address .checkprices{
        font-weight:bold;
        position:absolute;
        right:0;
        bottom:10px;
        /*float:right;*/
        color:#333344;
        background: #DDEDF7;
        padding: 5px 10px;
        font-size: 16px;
        margin: 0 8px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
        }
        div.address .checkprices:hover{
            background: #87ccf7;
            color: #fff;
            padding: 7px 10px;
            -webkit-transform: scale(1.1,1.1);
            -moz-transform: scale(1.1,1.1);
            -o-transform: scale(1.1,1.1);
            -ms-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);
            }
    .foodd{
        overflow:hidden;
        }
        .fd_title{
            overflow: hidden;
            font-size: 1.4em;
            margin: 0;
            color: #335577;
            font-family: "crete-rounded-web",sans-serif;
            padding-top: 0.1em;
            }
        .foodd ul{
            }
        .foodd>img{
            width:40px;
            margin-right:10px;
            }
 #left h1{
        /*z-index:20;
        background: none repeat scroll 0 0 #EEEEEE;
        color: #333333;
        display: block;
        font-size: 2.3em;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        padding: 7px 5px;
        position: absolute;
        text-align: center;
        top: 65px;
        width: 86%;
        font-size:16px;*/
    }
#left ul, #left ol{
    margin-bottom:15px;
    }
    #left ul li, #left ol li{
        margin: 10px 0 10px 10px;
        line-height:1.5em;
        }
        #left ul li{
            list-style: circle inside;
            }
        #left ol li{}
        #left .tm {
            display: block;
            margin-bottom: 20px;
            }
         #left .tm img{
            background-color: #FFFFFF;
            border: 1px solid #DDDDDD;
            padding: 3px
            }
             #left .tm .page-teaser-image{
                /*min-width: 452px;*/
                width: 96%;
                }
#right {}
      
.middle_box {
    position:relative;
    overflow:hidden;
    padding: 0 0 0 20px;
    border-left:1px solid #dddddd;
    margin-bottom: 10px;
    }
    #right .middle_box h1{
        z-index:20;
        background: none repeat scroll 0 0 #EEEEEE;
        color: #333333;
        display: block;
        font-size: 2.3em;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        padding: 7px 5px;
        position: absolute;
        text-align: center;
        top: 50px;
        width: 86%;
        font-size:20px;
    }
    #right .middle_box .tm {
        display: block;
        margin-bottom: 20px;
        }
        #right .middle_box .tm img{
            background-color: #FFFFFF;
            border: 1px solid #DDDDDD;
            padding: 3px
            }
            #right .middle_box .tm .page-teaser-image{
                /*min-width: 452px;*/
                width: 96%;
                }
    .middle_box p {
        /*text-align:justify;*/
        }
.middle_box2{
    /*padding: 0 20px 0 0;
    border-right:1px solid #dddddd;*/
    }
    .middle_box2 img{
        max-width:100%;
        }
.tabs{
    position: absolute;
    left: -1000px;
    width:700px;
    }
.tab_nav{
    font-size:0;
    }
.tab_nav li {
    background:#DDEDF7;
    padding:5px 10px;
    display:inline-block;
    cursor:pointer;
    position:relative;
    /*float: left;
    margin: 0 3px;*/
    font-size:16px;
    margin: 0 8px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    }
    .tab_nav li:first-child{
        margin-left:0;
        }
    .tab_nav li.active, .tab_nav li:hover {
        background:#87ccf7;
        color:#fff;
        padding: 7px 10px;
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
        
        }
    .prepoplinks{
        overflow:hidden;
        }
        /*.tab_nav li.active:after{
            content: '';
            border: 7px solid transparent;
            border-right-color: #87ccf7;
            width: 0;
            height: 0;
            position: absolute;
            border-bottom-color: #87ccf7;
            bottom: 2px;
            right: 2px;
            }*/
    .prepoplinks li {
        list-style:none;
        float:left;
        margin:3px;
        }
        .prepoplinks li a {
            font-size: 0.75em;
            display: block;
            padding: 3px 0;
            text-decoration:underline;
            /*background:#DDEDF7; */           
            }
            .prepoplinks li:hover a{
                /*background:#87ccf7;
                color:#fff;
                -webkit-transition: 0.25s;
                -moz-transition: 0.25s;
                -o-transition: 0.25s;
                -ms-transition: 0.25s;
                transition: 0.25s;*/
                text-decoration:none;
                }
/* =========== Forms =*/
form { overflow: hidden; }
form p {}

input[type="text"], input[type="password"], select, textarea {
	cursor: text;
}
input[type="submit"] {
	cursor: pointer;
}

label {}
select {}
textarea {}

form .captcha {}
form .captcha input {}
/* =========== Search form =*/

form#search-form {
    clear:both;
    /*position: absolute;
    right: 0;
    bottom: -25px;*/
    }
form#search-form p {
    float:left;
    margin-bottom:0;
    }
form#search-form input#search {
    padding: 6px;
     width: 155px;
    border:1px solid #efefef;
    }
form#search-form input#do-search {}
/*====== Search Form ========*/
form#search-form {
    margin:10px 0 0 0;
    }
    form#search-form input#searchtext { 
        padding:3px 0;
        width:auto;
        }
    form#search-form input[type=submit] { 
        border-radius:0;
        color:#fff;
        cursor:pointer;
        padding:3px 6px;
        width: 30px;
        height: 30px;
        margin: 0;
        background: url('images/button.png') no-repeat 0 0 rgb(178, 220, 247);
        text-indent:-9000px;
        }
        form#search-form input[type=submit]:hover{
            background-color:rgb(104, 196, 253);
            -webkit-transition: 0.25s;
                -moz-transition: 0.25s;
                -o-transition: 0.25s;
                -ms-transition: 0.25s;
                transition: 0.25s;
            }
/*======= Forms ==========*/
form#contact input[type="text"], form#contact select, form#contact textarea, form#contact checkbox { 
    border:1px solid #CCCCCC;
    margin:2px 0;
    padding:3px;
    width: 96%;
    }
form#contact { 
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 5px #CCCCCC inset;
    -webkit-box-shadow:0 0 5px #CCCCCC inset;
    box-shadow:0 0 5px #CCCCCC inset;
    background:none repeat scroll 0 0 #EEEEEE;
    padding:10px;
    /*width:180px;*/
    }
form p { 
    margin-bottom:3px;
    overflow:hidden; 
    }
fieldset { }
legend { }
label { 
    float:left;
    margin:2px 0;
    }
form#contact label {
    min-width:60px;
    width:auto;
    }
select { }
checkbox { }
#captcha label {}
img#captcha-image {
    margin:20px 0 20px 120px;
    }
form#contact img#captcha-image {
    border:1px solid #CCC!important;
    width:180px !important;
    margin:10px 0;
    }
input#captcha-input {
margin-top:6px;
width:117px;}
input[type="submit"] {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:none repeat scroll 0 0 #EBA535;
    border:medium none;
    color:#FFF;
    cursor:pointer;
    font-weight:bold;
    margin:10px 0;
    padding:3px 5px;
    text-shadow:1px 1px 2px #888;
    width:auto;
    }
form#contact input[type="submit"] {
    
    width:100%;
    }
    input[type=button] { }
submit[type=submit] { }

/*======= Comments Form ========*/
form.comment-form {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding:5px 15px;
    width:320px;
    }

form.comment-form fieldset { margin:10px;}

form.comment-form legend {display:block;
    font-size:20px;
    margin-bottom:20px; 
    }

form.comment-form input {width:255px; }

form.comment-form input, select, textarea, checkbox {
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:10px;
    border:1px solid #CCC;
    margin:5px 0 12px;
    padding:3px;
    }

form.comment-form label { display:block;
    float:none;
    font-size:14px;
    margin-right:20px;
    width:auto;
    }

form.comment-form img#captcha-image {
    margin:10px 0 20px;}

textarea#post-content-1 {margin-top:20px;
    width:480px;}

input#submit-comment { 
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:10px;
    background:none repeat scroll 0 0 #EBA535;
    border:medium none;
    color:#FFF;
    cursor:pointer;
    font-weight:bold;
    margin:10px 0;
    padding:3px 5px;
    text-shadow:1px 1px 2px #888;
    width:auto;
    }
div.commentslinkholder a { }
ol.comments-ol-list { }
ol.comments-ol-list li { }
ol.comments-ol-list abbr { }
ol.comments-ol-list a { }
ol.comments-ol-list a.comment-author { }
ol.comments-ol-list blockquote { }



/* =========== Login form =*/
form#login-form {}
form#login-form p {}
form#login-form label {}
form#login-form input {}
/* =========== Logout =*/
a.logout {}
/* =========== image gallery =*/
.gal-img{
    margin-bottom:15px;
    padding-bottom:5px;
    border-bottom: 1px solid #CCCCCC;
    }
ul.img_gallery {}

ul.img_gallery li, .directupload-wrapper, .gal-img a {
    display:inline-block;
    margin: 0 5px 10px 5px;
    vertical-align:top;
    width: 23.1%;
    *display:block;
    }
ul.img_gallery li a {}
ul.img_gallery li img, .direct-upload-images img, .gal-img img {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD!important;
    padding: 3px;
    margin:0 !important;
    }
    
/*-----------------------*/
.gal-img a.direct-upload img{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    }
    .gal-img a.direct-upload:hover img{
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
        }
/* =========== breadcrumbs =*/
.breadcrumbs {
    margin-bottom:12px;
    }
.breadcrumbs a {}
/*============== rotator======*/
div.rotator{
    /*width:437px!important;
    height:329px!important;*/
    margin-bottom:1em!important;    
    }
.rotator img{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 3px;
    width: 98% !important;
    }
/*======================*/
.gmaps{
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    margin-top:20px;
    }
/*======================news list===========*/
.news-list{
    margin-left:0;
    
    }
    #container .news-list .news-list-item{
        overflow:hidden;
        list-style: none outside none;
        margin-bottom: 10px;
        padding-bottom:10px;
        border-bottom:1px solid #DDEDF7;
        }
        .news-list .news-list-item .page-teaser-image{
            float: left;
            /*max-width: 140px;*/
            overflow: hidden;
            margin: 5px 10px 5px 0;
            
            }
            .news-list-item .page-teaser-image img{
                border:1px solid #D8D6D4;
                padding:2px;
                }
        .news-list .news-list-item .page-title{
            border: medium none;
            margin: 0;
            overflow: hidden;
            }
        .news-list .news-list-item .news-item-date{
            display: block;
            font-size: 12px;
            font-style: italic;
            margin-bottom: 10px;
            overflow: hidden;
            }
/*----------------right----------------------*/
#right .news-list{
    margin-left:0;
    
    }
    #right  .news-list .news-list-item{
        }
        #right  .news-list .news-list-item .page-teaser-image{  
            margin-right:0;
            }
           #right  .news-list-item .page-teaser-image img{
               width: 97%;               
                }
       #right  .news-list .news-list-item .page-title{
            padding: 0;
            font-size: 1em;
            clear: both;
            margin-bottom: 10px;
            line-height: 1.6em;
            }
       #right  .news-list .news-list-item .news-item-date{
            }
       #right  .news-list .news-list-item .news-item-description{
           font-size: 0.8em
           }
/*---------------footer----------------------*/
    .news-list.news_slider{
        margin-bottom:7px;
        }
        .news-list.news_slider .news-list-item .news-item-date{
            background-color: #DDEDF7;
            color: #335577;
            float: left;
            font-weight: 900;
            height: 55px;
            margin: 0;
            padding-top: 10px;
            text-align: center;
            width: 60px;
            }
        .news-list.news_slider .news-list-item .page-teaser-image{
            margin:0 10px 0 0;
            }
            .news-list.news_slider .news-list-item .page-teaser-image img{
                border: 0;
                padding: 0;
                height: 65px;
            }
        .news-list.news_slider .news-list-item .page-title{
            font-size:1em;
            margin: 0 0 0.5em 0;
            }
        .news-list.news_slider .news-list-item .news-item-description{
            font-size:1em;
            font-size: 0.75em;
            }
/*======================*/
.formError {
  
    background-color: #990000;
	color:#FFF;
    cursor:pointer;
	font-weight:bold;
	opacity:0.75;
	filter:Alpha(opacity=75);
    -moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	padding:30px;
	position:fixed;
	text-align:center;
	top:35%;
	left:40%;
	z-index:999;
    }