@font-face {
  font-family: "flexkit-icons";
  src: url("../fonts/icons/flexkit-icons.eot");
  src: url("../fonts/icons/flexkit-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/flexkit-icons.woff") format("woff"), url("../fonts/icons/flexkit-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon12,
.icon14,
.icon16,
.icon18,
.icon24,
.icon32,
.icon48,
.icon64 {
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
}
.icon12 {
  width: 12px !important;
  height: 12px !important;
  line-height: 12px !important;
  font-size: 0 !important;
}
.icon12::before {
  font-size: 12px !important;
}
.icon14 {
  width: 14px !important;
  height: 14px !important;
  line-height: 14px !important;
  font-size: 0 !important;
}
.icon14::before {
  font-size: 14px !important;
}
.icon16 {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
  font-size: 0 !important;
}
.icon16::before {
  font-size: 16px !important;
}
.icon18 {
  width: 18px !important;
  height: 18px !important;
  line-height: 18px !important;
  font-size: 0 !important;
}
.icon18::before {
  font-size: 18px !important;
}
.icon24 {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
  font-size: 0 !important;
}
.icon24::before {
  font-size: 24px !important;
}
.icon32 {
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
  font-size: 0 !important;
}
.icon32::before {
  font-size: 32px !important;
}
.icon48 {
  width: 48px !important;
  height: 48px !important;
  line-height: 48px !important;
  font-size: 0 !important;
}
.icon48::before {
  font-size: 48px !important;
}
.icon64 {
  width: 64px !important;
  height: 64px !important;
  line-height: 64px !important;
  font-size: 0 !important;
}
.icon64::before {
  font-size: 64px !important;
}
[class*="icon-"],
[class^=" icon-"] {
  position: relative;
}
.flexkit-icon,
[class*="icon-"]::before,
[class^=" icon-"]::before,
[data-icon]::before,
ul.list-select > li.active::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]::before {
  content: attr(data-icon);
}
.icon-home:before {
  content: "\e000";
}
.icon-home2:before {
  content: "\e001";
}
.icon-news:before {
  content: "\e002";
}
.icon-paper:before {
  content: "\e002";
}
.icon-pencil:before {
  content: "\e003";
}
.icon-pencil2:before {
  content: "\e004";
}
.icon-pencil3:before {
  content: "\e005";
}
.icon-brush:before {
  content: "\e006";
}
.icon-camera:before {
  content: "\e007";
}
.icon-picture:before {
  content: "\e008";
}
.icon-movie2:before {
  content: "\e009";
}
.icon-film:before {
  content: "\e00a";
}
.icon-king:before {
  content: "\e00b";
}
.icon-queen:before {
  content: "\e00c";
}
.icon-announcement:before {
  content: "\e00d";
}
.icon-announcement2:before {
  content: "\e00e";
}
.icon-broadcast:before {
  content: "\e00f";
}
.icon-books:before {
  content: "\e010";
}
.icon-reading:before {
  content: "\e011";
}
.icon-file:before {
  content: "\e012";
}
.icon-file-add:before {
  content: "\e013";
}
.icon-file-remove:before {
  content: "\e014";
}
.icon-copy:before {
  content: "\e015";
}
.icon-stack:before {
  content: "\e016";
}
.icon-folder:before {
  content: "\e017";
}
.icon-folder2:before {
  content: "\e018";
}
.icon-folder-add:before {
  content: "\e019";
}
.icon-folder-remove:before {
  content: "\e01a";
}
.icon-folder-add2:before {
  content: "\e01b";
}
.icon-folder-remove2:before {
  content: "\e01c";
}
.icon-folder-download:before {
  content: "\e01d";
}
.icon-folder-upload:before {
  content: "\e01e";
}
.icon-folder-download2:before {
  content: "\e01f";
}
.icon-folder-upload2:before {
  content: "\e020";
}
.icon-folder3:before {
  content: "\e021";
}
.icon-folder4:before {
  content: "\e022";
}
.icon-tag2:before {
  content: "\e023";
}
.icon-tag3:before {
  content: "\e024";
}
.icon-barcode:before {
  content: "\e025";
}
.icon-barcode2:before {
  content: "\e026";
}
.icon-ticket:before {
  content: "\e027";
}
.icon-cart:before {
  content: "\e028";
}
.icon-cart2:before {
  content: "\e029";
}
.icon-cart3:before {
  content: "\e02a";
}
.icon-backet:before {
  content: "\e02b";
}
.icon-basket2:before {
  content: "\e02c";
}
.icon-basket3:before {
  content: "\e02d";
}
.icon-bag2:before {
  content: "\e02e";
}
.icon-bag:before {
  content: "\e02f";
}
.icon-coin:before {
  content: "\e030";
}
.icon-support:before {
  content: "\e031";
}
.icon-fax:before {
  content: "\e032";
}
.icon-phone:before {
  content: "\e033";
}
.icon-phone2:before {
  content: "\e034";
}
.icon-phone3:before {
  content: "\e035";
}
.icon-phone4:before {
  content: "\e036";
}
.icon-phone5:before {
  content: "\e037";
}
.icon-phone6:before {
  content: "\e038";
}
.icon-address:before {
  content: "\e039";
}
.icon-address2:before {
  content: "\e03a";
}
.icon-notebook:before {
  content: "\e03b";
}
.icon-mail:before {
  content: "\e03c";
}
.icon-mail2:before {
  content: "\e03d";
}
.icon-mail3:before {
  content: "\e03e";
}
.icon-mail4:before {
  content: "\e03f";
}
.icon-mail5:before {
  content: "\e040";
}
.icon-send:before {
  content: "\e041";
}
.icon-location:before {
  content: "\e042";
}
.icon-location2:before {
  content: "\e043";
}
.icon-location3:before {
  content: "\e044";
}
.icon-location4:before {
  content: "\e045";
}
.icon-map:before {
  content: "\e046";
}
.icon-map2:before {
  content: "\e047";
}
.icon-wrist-watch:before {
  content: "\e048";
}
.icon-calendar:before {
  content: "\e049";
}
.icon-calendar2:before {
  content: "\e04a";
}
.icon-calendar3:before {
  content: "\e04b";
}
.icon-calendar4:before {
  content: "\e04c";
}
.icon-printer:before {
  content: "\e04d";
}
.icon-printer2:before {
  content: "\e04e";
}
.icon-screen:before {
  content: "\e04f";
}
.icon-screen2:before {
  content: "\e050";
}
.icon-laptop:before {
  content: "\e051";
}
.icon-mobile:before {
  content: "\e052";
}
.icon-tablet:before {
  content: "\e053";
}
.icon-disk:before {
  content: "\e054";
}
.icon-cd:before {
  content: "\e055";
}
.icon-comments:before {
  content: "\e056";
}
.icon-comments2:before {
  content: "\e057";
}
.icon-comments3:before {
  content: "\e058";
}
.icon-comments4:before {
  content: "\e059";
}
.icon-comments5:before {
  content: "\e05a";
}
.icon-comments6:before {
  content: "\e05b";
}
.icon-comments7:before {
  content: "\e05c";
}
.icon-comments8:before {
  content: "\e05d";
}
.icon-comments9:before {
  content: "\e05e";
}
.icon-user:before {
  content: "\e05f";
}
.icon-user-add:before {
  content: "\e060";
}
.icon-user-remove:before {
  content: "\e061";
}
.icon-users:before {
  content: "\e062";
}
.icon-users2:before {
  content: "\e063";
}
.icon-quote:before {
  content: "\e064";
}
.icon-quote2:before {
  content: "\e065";
}
.icon-quote3:before {
  content: "\e066";
}
.icon-quote4:before {
  content: "\e067";
}
.icon-search:before {
  content: "\e068";
}
.icon-zoom-in:before {
  content: "\e069";
}
.icon-zoom-out:before {
  content: "\e06a";
}
.icon-key:before {
  content: "\e06b";
}
.icon-key2:before {
  content: "\e06c";
}
.icon-locked:before {
  content: "\e06d";
}
.icon-unlocked:before {
  content: "\e06e";
}
.icon-locked2:before {
  content: "\e06f";
}
.icon-unlocked2:before {
  content: "\e070";
}
.icon-cogs:before {
  content: "\e071";
}
.icon-cogs2:before {
  content: "\e072";
}
.icon-cog:before {
  content: "\e073";
}
.icon-cog2:before {
  content: "\e074";
}
.icon-remove:before {
  content: "\e075";
}
.icon-remove2:before {
  content: "\e076";
}
.icon-remove3:before {
  content: "\e077";
}
.icon-remove4:before {
  content: "\e078";
}
.icon-remove5:before {
  content: "\e079";
}
.icon-clipboard:before {
  content: "\e07a";
}
.icon-clipboard2:before {
  content: "\e07b";
}
.icon-menu:before {
  content: "\e07c";
}
.icon-more-vert:before {
  content: "\e07d";
}
.icon-grid:before {
  content: "\e07e";
}
.icon-list:before {
  content: "\e07f";
}
.icon-list2:before {
  content: "\e080";
}
.icon-list3:before {
  content: "\e081";
}
.icon-grid2:before {
  content: "\e082";
}
.icon-list4:before {
  content: "\e083";
}
.icon-list5:before {
  content: "\e084";
}
.icon-menu2:before {
  content: "\e085";
}
.icon-menu4:before {
  content: "\e086";
}
.icon-link:before {
  content: "\e087";
}
.icon-link2:before {
  content: "\e088";
}
.icon-star:before {
  content: "\e089";
}
.icon-star2:before {
  content: "\e08a";
}
.icon-star3:before {
  content: "\e08b";
}
.icon-heart:before {
  content: "\e08c";
}
.icon-heart2:before {
  content: "\e08d";
}
.icon-thumbs-up:before {
  content: "\e08e";
}
.icon-thumbs-down:before {
  content: "\e08f";
}
.icon-male:before {
  content: "\e090";
}
.icon-female:before {
  content: "\e091";
}
.icon-reload:before {
  content: "\e092";
}
.icon-reload2:before {
  content: "\e093";
}
.icon-reload3:before {
  content: "\e094";
}
.icon-reload4:before {
  content: "\e095";
}
.icon-turn:before {
  content: "\e096";
}
.icon-expand:before {
  content: "\e097";
}
.icon-close:before {
  content: "\e098";
}
.icon-close2:before {
  content: "\e099";
}
.icon-close3:before {
  content: "\e09a";
}
.icon-checkmark:before {
  content: "\e09b";
}
.icon-checkmark2:before {
  content: "\e09c";
}
.icon-checkmark3:before {
  content: "\e09d";
}
.icon-add:before {
  content: "\e09e";
}
.icon-add-circle:before {
  content: "\e09f";
}
.icon-cancel-circle:before {
  content: "\e0a0";
}
.icon-check-circle:before {
  content: "\e0a1";
}
.icon-error-circle:before {
  content: "\e0a2";
}
.icon-info-circle:before {
  content: "\e0a3";
}
.icon-login:before {
  content: "\e0a4";
}
.icon-logout:before {
  content: "\e0a5";
}
.icon-arrow-right:before {
  content: "\e0a6";
}
.icon-arrow-right4:before {
  content: "\e0a7";
}
.icon-arrow-down:before {
  content: "\e0a8";
}
.icon-arrow-left:before {
  content: "\e0a9";
}
.icon-arrow-up2:before {
  content: "\e0aa";
}
.icon-arrow-right2:before {
  content: "\e0ab";
}
.icon-arrow-down2:before {
  content: "\e0ac";
}
.icon-arrow-left2:before {
  content: "\e0ad";
}
.icon-arrow-up3:before {
  content: "\e0ae";
}
.icon-arrow-right3:before {
  content: "\e0af";
}
.icon-arrow-down3:before {
  content: "\e0b0";
}
.icon-arrow-left3:before {
  content: "\e0b1";
}
.icon-sort-up:before {
  content: "\e0b2";
}
.icon-arrow-right5:before {
  content: "\e0b3";
}
.icon-arrow-left4:before {
  content: "\e0b4";
}
.icon-sort-down:before {
  content: "\e0b5";
}
.icon-sort:before {
  content: "\e0b6";
}
.icon-delivery:before {
  content: "\e0b7";
}
.icon-delivery2:before {
  content: "\e0b8";
}
.icon-delivery3:before {
  content: "\e0b9";
}
.icon-delivery4:before {
  content: "\e0ba";
}
.icon-delivery5:before {
  content: "\e0bb";
}
.icon-idcard:before {
  content: "\e0bc";
}
.icon-idcard2:before {
  content: "\e0bd";
}
.icon-idcard3:before {
  content: "\e0be";
}
.icon-mail-book:before {
  content: "\e0bf";
}
.icon-user-book:before {
  content: "\e0c0";
}
.icon-earth:before {
  content: "\e0c1";
}
.icon-gplus:before {
  content: "\e0c2";
}
.icon-facebook:before {
  content: "\e0c3";
}
.icon-twitter:before {
  content: "\e0c4";
}
.icon-feed:before {
  content: "\e0c5";
}
.icon-youtube:before {
  content: "\e0c6";
}
.icon-odnoklassniki:before {
  content: "\e0c7";
}
.icon-vimeo:before {
  content: "\e0c8";
}
.icon-blogger:before {
  content: "\e0c9";
}
.icon-pinterest:before {
  content: "\e0ca";
}
.icon-linkedin:before {
  content: "\e0cb";
}
.icon-vk:before {
  content: "\e0cc";
}
.icon-instagram-old:before {
  content: "\e0cd";
}
.icon-instagram:before {
  content: "\e0ce";
}
.icon-html5:before {
  content: "\e0cf";
}
.icon-html52:before {
  content: "\e0d0";
}
.icon-chrome:before {
  content: "\e0d1";
}
.icon-firefox:before {
  content: "\e0d2";
}
.icon-IE:before {
  content: "\e0d3";
}
.icon-opera:before {
  content: "\e0d4";
}
.icon-safari:before {
  content: "\e0d5";
}
.icon-toaster:before {
  content: "\e0d6";
}
.icon-file-zip:before {
  content: "\e0d7";
}
.icon-file-doc:before {
  content: "\e0d8";
}
.icon-file-pdf:before {
  content: "\e0d9";
}
.icon-bell:before {
  content: "\e0da";
}
.icon-arrow-right6:before {
  content: "\e0db";
}
.icon-arrow-left5:before {
  content: "\e0dc";
}
.icon-eye:before {
  content: "\e0dd";
}
.icon-clock:before {
  content: "\e0de";
}
.icon-light:before {
  content: "\e0df";
}
.icon-copyright:before {
  content: "\e0e0";
}
.icon-download:before {
  content: "\e0e1";
}
.icon-headphones:before {
  content: "\e0e2";
}
.icon-info:before {
  content: "\e0e3";
}
.icon-play-circle:before {
  content: "\e0e4";
}
.icon-pause-circle:before {
  content: "\e0e5";
}
.icon-remove-circle:before {
  content: "\e0e6";
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  max-width: 95%;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
[class*=" grid_"],
[class^="grid_"],
[class*="-grid_"],
[class*="_grid_"] {
  float: left;
  position: relative;
  width: 98%;
  margin-left: 1% !important;
  margin-right: 1% !important;
}
._grid_1 {
  width: 6.333%;
}
._grid_1._alpha,
._grid_1._omega {
  width: 7.333%;
}
._grid_1._alpha._omega {
  width: 8.333%;
}
._grid_2 {
  width: 14.667%;
}
._grid_2._alpha,
._grid_2._omega {
  width: 15.667%;
}
._grid_2._alpha._omega {
  width: 16.667%;
}
._grid_3 {
  width: 23%;
}
._grid_3._alpha,
._grid_3._omega {
  width: 24%;
}
._grid_3._alpha._omega {
  width: 25%;
}
._grid_4 {
  width: 31.333%;
}
._grid_4._alpha,
._grid_4._omega {
  width: 32.333%;
}
._grid_4._alpha._omega {
  width: 33.333%;
}
._grid_5 {
  width: 39.667%;
}
._grid_5._alpha,
._grid_5._omega {
  width: 40.667%;
}
._grid_5._alpha._omega {
  width: 41.667%;
}
._grid_6 {
  width: 48%;
}
._grid_6._alpha,
._grid_6._omega {
  width: 49%;
}
._grid_6._alpha._omega {
  width: 50%;
}
._grid_7 {
  width: 56.333%;
}
._grid_7._alpha,
._grid_7._omega {
  width: 57.333%;
}
._grid_7._alpha._omega {
  width: 58.333%;
}
._grid_8 {
  width: 64.667%;
}
._grid_8._alpha,
._grid_8._omega {
  width: 65.667%;
}
._grid_8._alpha._omega {
  width: 66.667%;
}
._grid_9 {
  width: 73%;
}
._grid_9._alpha,
._grid_9._omega {
  width: 74%;
}
._grid_9._alpha._omega {
  width: 75%;
}
._grid_10 {
  width: 81.333%;
}
._grid_10._alpha,
._grid_10._omega {
  width: 82.333%;
}
._grid_10._alpha._omega {
  width: 83.333%;
}
._grid_11 {
  width: 89.667%;
}
._grid_11._alpha,
._grid_11._omega {
  width: 90.667%;
}
._grid_11._alpha._omega {
  width: 91.667%;
}
._grid_12 {
  width: 98%;
}
._grid_12._alpha,
._grid_12._omega {
  width: 99%;
}
._grid_12._alpha._omega {
  width: 100%;
}
._alpha {
  margin-left: 0 !important;
}
._omega {
  margin-right: 0 !important;
}
._prefix_1 {
  margin-left: 9.333% !important;
}
._prefix_1.alpha {
  margin-left: 8.333% !important;
}
._prefix_2 {
  margin-left: 17.667% !important;
}
._prefix_2.alpha {
  margin-left: 16.667% !important;
}
._prefix_3 {
  margin-left: 26% !important;
}
._prefix_3.alpha {
  margin-left: 25% !important;
}
._prefix_4 {
  margin-left: 34.333% !important;
}
._prefix_4.alpha {
  margin-left: 33.333% !important;
}
._prefix_5 {
  margin-left: 42.667% !important;
}
._prefix_5.alpha {
  margin-left: 41.667% !important;
}
._prefix_6 {
  margin-left: 51% !important;
}
._prefix_6.alpha {
  margin-left: 50% !important;
}
._prefix_7 {
  margin-left: 59.333% !important;
}
._prefix_7.alpha {
  margin-left: 58.333% !important;
}
._prefix_8 {
  margin-left: 67.667% !important;
}
._prefix_8.alpha {
  margin-left: 66.667% !important;
}
._prefix_9 {
  margin-left: 76% !important;
}
._prefix_9.alpha {
  margin-left: 75% !important;
}
._prefix_10 {
  margin-left: 84.333% !important;
}
._prefix_10.alpha {
  margin-left: 83.333% !important;
}
._prefix_11 {
  margin-left: 92.667% !important;
}
._prefix_11.alpha {
  margin-left: 91.667% !important;
}
._suffix_1 {
  margin-right: 9.333% !important;
}
._suffix_1.omega {
  margin-right: 8.333% !important;
}
._suffix_2 {
  margin-right: 17.667% !important;
}
._suffix_2.omega {
  margin-right: 16.667% !important;
}
._suffix_3 {
  margin-right: 26% !important;
}
._suffix_3.omega {
  margin-right: 25% !important;
}
._suffix_4 {
  margin-right: 34.333% !important;
}
._suffix_4.omega {
  margin-right: 33.333% !important;
}
._suffix_5 {
  margin-right: 42.667% !important;
}
._suffix_5.omega {
  margin-right: 41.667% !important;
}
._suffix_6 {
  margin-right: 51% !important;
}
._suffix_6.omega {
  margin-right: 50% !important;
}
._suffix_7 {
  margin-right: 59.333% !important;
}
._suffix_7.omega {
  margin-right: 58.333% !important;
}
._suffix_8 {
  margin-right: 67.667% !important;
}
._suffix_8.omega {
  margin-right: 66.667% !important;
}
._suffix_9 {
  margin-right: 76% !important;
}
._suffix_9.omega {
  margin-right: 75% !important;
}
._suffix_10 {
  margin-right: 84.333% !important;
}
._suffix_10.omega {
  margin-right: 83.333% !important;
}
._suffix_11 {
  margin-right: 92.667% !important;
}
._suffix_11.omega {
  margin-right: 91.667% !important;
}
._push_1 {
  left: 8.33% !important;
}
._push_2 {
  left: 16.67% !important;
}
._push_3 {
  left: 25% !important;
}
._push_4 {
  left: 33.33% !important;
}
._push_5 {
  left: 41.67% !important;
}
._push_6 {
  left: 50% !important;
}
._push_7 {
  left: 58.33% !important;
}
._push_8 {
  left: 66.67% !important;
}
._push_9 {
  left: 75% !important;
}
._push_10 {
  left: 83.33% !important;
}
._push_11 {
  left: 91.67% !important;
}
._pull_1 {
  left: -8.33% !important;
}
._pull_2 {
  left: -16.67% !important;
}
._pull_3 {
  left: -25% !important;
}
._pull_4 {
  left: -33.33% !important;
}
._pull_5 {
  left: -41.67% !important;
}
._pull_6 {
  left: -50% !important;
}
._pull_7 {
  left: -58.33% !important;
}
._pull_8 {
  left: -66.67% !important;
}
._pull_9 {
  left: -75% !important;
}
._pull_10 {
  left: -83.33% !important;
}
._pull_11 {
  left: -91.67% !important;
}
@media only screen and (min-width: 801px) {
  .grid_1 {
    width: 6.333%;
  }
  .grid_1.alpha,
  .grid_1.omega {
    width: 7.333%;
  }
  .grid_1.alpha.omega {
    width: 8.333%;
  }
  .grid_2 {
    width: 14.667%;
  }
  .grid_2.alpha,
  .grid_2.omega {
    width: 15.667%;
  }
  .grid_2.alpha.omega {
    width: 16.667%;
  }
  .grid_3 {
    width: 23%;
  }
  .grid_3.alpha,
  .grid_3.omega {
    width: 24%;
  }
  .grid_3.alpha.omega {
    width: 25%;
  }
  .grid_4 {
    width: 31.333%;
  }
  .grid_4.alpha,
  .grid_4.omega {
    width: 32.333%;
  }
  .grid_4.alpha.omega {
    width: 33.333%;
  }
  .grid_5 {
    width: 39.667%;
  }
  .grid_5.alpha,
  .grid_5.omega {
    width: 40.667%;
  }
  .grid_5.alpha.omega {
    width: 41.667%;
  }
  .grid_6 {
    width: 48%;
  }
  .grid_6.alpha,
  .grid_6.omega {
    width: 49%;
  }
  .grid_6.alpha.omega {
    width: 50%;
  }
  .grid_7 {
    width: 56.333%;
  }
  .grid_7.alpha,
  .grid_7.omega {
    width: 57.333%;
  }
  .grid_7.alpha.omega {
    width: 58.333%;
  }
  .grid_8 {
    width: 64.667%;
  }
  .grid_8.alpha,
  .grid_8.omega {
    width: 65.667%;
  }
  .grid_8.alpha.omega {
    width: 66.667%;
  }
  .grid_9 {
    width: 73%;
  }
  .grid_9.alpha,
  .grid_9.omega {
    width: 74%;
  }
  .grid_9.alpha.omega {
    width: 75%;
  }
  .grid_10 {
    width: 81.333%;
  }
  .grid_10.alpha,
  .grid_10.omega {
    width: 82.333%;
  }
  .grid_10.alpha.omega {
    width: 83.333%;
  }
  .grid_11 {
    width: 89.667%;
  }
  .grid_11.alpha,
  .grid_11.omega {
    width: 90.667%;
  }
  .grid_11.alpha.omega {
    width: 91.667%;
  }
  .grid_12 {
    width: 98%;
  }
  .grid_12.alpha,
  .grid_12.omega {
    width: 99%;
  }
  .grid_12.alpha.omega {
    width: 100%;
  }
  .alpha {
    margin-left: 0 !important;
  }
  .omega {
    margin-right: 0 !important;
  }
  .prefix_1 {
    margin-left: 9.333% !important;
  }
  .prefix_1.alpha {
    margin-left: 8.333% !important;
  }
  .prefix_2 {
    margin-left: 17.667% !important;
  }
  .prefix_2.alpha {
    margin-left: 16.667% !important;
  }
  .prefix_3 {
    margin-left: 26% !important;
  }
  .prefix_3.alpha {
    margin-left: 25% !important;
  }
  .prefix_4 {
    margin-left: 34.333% !important;
  }
  .prefix_4.alpha {
    margin-left: 33.333% !important;
  }
  .prefix_5 {
    margin-left: 42.667% !important;
  }
  .prefix_5.alpha {
    margin-left: 41.667% !important;
  }
  .prefix_6 {
    margin-left: 51% !important;
  }
  .prefix_6.alpha {
    margin-left: 50% !important;
  }
  .prefix_7 {
    margin-left: 59.333% !important;
  }
  .prefix_7.alpha {
    margin-left: 58.333% !important;
  }
  .prefix_8 {
    margin-left: 67.667% !important;
  }
  .prefix_8.alpha {
    margin-left: 66.667% !important;
  }
  .prefix_9 {
    margin-left: 76% !important;
  }
  .prefix_9.alpha {
    margin-left: 75% !important;
  }
  .prefix_10 {
    margin-left: 84.333% !important;
  }
  .prefix_10.alpha {
    margin-left: 83.333% !important;
  }
  .prefix_11 {
    margin-left: 92.667% !important;
  }
  .prefix_11.alpha {
    margin-left: 91.667% !important;
  }
  .suffix_1 {
    margin-right: 9.333% !important;
  }
  .suffix_1.omega {
    margin-right: 8.333% !important;
  }
  .suffix_2 {
    margin-right: 17.667% !important;
  }
  .suffix_2.omega {
    margin-right: 16.667% !important;
  }
  .suffix_3 {
    margin-right: 26% !important;
  }
  .suffix_3.omega {
    margin-right: 25% !important;
  }
  .suffix_4 {
    margin-right: 34.333% !important;
  }
  .suffix_4.omega {
    margin-right: 33.333% !important;
  }
  .suffix_5 {
    margin-right: 42.667% !important;
  }
  .suffix_5.omega {
    margin-right: 41.667% !important;
  }
  .suffix_6 {
    margin-right: 51% !important;
  }
  .suffix_6.omega {
    margin-right: 50% !important;
  }
  .suffix_7 {
    margin-right: 59.333% !important;
  }
  .suffix_7.omega {
    margin-right: 58.333% !important;
  }
  .suffix_8 {
    margin-right: 67.667% !important;
  }
  .suffix_8.omega {
    margin-right: 66.667% !important;
  }
  .suffix_9 {
    margin-right: 76% !important;
  }
  .suffix_9.omega {
    margin-right: 75% !important;
  }
  .suffix_10 {
    margin-right: 84.333% !important;
  }
  .suffix_10.omega {
    margin-right: 83.333% !important;
  }
  .suffix_11 {
    margin-right: 92.667% !important;
  }
  .suffix_11.omega {
    margin-right: 91.667% !important;
  }
  .push_1 {
    left: 8.33% !important;
  }
  .push_2 {
    left: 16.67% !important;
  }
  .push_3 {
    left: 25% !important;
  }
  .push_4 {
    left: 33.33% !important;
  }
  .push_5 {
    left: 41.67% !important;
  }
  .push_6 {
    left: 50% !important;
  }
  .push_7 {
    left: 58.33% !important;
  }
  .push_8 {
    left: 66.67% !important;
  }
  .push_9 {
    left: 75% !important;
  }
  .push_10 {
    left: 83.33% !important;
  }
  .push_11 {
    left: 91.67% !important;
  }
  .pull_1 {
    left: -8.33% !important;
  }
  .pull_2 {
    left: -16.67% !important;
  }
  .pull_3 {
    left: -25% !important;
  }
  .pull_4 {
    left: -33.33% !important;
  }
  .pull_5 {
    left: -41.67% !important;
  }
  .pull_6 {
    left: -50% !important;
  }
  .pull_7 {
    left: -58.33% !important;
  }
  .pull_8 {
    left: -66.67% !important;
  }
  .pull_9 {
    left: -75% !important;
  }
  .pull_10 {
    left: -83.33% !important;
  }
  .pull_11 {
    left: -91.67% !important;
  }
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .t-grid_1 {
    width: 14.667%;
  }
  .t-grid_1.t-alpha,
  .t-grid_1.t-omega {
    width: 15.667%;
  }
  .t-grid_1.t-alpha.t-omega {
    width: 16.667%;
  }
  .t-grid_2 {
    width: 31.333%;
  }
  .t-grid_2.t-alpha,
  .t-grid_2.t-omega {
    width: 32.333%;
  }
  .t-grid_2.t-alpha.t-omega {
    width: 33.333%;
  }
  .t-grid_3 {
    width: 48%;
  }
  .t-grid_3.t-alpha,
  .t-grid_3.t-omega {
    width: 49%;
  }
  .t-grid_3.t-alpha.t-omega {
    width: 50%;
  }
  .t-grid_4 {
    width: 64.667%;
  }
  .t-grid_4.t-alpha,
  .t-grid_4.t-omega {
    width: 65.667%;
  }
  .t-grid_4.t-alpha.t-omega {
    width: 66.667%;
  }
  .t-grid_5 {
    width: 81.333%;
  }
  .t-grid_5.t-alpha,
  .t-grid_5.t-omega {
    width: 82.333%;
  }
  .t-grid_5.t-alpha.t-omega {
    width: 83.333%;
  }
  .t-grid_6 {
    width: 98%;
  }
  .t-grid_6.t-alpha,
  .t-grid_6.t-omega {
    width: 99%;
  }
  .t-grid_6.t-alpha.t-omega {
    width: 100%;
  }
  .t-alpha {
    margin-left: 0 !important;
  }
  .t-omega {
    margin-right: 0 !important;
  }
  .t-prefix_1 {
    margin-left: 17.667% !important;
  }
  .t-prefix_1.alpha {
    margin-left: 16.667% !important;
  }
  .t-prefix_2 {
    margin-left: 34.333% !important;
  }
  .t-prefix_2.alpha {
    margin-left: 33.333% !important;
  }
  .t-prefix_3 {
    margin-left: 51% !important;
  }
  .t-prefix_3.alpha {
    margin-left: 50% !important;
  }
  .t-prefix_4 {
    margin-left: 67.667% !important;
  }
  .t-prefix_4.alpha {
    margin-left: 66.667% !important;
  }
  .t-prefix_5 {
    margin-left: 84.333% !important;
  }
  .t-prefix_5.alpha {
    margin-left: 83.333% !important;
  }
  .t-suffix_1 {
    margin-right: 17.667% !important;
  }
  .t-suffix_1.omega {
    margin-right: 16.667% !important;
  }
  .t-suffix_2 {
    margin-right: 34.333% !important;
  }
  .t-suffix_2.omega {
    margin-right: 33.333% !important;
  }
  .t-suffix_3 {
    margin-right: 51% !important;
  }
  .t-suffix_3.omega {
    margin-right: 50% !important;
  }
  .t-suffix_4 {
    margin-right: 67.667% !important;
  }
  .t-suffix_4.omega {
    margin-right: 66.667% !important;
  }
  .t-suffix_5 {
    margin-right: 84.333% !important;
  }
  .t-suffix_5.omega {
    margin-right: 83.333% !important;
  }
  .t-push_1 {
    left: 16.67% !important;
  }
  .t-push_2 {
    left: 33.33% !important;
  }
  .t-push_3 {
    left: 50% !important;
  }
  .t-push_4 {
    left: 66.67% !important;
  }
  .t-push_5 {
    left: 83.33% !important;
  }
  .t-pull_1 {
    left: -16.67% !important;
  }
  .t-pull_2 {
    left: -33.33% !important;
  }
  .t-pull_3 {
    left: -50% !important;
  }
  .t-pull_4 {
    left: -66.67% !important;
  }
  .t-pull_5 {
    left: -83.33% !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-grid_1 {
    width: 23%;
  }
  .m-grid_1.m-alpha,
  .m-grid_1.m-omega {
    width: 24%;
  }
  .m-grid_1.m-alpha.m-omega {
    width: 25%;
  }
  .m-grid_2 {
    width: 48%;
  }
  .m-grid_2.m-alpha,
  .m-grid_2.m-omega {
    width: 49%;
  }
  .m-grid_2.m-alpha.m-omega {
    width: 50%;
  }
  .m-grid_3 {
    width: 73%;
  }
  .m-grid_3.m-alpha,
  .m-grid_3.m-omega {
    width: 74%;
  }
  .m-grid_3.m-alpha.m-omega {
    width: 75%;
  }
  .m-grid_4 {
    width: 98%;
  }
  .m-grid_4.m-alpha,
  .m-grid_4.m-omega {
    width: 99%;
  }
  .m-grid_4.m-alpha.m-omega {
    width: 100%;
  }
  .m-alpha {
    margin-left: 0 !important;
  }
  .m-omega {
    margin-right: 0 !important;
  }
  .m-prefix_1 {
    margin-left: 26% !important;
  }
  .m-prefix_1.alpha {
    margin-left: 25% !important;
  }
  .m-prefix_2 {
    margin-left: 51% !important;
  }
  .m-prefix_2.alpha {
    margin-left: 50% !important;
  }
  .m-prefix_3 {
    margin-left: 76% !important;
  }
  .m-prefix_3.alpha {
    margin-left: 75% !important;
  }
  .m-suffix_1 {
    margin-right: 26% !important;
  }
  .m-suffix_1.omega {
    margin-right: 25% !important;
  }
  .m-suffix_2 {
    margin-right: 51% !important;
  }
  .m-suffix_2.omega {
    margin-right: 50% !important;
  }
  .m-suffix_3 {
    margin-right: 76% !important;
  }
  .m-suffix_3.omega {
    margin-right: 75% !important;
  }
  .m-push_1 {
    left: 25% !important;
  }
  .m-push_2 {
    left: 50% !important;
  }
  .m-push_3 {
    left: 75% !important;
  }
  .m-pull_1 {
    left: -25% !important;
  }
  .m-pull_2 {
    left: -50% !important;
  }
  .m-pull_3 {
    left: -75% !important;
  }
}
[class*=" column_"],
[class^="column_"],
[class*="-column_"],
[class*="_column_"] {
  font-size: 0 !important;
}
[class*=" column_"] > *,
[class^="column_"] > *,
[class*="-column_"] > *,
[class*="_column_"] > * {
  font-size: 14px;
  float: none !important;
  display: inline-block;
  vertical-align: top;
  width: 98% !important;
  margin-left: 1% !important;
  margin-right: 1% !important;
}
[class*=" column_"].mb > *,
[class^="column_"].mb > *,
[class*="-column_"].mb > *,
[class*="_column_"].mb > * {
  margin-bottom: 2%;
}
[class*=" column_"].bottom > *,
[class^="column_"].bottom > *,
[class*="-column_"].bottom > *,
[class*="_column_"].bottom > * {
  vertical-align: bottom;
}
[class*=" column_"].middle > *,
[class^="column_"].middle > *,
[class*="-column_"].middle > *,
[class*="_column_"].middle > * {
  vertical-align: middle;
}
[class*=" column_"].full-width > *,
[class^="column_"].full-width > *,
[class*="-column_"].full-width > *,
[class*="_column_"].full-width > * {
  width: 100% !important;
  margin-right: 2% !important;
  margin-left: 0 !important;
}
[class*=" column_"].margin-none > *,
[class^="column_"].margin-none > *,
[class*="-column_"].margin-none > *,
[class*="_column_"].margin-none > * {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*=" column_"].one-line > *,
[class^="column_"].one-line > *,
[class*="-column_"].one-line > *,
[class*="_column_"].one-line > * {
  margin-bottom: 0;
}
[class*=" column_"] > .generator-links,
[class^="column_"] > .generator-links,
[class*="-column_"] > .generator-links,
[class*="_column_"] > .generator-links {
  display: block;
}
[class*=" column_"].larger > *,
[class^="column_"].larger > *,
[class*="-column_"].larger > *,
[class*="_column_"].larger > *,
[class*=" column_"] > .larger,
[class^="column_"] > .larger,
[class*="-column_"] > .larger,
[class*="_column_"] > .larger {
  font-size: 21px !important;
}
[class*=" column_"].large > *,
[class^="column_"].large > *,
[class*="-column_"].large > *,
[class*="_column_"].large > *,
[class*=" column_"] > .large,
[class^="column_"] > .large,
[class*="-column_"] > .large,
[class*="_column_"] > .large {
  font-size: 17.5px !important;
}
[class*=" column_"].small > *,
[class^="column_"].small > *,
[class*="-column_"].small > *,
[class*="_column_"].small > *,
[class*=" column_"] > .small,
[class^="column_"] > .small,
[class*="-column_"] > .small,
[class*="_column_"] > .small {
  font-size: 11.9px !important;
}
._column_1 > * {
  width: 98% !important;
}
._column_2 > * {
  width: 48% !important;
}
._column_3 > * {
  width: 31.333% !important;
}
._column_4 > * {
  width: 23% !important;
}
._column_5 > * {
  width: 18% !important;
}
._column_6 > * {
  width: 14.667% !important;
}
._column_7 > * {
  width: 12.286% !important;
}
._column_8 > * {
  width: 10.5% !important;
}
._column_9 > * {
  width: 9.111% !important;
}
._column_10 > * {
  width: 8% !important;
}
._column_11 > * {
  width: 7.091% !important;
}
._column_12 > * {
  width: 6.333% !important;
}
.full-width._column_1 > * {
  width: 100% !important;
}
.full-width._column_1 > *:nth-child(1n) {
  margin-right: 0 !important;
}
.full-width._column_2 > * {
  width: 49% !important;
}
.full-width._column_2 > *:nth-child(2n) {
  margin-right: 0 !important;
}
.full-width._column_3 > * {
  width: 32% !important;
}
.full-width._column_3 > *:nth-child(3n) {
  margin-right: 0 !important;
}
.full-width._column_4 > * {
  width: 23.5% !important;
}
.full-width._column_4 > *:nth-child(4n) {
  margin-right: 0 !important;
}
.full-width._column_5 > * {
  width: 18.4% !important;
}
.full-width._column_5 > *:nth-child(5n) {
  margin-right: 0 !important;
}
.full-width._column_6 > * {
  width: 15% !important;
}
.full-width._column_6 > *:nth-child(6n) {
  margin-right: 0 !important;
}
.full-width._column_7 > * {
  width: 12.571% !important;
}
.full-width._column_7 > *:nth-child(7n) {
  margin-right: 0 !important;
}
.full-width._column_8 > * {
  width: 10.75% !important;
}
.full-width._column_8 > *:nth-child(8n) {
  margin-right: 0 !important;
}
.full-width._column_9 > * {
  width: 9.333% !important;
}
.full-width._column_9 > *:nth-child(9n) {
  margin-right: 0 !important;
}
.full-width._column_10 > * {
  width: 8.2% !important;
}
.full-width._column_10 > *:nth-child(10n) {
  margin-right: 0 !important;
}
.full-width._column_11 > * {
  width: 7.273% !important;
}
.full-width._column_11 > *:nth-child(11n) {
  margin-right: 0 !important;
}
.full-width._column_12 > * {
  width: 6.5% !important;
}
.full-width._column_12 > *:nth-child(12n) {
  margin-right: 0 !important;
}
.margin-none._column_1 > * {
  width: 100% !important;
}
.margin-none._column_2 > * {
  width: 50% !important;
}
.margin-none._column_3 > * {
  width: 33.333% !important;
}
.margin-none._column_4 > * {
  width: 25% !important;
}
.margin-none._column_5 > * {
  width: 20% !important;
}
.margin-none._column_6 > * {
  width: 16.667% !important;
}
.margin-none._column_7 > * {
  width: 14.286% !important;
}
.margin-none._column_8 > * {
  width: 12.5% !important;
}
.margin-none._column_9 > * {
  width: 11.111% !important;
}
.margin-none._column_10 > * {
  width: 10% !important;
}
.margin-none._column_11 > * {
  width: 9.091% !important;
}
.margin-none._column_12 > * {
  width: 8.333% !important;
}
@media only screen and (min-width: 801px) {
  .column_1 > * {
    width: 98% !important;
  }
  .column_2 > * {
    width: 48% !important;
  }
  .column_3 > * {
    width: 31.333% !important;
  }
  .column_4 > * {
    width: 23% !important;
  }
  .column_5 > * {
    width: 18% !important;
  }
  .column_6 > * {
    width: 14.667% !important;
  }
  .column_7 > * {
    width: 12.286% !important;
  }
  .column_8 > * {
    width: 10.5% !important;
  }
  .column_9 > * {
    width: 9.111% !important;
  }
  .column_10 > * {
    width: 8% !important;
  }
  .column_11 > * {
    width: 7.091% !important;
  }
  .column_12 > * {
    width: 6.333% !important;
  }
  .full-width.column_1 > * {
    width: 100% !important;
  }
  .full-width.column_1 > *:nth-child(1n) {
    margin-right: 0 !important;
  }
  .full-width.column_2 > * {
    width: 49% !important;
  }
  .full-width.column_2 > *:nth-child(2n) {
    margin-right: 0 !important;
  }
  .full-width.column_3 > * {
    width: 32% !important;
  }
  .full-width.column_3 > *:nth-child(3n) {
    margin-right: 0 !important;
  }
  .full-width.column_4 > * {
    width: 23.5% !important;
  }
  .full-width.column_4 > *:nth-child(4n) {
    margin-right: 0 !important;
  }
  .full-width.column_5 > * {
    width: 18.4% !important;
  }
  .full-width.column_5 > *:nth-child(5n) {
    margin-right: 0 !important;
  }
  .full-width.column_6 > * {
    width: 15% !important;
  }
  .full-width.column_6 > *:nth-child(6n) {
    margin-right: 0 !important;
  }
  .full-width.column_7 > * {
    width: 12.571% !important;
  }
  .full-width.column_7 > *:nth-child(7n) {
    margin-right: 0 !important;
  }
  .full-width.column_8 > * {
    width: 10.75% !important;
  }
  .full-width.column_8 > *:nth-child(8n) {
    margin-right: 0 !important;
  }
  .full-width.column_9 > * {
    width: 9.333% !important;
  }
  .full-width.column_9 > *:nth-child(9n) {
    margin-right: 0 !important;
  }
  .full-width.column_10 > * {
    width: 8.2% !important;
  }
  .full-width.column_10 > *:nth-child(10n) {
    margin-right: 0 !important;
  }
  .full-width.column_11 > * {
    width: 7.273% !important;
  }
  .full-width.column_11 > *:nth-child(11n) {
    margin-right: 0 !important;
  }
  .full-width.column_12 > * {
    width: 6.5% !important;
  }
  .full-width.column_12 > *:nth-child(12n) {
    margin-right: 0 !important;
  }
  .margin-none.column_1 > * {
    width: 100% !important;
  }
  .margin-none.column_2 > * {
    width: 50% !important;
  }
  .margin-none.column_3 > * {
    width: 33.333% !important;
  }
  .margin-none.column_4 > * {
    width: 25% !important;
  }
  .margin-none.column_5 > * {
    width: 20% !important;
  }
  .margin-none.column_6 > * {
    width: 16.667% !important;
  }
  .margin-none.column_7 > * {
    width: 14.286% !important;
  }
  .margin-none.column_8 > * {
    width: 12.5% !important;
  }
  .margin-none.column_9 > * {
    width: 11.111% !important;
  }
  .margin-none.column_10 > * {
    width: 10% !important;
  }
  .margin-none.column_11 > * {
    width: 9.091% !important;
  }
  .margin-none.column_12 > * {
    width: 8.333% !important;
  }
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .t-column_1 > * {
    width: 98% !important;
  }
  .t-column_2 > * {
    width: 48% !important;
  }
  .t-column_3 > * {
    width: 31.333% !important;
  }
  .t-column_4 > * {
    width: 23% !important;
  }
  .t-column_5 > * {
    width: 18% !important;
  }
  .t-column_6 > * {
    width: 14.667% !important;
  }
  .full-width.t-column_1 > * {
    width: 100% !important;
  }
  .full-width.t-column_1 > *:nth-child(1n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_2 > * {
    width: 49% !important;
  }
  .full-width.t-column_2 > *:nth-child(2n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_3 > * {
    width: 32% !important;
  }
  .full-width.t-column_3 > *:nth-child(3n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_4 > * {
    width: 23.5% !important;
  }
  .full-width.t-column_4 > *:nth-child(4n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_5 > * {
    width: 18.4% !important;
  }
  .full-width.t-column_5 > *:nth-child(5n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_6 > * {
    width: 15% !important;
  }
  .full-width.t-column_6 > *:nth-child(6n) {
    margin-right: 0 !important;
  }
  .margin-none.t-column_1 > * {
    width: 100% !important;
  }
  .margin-none.t-column_2 > * {
    width: 50% !important;
  }
  .margin-none.t-column_3 > * {
    width: 33.333% !important;
  }
  .margin-none.t-column_4 > * {
    width: 25% !important;
  }
  .margin-none.t-column_5 > * {
    width: 20% !important;
  }
  .margin-none.t-column_6 > * {
    width: 16.667% !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-column_1 > * {
    width: 98% !important;
  }
  .m-column_2 > * {
    width: 48% !important;
  }
  .m-column_3 > * {
    width: 31.333% !important;
  }
  .m-column_4 > * {
    width: 23% !important;
  }
  .full-width.m-column_1 > * {
    width: 100% !important;
  }
  .full-width.m-column_1 > *:nth-child(1n) {
    margin-right: 0 !important;
  }
  .full-width.m-column_2 > * {
    width: 49% !important;
  }
  .full-width.m-column_2 > *:nth-child(2n) {
    margin-right: 0 !important;
  }
  .full-width.m-column_3 > * {
    width: 32% !important;
  }
  .full-width.m-column_3 > *:nth-child(3n) {
    margin-right: 0 !important;
  }
  .full-width.m-column_4 > * {
    width: 23.5% !important;
  }
  .full-width.m-column_4 > *:nth-child(4n) {
    margin-right: 0 !important;
  }
  .margin-none.m-column_1 > * {
    width: 100% !important;
  }
  .margin-none.m-column_2 > * {
    width: 50% !important;
  }
  .margin-none.m-column_3 > * {
    width: 33.333% !important;
  }
  .margin-none.m-column_4 > * {
    width: 25% !important;
  }
}
.rss {
  color: #f26522;
}
.skype {
  color: #00aff0;
}
.gplus {
  color: #dd4b39;
}
.vimeo {
  color: #1ab7ea;
}
.twitter {
  color: #55acee;
}
.youtube {
  color: #e52d27;
}
.flicker {
  color: #ff0084;
}
.linkedin {
  color: #0976b4;
}
.facebook {
  color: #3b5998;
}
.pinterest {
  color: #cc2127;
}
.vkontakte {
  color: #45668e;
}
.instagram {
  color: #3f729b;
}
a.inherit {
  color: inherit;
}
a:hover.gplus {
  color: #c23321;
}
a:hover.twitter {
  color: #2795e9;
}
a:hover.youtube {
  color: #c21d17;
}
a:hover.linkedin {
  color: #075683;
}
a:hover.facebook {
  color: #2d4373;
}
.btn.gplus {
  color: #ffffff;
  border-color: #dd4b39;
  background-color: #dd4b39;
}
.btn.gplus:hover,
.btn.gplus:active,
.btn.gplus.active {
  color: #ffffff;
  border-color: #c23321;
  background-color: #c23321;
}
.btn.twitter {
  color: #ffffff;
  border-color: #55acee;
  background-color: #55acee;
}
.btn.twitter:hover,
.btn.twitter:active,
.btn.twitter.active {
  color: #ffffff;
  border-color: #2795e9;
  background-color: #2795e9;
}
.btn.youtube {
  color: #ffffff;
  border-color: #e52d27;
  background-color: #e52d27;
}
.btn.youtube:hover,
.btn.youtube:active,
.btn.youtube.active {
  color: #ffffff;
  border-color: #c21d17;
  background-color: #c21d17;
}
.btn.linkedin {
  color: #ffffff;
  border-color: #0976b4;
  background-color: #0976b4;
}
.btn.linkedin:hover,
.btn.linkedin:active,
.btn.linkedin.active {
  color: #ffffff;
  border-color: #075683;
  background-color: #075683;
}
.btn.facebook {
  color: #ffffff;
  border-color: #3b5998;
  background-color: #3b5998;
}
.btn.facebook:hover,
.btn.facebook:active,
.btn.facebook.active {
  color: #ffffff;
  border-color: #2d4373;
  background-color: #2d4373;
}
a {
  color: #07a0c3;
}
a:hover {
  color: #034f61;
}
a:active {
  color: #034f61;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: #222222;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
}
h1:first-child:not(.logo),
h2:first-child:not(.logo),
h3:first-child:not(.logo),
h4:first-child:not(.logo),
h5:first-child:not(.logo),
h6:first-child:not(.logo),
.h1:first-child:not(.logo),
.h2:first-child:not(.logo),
.h3:first-child:not(.logo),
.h4:first-child:not(.logo),
.h5:first-child:not(.logo),
.h6:first-child:not(.logo) {
  margin-top: 0;
}
.slide .slide-description h1,
.slide .slide-description h2,
.slide .slide-description h3,
.slide .slide-description h4,
.slide .slide-description h5,
.slide .slide-description h6,
.slide .slide-description .h1,
.slide .slide-description .h2,
.slide .slide-description .h3,
.slide .slide-description .h4,
.slide .slide-description .h5,
.slide .slide-description .h6 {
  color: inherit;
}
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
.h1:empty,
.h2:empty,
.h3:empty,
.h4:empty,
.h5:empty,
.h6:empty {
  display: none;
}
h1,
.h1 {
  font-size: 2.25em;
}
h2,
.h2 {
  font-size: 1.75em;
}
h3,
.h3 {
  font-size: 1.25em;
}
h4,
.h4 {
  font-size: 1em;
}
h5,
.h5 {
  font-size: 0.875em;
}
h6,
.h6 {
  font-size: 0.75em;
}
.subtitle {
  color: #888888;
  font-size: 0.75em;
}
p {
  margin-top: 0;
  margin-bottom: 15px;
}
address {
  margin-bottom: 20px;
  font-style: normal;
}
blockquote {
  margin: 2em 0;
  padding: 0.25em 2.5em;
  color: #6f6f6f;
  font-size: 1.25em;
  position: relative;
}
blockquote::before,
blockquote::after {
  color: #bbbbbb;
  position: absolute;
  line-height: 1em;
  font-size: 2.5rem;
  font-family: flexkit-icons;
}
blockquote::after {
  right: 0;
  bottom: -0.25em;
  content: "\e064";
}
blockquote::before {
  left: 0;
  top: -0.25em;
  content: "\e065";
}
blockquote p {
  margin-bottom: 0;
}
blockquote p + p {
  margin-top: 15px;
}
blockquote .v2::after {
  content: "\e064";
}
blockquote .v2::before {
  content: "\e065";
}
blockquote.noquotes {
  border-left: 2px solid #bbbbbb;
  padding: .5em 1em;
}
blockquote.noquotes::before,
blockquote.noquotes::after {
  content: '';
}
blockquote.onequote {
  padding-left: 2em;
  padding-right: 2em;
}
blockquote.onequote::before {
  top: -0.45em;
  font-size: 6.25rem;
  opacity: 0.2;
}
blockquote.onequote::after {
  content: '';
}
blockquote.cloud {
  padding: 1em;
  background-color: #eeeeee;
  border-radius: 5px;
  position: relative;
}
blockquote.cloud::after {
  content: '';
  position: absolute;
  border: 10px solid #eeeeee;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  top: 100%;
  bottom: auto;
  left: 0;
  right: 0;
}
blockquote.cloud::before {
  content: '';
}
blockquote.cloud.border {
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid #eeeeee;
  border-radius: 0.25em;
}
blockquote.cloud.border::before {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-width: 9px;
  border-style: solid;
  border-color: #ffffff #ffffff transparent transparent;
  margin: auto;
  width: 0;
  height: 0;
}
blockquote.cloud.right {
  zoom: 1;
}
blockquote.cloud.right::after {
  left: auto;
  right: 100px;
}
blockquote.cloud.right.border::before {
  left: auto;
  right: 101px;
}
blockquote.cloud.left {
  zoom: 1;
}
blockquote.cloud.left::after {
  left: 100px;
  right: auto;
  border-right-color: transparent !important;
  border-left-color: #eeeeee !important;
}
blockquote.cloud.left.border::before {
  left: 101px;
  right: auto;
  border-right-color: transparent;
  border-left-color: #ffffff;
}
ul,
ol {
  margin-bottom: 1.5em;
  padding-left: 2.5em;
}
ul::after,
ol::after {
  content: "";
  display: table;
  clear: both;
}
ul ol,
ol ol,
ul ul,
ol ul {
  margin: 0.3em 0 1em;
}
ul li,
ol li {
  margin-bottom: 0.3em;
}
ul li::after,
ol li::after {
  content: "";
  display: table;
  clear: both;
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-latin;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-bottom: 0.75em;
}
dl dd + dd {
  margin-top: -0.5em;
}
dl.horizontal dt {
  float: left;
  clear: left;
  width: 35%;
  text-align: right;
}
dl.horizontal dd {
  margin-left: 37%;
}
[class*=" list-"],
[class^="list-"] {
  list-style-type: none;
  padding-left: 0;
}
ul.list-unstyled {
  zoom: 1;
}
ul.list-select {
  border: 1px solid #bbbbbb;
  min-height: calc(24px + 1em);
}
ul.list-select > li {
  padding: .5em;
  margin: 0;
  cursor: pointer;
}
ul.list-select > li + li {
  border-top: 1px solid #bbbbbb;
}
ul.list-select > li.active {
  background: #eeeeee;
}
ul.list-select > li.active::after {
  content: "\e000";
  color: #4fc752;
  font-size: 1.45em;
  float: right;
}
ul.list-select > li:hover {
  background: #eeeeee;
}
table {
  width: 100%;
  background-color: transparent;
}
table th,
table td {
  padding: .5em .75em;
  border-bottom: 1px solid #dddddd;
  vertical-align: middle;
}
table tr:first-child > * {
  border-top: 1px solid #dddddd;
}
table th {
  border-top: 0;
  text-align: left;
}
table thead {
  background: #e7e7e7;
}
table tbody + tbody {
  border-top: 2px solid #dddddd;
}
table tfoot {
  background: #d5d5d5;
}
table table {
  background-color: #fff;
}
table.table-outline {
  border: 1px solid #dddddd;
}
table.table-outline th:last-child,
table.table-outline td:last-child {
  border-right: 1px solid #dddddd;
}
table.condensed th,
table.condensed td {
  padding: .25em .5em;
}
table tr.disabled {
  color: #bbbbbb;
}
table.table-border_none {
  zoom: 1;
}
table.table-border_none th,
table.table-border_none td {
  border: none;
}
table.table-bordered {
  zoom: 1;
}
table.table-bordered th,
table.table-bordered td {
  border: 1px solid #dddddd;
}
table.table-striped {
  zoom: 1;
}
table.table-striped > tr:nth-child(odd),
table.table-striped tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
table.table-hover {
  zoom: 1;
}
table.table-hover thead tr:hover,
table.table-hover tfoot tr:hover {
  background: inherit !important;
}
table.table-hover tr:hover {
  background-color: #e9e9e9 !important;
}
table.table-hover tr.primary:hover {
  background-color: #bac0e4 !important;
}
table.table-hover tr.success:hover {
  background-color: #bdeabe !important;
}
table.table-hover tr.error:hover {
  background-color: #fabdbc !important;
}
table.table-hover tr.warning:hover {
  background-color: #ffe5ba !important;
}
table.table-hover tr.info:hover {
  background-color: #aee1f8 !important;
}
table.responsive {
  zoom: 1;
}
table.responsive .table-head {
  display: none;
}
@media only screen and (max-width: 800px) {
  table.responsive {
    border: none;
  }
  table.responsive thead,
  table.responsive th {
    display: none;
  }
  table.responsive tr {
    display: block;
    border: 1px solid #dddddd;
  }
  table.responsive tr + tr {
    margin-top: 1.5em;
  }
  table.responsive td {
    display: block;
    border-width: 0 !important;
  }
  table.responsive td + td {
    border-top-width: 1px !important;
  }
  table.responsive .table-head {
    font-size: 12px;
    display: block;
    border-bottom: 1px dashed;
    margin-bottom: 0.5em;
    opacity: 0.75;
  }
}
tr.primary,
th.primary,
td.primary {
  color: #222b61;
  background-color: #ccd1eb !important;
}
tr.success,
th.success,
td.success {
  color: #2a6a2c;
  background-color: #d0f0d1 !important;
}
tr.error,
th.error,
td.error {
  color: #813331;
  background-color: #fcd5d4 !important;
}
tr.warning,
th.warning,
td.warning {
  color: #886730;
  background-color: #ffefd3 !important;
}
tr.info,
th.info,
td.info {
  color: #155e7f;
  background-color: #c6eafa !important;
}
img[style*="float: left"],
img[style*="float:left"] {
  margin-right: 15px;
}
img[style*="float: right"],
img[style*="float:right"] {
  margin-left: 15px;
}
.img-thumbnail img,
img.img-thumbnail {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  transition: all 0.3s;
  border: 1px solid #bbbbbb;
}
.img-thumbnail img:hover,
img.img-thumbnail:hover {
  border-color: #3f51b5;
}
.img-circle img,
img.img-circle {
  border-radius: 50em;
}
.img-rounded img,
img.img-rounded {
  border-radius: 0.5em;
}
.img-leaflet-right img,
img.img-leaflet-right {
  border-radius: 50% 0;
}
.img-leaflet-left img,
img.img-leaflet-left {
  border-radius: 0 50%;
}
.btn,
button,
[type="submit"],
[type="button"],
[type="reset"] {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  border-color: #101a80;
  background-color: #3f51b5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
}
.btn:hover,
button:hover,
[type="submit"]:hover,
[type="button"]:hover,
[type="reset"]:hover,
.btn:active,
button:active,
[type="submit"]:active,
[type="button"]:active,
[type="reset"]:active,
.btn.active,
button.active,
[type="submit"].active,
[type="button"].active,
[type="reset"].active {
  color: #ffffff;
  border-color: #0a1153;
  background-color: #32408f;
}
.btn:active,
button:active,
[type="submit"]:active,
[type="button"]:active,
[type="reset"]:active,
.btn.active,
button.active,
[type="submit"].active,
[type="button"].active,
[type="reset"].active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
.btn[disabled],
button[disabled],
[type="submit"][disabled],
[type="button"][disabled],
[type="reset"][disabled],
.btn.disabled,
button.disabled,
[type="submit"].disabled,
[type="button"].disabled,
[type="reset"].disabled {
  border-color: #bbbbbb !important;
  color: #bbbbbb !important;
  background-color: #eeeeee !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
}
.btn[class*="grid_"],
[class*="column_"] > .btn {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn.rounded {
  border-radius: 0.25em;
}
.btn.circle {
  border-radius: 10em;
}
.btn.social::before {
  font-size: 1.5em;
}
.btn.inverse:hover,
.btn.inverse:active {
  color: #ffffff;
  background-color: #32408f;
}
.btn.warning {
  color: #ffffff;
  border-color: #ff921f;
  background-color: #ffc159;
}
.btn.warning:hover,
.btn.warning:active,
.btn.warning.active {
  color: #ffffff;
  border-color: #eb7900;
  background-color: #ffae26;
}
.btn.error {
  color: #ffffff;
  border-color: #e62321;
  background-color: #f25f5c;
}
.btn.error:hover,
.btn.error:active,
.btn.error.active {
  color: #ffffff;
  border-color: #be1816;
  background-color: #ee312d;
}
.btn.success {
  color: #ffffff;
  border-color: #189b1a;
  background-color: #4fc752;
}
.btn.success:hover,
.btn.success:active,
.btn.success.active {
  color: #ffffff;
  border-color: #126f13;
  background-color: #37ac3a;
}
.btn.info {
  color: #ffffff;
  border-color: #0679dc;
  background-color: #28b0ed;
}
.btn.info:hover,
.btn.info:active,
.btn.info.active {
  color: #ffffff;
  border-color: #055eab;
  background-color: #1195d1;
}
.btn.inverse {
  color: #888888;
  background-color: #d5d5d5;
  border-color: #b2b2b2;
}
.btn.transparent {
  color: inherit;
  background-color: transparent;
  border: none;
}
.btn.transparent:hover,
.btn.transparent:active,
.btn.transparent.active {
  background: rgba(0, 0, 0, 0.1);
}
.btn.block {
  float: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.btn.block + .block {
  margin-top: 0.5em;
}
.btn::before {
  font-size: 1.25em;
  margin-right: 5px;
}
.btn.icon {
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 2.3em;
}
.btn.icon::before {
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
@media only screen and (max-width: 800px) {
  .btn.t-icon {
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 2.3em;
  }
  .btn.t-icon::before {
    width: 100%;
    float: left;
    margin: 0;
    line-height: inherit !important;
  }
}
@media only screen and (max-width: 480px) {
  .btn.m-icon {
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 2.3em;
  }
  .btn.m-icon::before {
    width: 100%;
    float: left;
    margin: 0;
    line-height: inherit !important;
  }
}
hr {
  clear: both;
  border: none;
  border-top: 1px solid #bbbbbb;
  line-height: 0;
  margin: 1em 0;
  background: #ffffff;
  color: #bbbbbb;
}
hr.large {
  border-top-width: 2px;
}
hr.larger {
  border-top-width: 3px;
}
hr::before {
  content: attr(title);
  top: -0.6em;
  position: relative;
  line-height: 1.2em;
  color: inherit;
  max-width: 94%;
  margin: -0.5px 3% 0;
  padding: 0 .75em;
  background: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
hr[class*="icon-"]::before,
hr[class^=" icon-"]::before {
  top: -0.5em;
}
hr.dashed {
  border-top-style: dashed;
}
hr.dotted {
  border-top-style: dotted;
}
.centered {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.ws-nowrap {
  white-space: nowrap !important;
}
.ws-normal {
  white-space: normal !important;
}
.ws-pre {
  white-space: pre-wrap !important;
}
.text-light {
  font-weight: 300 !important;
}
.text-normal {
  font-weight: normal !important;
  font-style: normal !important;
}
.text-medium {
  font-weight: 500 !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-italic {
  font-style: italic !important;
}
.lh-inherit {
  line-height: inherit !important;
}
.lh-small {
  line-height: 1 !important;
}
.lh-medium {
  line-height: 1.275 !important;
}
.lh-normal {
  line-height: 1.5 !important;
}
.lh-large {
  line-height: 1.875 !important;
}
.cl-none {
  clear: none;
}
.cl-both {
  clear: both;
}
.fl-left {
  float: left !important;
}
.fl-right {
  float: right !important;
}
.fl-none {
  float: none !important;
}
.scroll {
  overflow: auto !important;
}
.wrap {
  overflow: hidden !important;
}
.overflow-none {
  overflow: visible !important;
}
.show {
  display: block !important;
}
.block {
  display: block;
}
.inline-block-wrap {
  font-size: 0;
}
.inline-block-wrap >* {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.hide,
.ui-helper-hidden,
.ui-helper-hidden-accessible,
.btn.hide {
  display: none;
}
.pointer {
  cursor: pointer !important;
}
.help {
  cursor: help !important;
}
.fs12,
.is12:before {
  font-size: 12px !important;
}
.fs14,
.is14:before {
  font-size: 14px !important;
}
.fs16,
.is16:before {
  font-size: 16px !important;
}
.fs18,
.is18:before {
  font-size: 18px !important;
}
.fs24,
.is24:before {
  font-size: 24px !important;
}
.fs32,
.is32:before {
  font-size: 32px !important;
}
.fs48,
.is48:before {
  font-size: 48px !important;
}
.fs64,
.is64:before {
  font-size: 64px !important;
}
.fs-inherit,
.is-inherit:before {
  font-size: inherit !important;
}
.inherit {
  color: inherit;
  background: inherit;
}
.inherit-bg {
  background: inherit;
}
.inherit-color {
  color: inherit;
}
a.inherit-color:hover {
  color: #07a0c3;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m0px {
  margin: 0px !important;
}
.mt0px {
  margin-top: 0px !important;
}
.mt5px {
  margin-top: 5px !important;
}
.mt10px {
  margin-top: 10px !important;
}
.mt15px {
  margin-top: 15px !important;
}
.mt20px {
  margin-top: 20px !important;
}
.mt25px {
  margin-top: 25px !important;
}
.mt30px {
  margin-top: 30px !important;
}
.mb0px {
  margin-bottom: 0px !important;
}
.mb5px {
  margin-bottom: 5px !important;
}
.mb10px {
  margin-bottom: 10px !important;
}
.mb15px {
  margin-bottom: 15px !important;
}
.mb20px {
  margin-bottom: 20px !important;
}
.mb25px {
  margin-bottom: 25px !important;
}
.mb30px {
  margin-bottom: 30px !important;
}
.mtLabel {
  margin-top: 1.75em;
}
.mtInput {
  margin-top: 2.3em;
}
.ml-grid {
  margin-left: 1% !important;
}
.mr-grid {
  margin-right: 1% !important;
}
.p0px {
  padding: 0px !important;
}
.pl-grid {
  padding-left: 1%;
}
.pr-grid {
  padding-right: 1%;
}
.ff-text {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
.ff-header {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
}
.h-auto {
  height: auto !important;
}
.maxH-none {
  max-height: none !important;
}
.w-auto {
  width: auto !important;
}
.maxW-none {
  max-width: none !important;
}
.gray-darker-bg {
  color: #fff;
  background-color: #222222;
}
.gray-dark-bg {
  color: #fff;
  background-color: #555555;
}
.gray-bg {
  color: #fff;
  background-color: #888888;
}
.gray-light-bg {
  color: #fff;
  background-color: #bbbbbb;
}
.gray-lighter-bg {
  color: #555555;
  background-color: #eeeeee;
}
.white-bg {
  background: #fff;
}
.gray-darker {
  color: #222222;
}
.gray-dark {
  color: #555555;
}
.gray {
  color: #888888;
}
.gray-light {
  color: #bbbbbb;
}
.gray-lighter {
  color: #eeeeee;
}
.white {
  color: #fff;
}
.table {
  float: none;
  display: table;
  width: 100%;
}
.tr {
  float: none;
  display: table-row;
}
.td {
  float: none;
  display: table-cell;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.primary {
  color: #3f51b5;
}
a.primary:hover {
  color: #2b387c;
}
.success {
  color: #4fc752;
}
a.success:hover {
  color: #319933;
}
.warning {
  color: #ffc159;
}
a.warning:hover {
  color: #ffa40d;
}
.error {
  color: #f25f5c;
}
a.error:hover {
  color: #ec1915;
}
.info {
  color: #28b0ed;
}
a.info:hover {
  color: #0f85b9;
}
.seosamba-color {
  color: #83b421;
}
a.seosamba-color:hover {
  color: #547315;
}
.seosamba-bg {
  color: #fff;
  background-color: #83b421;
}
.seotoaster-color {
  color: #6464fd;
}
a.seotoaster-color:hover {
  color: #1818fc;
}
.seotoaster-bg {
  color: #fff;
  background-color: #6464fd;
}
.primary-bg {
  background-color: #3f51b5;
  color: #ffffff;
}
.success-bg {
  background-color: #4fc752;
  color: #fff;
}
.warning-bg {
  background-color: #ffc159;
  color: #fff;
}
.error-bg {
  background-color: #f25f5c;
  color: #fff;
}
.info-bg {
  background-color: #28b0ed;
  color: #fff;
}
.larger {
  font-size: 1.5em;
}
.large {
  font-size: 1.25em;
}
.small {
  font-size: 0.85em;
}
.mini {
  font-size: 0.75em;
}
.uppercase {
  text-transform: uppercase;
}
.lowecase {
  text-transform: lowercase;
}
code {
  padding: 1px 5px;
  background: #f7f7f7;
  border: 1px solid #ddd;
  color: #f25f5c;
}
