#design-your-gazebo {
  font-family: "PT Sans", sans-serif !important;
  font-size: 30px !important;
  font-weight: normal !important;
  color: #661408 !important;
}

#designer-wrap {
  font-family: "PT Sans", sans-serif !important;
  color: #661408 !important;
  width: 900px;
  min-height: 540px;
  margin-bottom: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.designer-slide p {
  margin-bottom: 0;
}
.designer-slide form p {
  margin-bottom: 8px;
}

.designer-slide ul li {
  margin-bottom: 6px;
}

.designer-top h3 {
  font-family: "PT Sans", sans-serif !important;
  font-size: 20px;
  color: #661408 !important;
}

#designer-summary h3 {
  font-family: "PT Sans", sans-serif !important;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7cdb6;
}

#designer-left {
  width: 520px;
  margin-right: 30px;
  overflow: hidden;
}

#designer-left, #designer-right {
  float: left;
}

#designer-right {
  width: 350px;
  height: 440px;
}

#designer-slides {
  width: 100%;
  height: 420px;
  overflow: hidden;
}

.designer-slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.designer-controls {
  position: relative;
  bottom: 0px;
}

.designer-image-option {
  position: relative;
  width: 150px;
  cursor: pointer;
  float: left;
  margin-right: 20px;
  border: 3px solid transparent;
}

.designer-image-option.active {
  border-bottom: 3px solid #797979;
  opacity: 1.0;
}

.designer-image-text {
  position: absolute;
  width: 100%;
  display: block;
  bottom: 0px;
}

.designer-image-text span {
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 5px rgba(0,0,0, 0.75);
  width: 100%;
  padding: 5px 0px;
  background: rgba(0, 0, 0, 0.30);
  color: rgb(255, 255, 255);
}

.summary-text {
  font-weight: bold;
  font-size: 12.5px;
  color: #AD645A;
}

.half-col, #reviewsummary .half-col{
  width: 250px;
  margin-right: 5px;
  float: left;
}

.half-col p, #reviewsummary .half-col p{
  margin: 0px 0px 3px 0px !important;
  background: white;
  border: 1px solid #efefef;
  padding: 2px 0px;
  width: 100%;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: none;
}

.gazebo-buttons li, dl dt{
  display: block;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background: #812a00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 3px solid #4e1900;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
  margin-right: 10px;
}

.gazebo-buttons li:hover, dl dt:hover{
  border-bottom: none;
  margin-top: 3px;
}

.gazebo-buttons li.active, dl dt.active{
  border-bottom: none;
  margin-top: 3px;
  background: #4e1900;
}

.gazebo-buttons li a, dl dt a{
  padding: 5px 10px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

i{
  font-size: 12px;
}

dt a{
  color: white !important;
}

.designer-middle {
  min-height: 230px;
}

.designer-middle ul, .designer-middle dl{
  margin: 5px 10px;
}

.designer-controls a{
  padding: 4px 15px;
  color: white;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  position: relative;
  background: #30850e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 3px solid #1f5709;
}

.designer-controls a:hover{
  border-bottom: 0px;
  top: 3px;
}

.designer-controls a:hover {
  border-bottom: none;
}

a.designer-next{
background: #fecc02; 
color: #000000; 
border-color: #de9a32;
text-shadow: none;
}

#designer-preview {
  position: relative;
  height: 375px;
}

#gazebo-price{
  margin-top: 25px;
  text-align: center;
}

#estimatedprice{
  font-weight: bold;
}

#designer-preview img {
  position: absolute;
  display: none;
  width: 350px;
  height: 380px;
}

#octagon-sizes, #oval-sizes, #rectangle-sizes, #wood-colors, #vinyl-colors {
  display: none;
}

#step11b {
  clear: left;
}

.clear {
  clear: both;
}

.bold {
  font-weight: bold;
}

#reviewsummary{
  max-height: 220px;
  overflow: hidden;
}


#cform{
  padding: 15px 0px 0px 20px;
}

#cform label{
  width: 80px;
  display: block;
  padding-top: 10px;
  float: left;
  clear: left;
}

#cform input{
  float: left;
  padding: 4px 7px;
  width: 275px;
  margin: 0px 0px 10px 10px;
}

#review-details{
  display: none;
}

a,a:hover,a:active,a:focus{
  outline: 0;
}

#designer-right img{
  border: 0 !important;
  outline: 0 !important;
}

.col-33{
  width: 30%;
  float: left;
}

.col-66{
  width: 66%;
  margin-left: 15px;
  float: left;
}

#eze-breeze-wrap{
  display: none;
}

img:-moz-loading {
    visibility: hidden;
}

@media print {

    #review-details {
        font-size: 11pt;
        line-height: 1.1em;
   }

   .half-col p{
      background: none;
      color: black !important;
      font-size: 11pt;
      padding: 0;
   }

   #reviewsummary {
        max-height: 1745px;
        overflow: auto;
    }

   .designer-controls{
      display: none;
   }
}

/* colors */

.color:hover,
.color.active,
.darkcolor:hover,
.darkcolor.active{
  border-bottom: 0 !important;
}

.color a{
  color: #4E4E4E !important;
  text-shadow: none !important;
}

.darkcolor a{
  color: white !important;
}

.color-bluespruce{
  background: #a2a7ae !important;
  border-bottom: 3px solid #6e7176 !important;
}

.color-cedar{
  background: #ebbe85 !important;
  border-bottom: 3px solid #b68b54 !important;
}

.color-clear{
  background: #f4d59e !important;
  border-bottom: 3px solid #c4a46c !important;
}

.color-vinyl{
  background: white !important;
  border-bottom: 3px solid #ebebeb !important;
}

.color-ivory{
  background: #eeebdc !important;
  border-bottom: 3px solid #cbc9bd !important;
}

.color-manheimgray{
  background: #d9c8ba !important;
  border-bottom: 3px solid #b8a494 !important;
}

.color-mushroom{
  background: #c1ab84 !important;
  border-bottom: 3px solid #9e8b69 !important;
}

.color-redwood{
  background: #d2795d !important;
  border-bottom: 3px solid #ab5d45 !important;
}

.color-darkgray{
  background: #c8b99e !important;
  border-bottom: 3px solid #a69980 !important;
}

/* step 5 */

.color-rivierared{
  background: #7F1A2A !important;
  border-bottom: 3px solid #611a19 !important;
}

.color-harvardslate{
  background: #404535 !important;
  border-bottom: 3px solid #393737 !important;
}

.color-nationalblue{
  background: #343564 !important;
  border-bottom: 3px solid #242856 !important;
}

.color-forestgreen{
  background: #005500 !important;
  border-bottom: 3px solid #39402d !important;
}

.color-earthstonecedar{
  background: #B4814D !important;
  border-bottom: 3px solid #8c6b4a !important;
}

.color-dualbrown{
  background: #6d3624 !important;
  border-bottom: 3px solid #41312b !important;
}

.color-dualblack{
  background: #292929 !important;
  border-bottom: 3px solid #000000 !important;
}

.color-driftwood{
  background: #73544F !important;
  border-bottom: 3px solid #5f453c !important;
}

.color-weatherwood{
  background: #665b3c !important;
  border-bottom: 3px solid #574d38 !important;
}

#step12a a,
#step12b a {
  font-size: 12px !important;
  padding: 3px 8px !important;
}