/* CSS Document */

/* =========== Flat (old: static) menu =*/
ul.static_menu { overflow: hidden; margin-top: 14px; }
ul.static_menu li {
    display: block;
    float: left;
}
ul.static_menu li:first-child a {border: none;}
ul.static_menu li a {
    padding: 0 6px;
	border-left: 1px solid #444;
}
ul.static_menu li a.current, ul.static_menu li a:hover {
	color: #539A52;
    text-decoration: underline;
}	
ul.static_menu li a span {}
/* =========== Main menu =*/
ul.main_menu {
    float: left;
    font-size: 0;
    line-height: 0;
}
ul.main_menu li, nav ul.featureditem li {display: inline-block;}
ul.main_menu li.category:first-child {vertical-align: top;}
ul.main_menu li.category:hover, ul.main_menu li.category.parent-current {	
}
ul.main_menu li.page {}
ul.main_menu li a, nav ul.featureditem a.page-title {
	padding: 8px 15px 8px;
    font-size: 17px;
}
ul.main_menu li.category a {}
	ul.main_menu li.category a.current, ul.main_menu li.category a:hover, nav ul.featureditem a.page-title:hover {
		background-color: #4B5668;
		color: #FFF;
		text-decoration: none;
	}
ul.main_menu li.cat-1 {}
ul.main_menu li.cat-1 a {
   font-size: 0;
   padding: 8px 20px 11px;
}
ul.main_menu li.cat-1 span {
    font-size: 20px; 
    vertical-align: middle;
}
ul.main_menu li.page a {}
ul.main_menu li.category:hover ul {display: block;}
ul.main_menu li ul {
    display: none;
    position: absolute; 
    z-index: 100; 
    background-color: #DDD; 
    min-width: 120px;
}
ul.main_menu li ul li {
display: block;}
/* =========== Sitemap =*/
ul.sitemap {margin: 0 60px 0 0;}
ul.sitemap li {
    margin-bottom: 10px;
    padding-left: 20px;
    text-align: left;
}
ul.sitemap li ul {}
ul.sitemap li ul li {}
ul.sitemap li a {
    font-size: 26px;
}
/* =========== Listxrss =*/
ul.listxrss {}
ul.listxrss li {}
ul.listxrss li a.page-title {}
ul.listxrss li span {}
ul.listxrss li img {}
ul.listxrss li p {}
/* =========== All widget =
	first string - featured item/page
	second string - list pages/categories
	third string - search
*/
ul.featureditem,
ul.listpages, ul.listcategories,
ul.search-results {
	overflow: hidden;
}
ul.featureditem li, div.featureapage,
ul.listpages li, ul.listcategories li,
ul.search-results li.search-result-row {
	margin-bottom: 20px;
}
#home-page li{
	width: 24%;
    padding: 1%; 
    margin: 0 0 0 1%;
    float: left;
    border: 1px solid #E8E8E8;    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
#home-page span{height:33px;}
#home-page a.page-teaser-image{ height: 132px;}
#home-page img{ height:100%;}
	.center ul.featureditem li:first-child, .center div.featureapage:first-child,
	.center ul.listpages li:first-child, .center ul.listcategories li:first-child {
		margin-left: 0;
}
ul.featureditem li:first-child, div.featureapage,
	ul.listpages li:first-child, ul.listcategories li:first-child,
	ul.search-results li.search-result-row:first-child {
	}
ul.featureditem a.page-teaser-image, div.featureapage a.page-teaser-image,
ul.listpages a.page-teaser-image, ul.listcategories a.page-teaser-image,
ul.search-results a.page-teaser-image {
	display: block;
    overflow: hidden;
    width: 100%;
}
.center ul.featureditem a.page-teaser-image, .center div.featureapage a.page-teaser-image,
.center ul.listpages a.page-teaser-image, .center ul.listcategories a.page-teaser-image {
	width: 100%; 
    height: 130px; 
	overflow: hidden;
}
ul.featureditem a.page-title, div.featureapage a.page-title,
ul.listpages a.page-title, ul.listcategories a.page-title,
ul.search-results a.page-title {
    display: block;
    font-weight: 500;
    font-size: 21px;
    margin: 7px 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}
.center ul.featureditem a.page-title, .center div.featureapage a.page-title,
.center ul.listpages a.page-title, .center ul.listcategories a.page-title {
	margin: 8px 0; 
    font-weight: 500;      
    font-size: 1.4em;
}
	ul.featureditem a.page-title:hover, div.featureapage a.page-title:hover,
	ul.listpages a.page-title:hover, ul.listcategories a.page-title:hover,
	ul.search-results a.page-title:hover {
		
	}
ul.featureditem img, div.featureapage img,
ul.listpages img, ul.listcategories img,
ul.search-results img {
	width: 100%;
    float:none;
}
ul.featureditem span, div.featureapage p,
ul.listpages span, ul.listcategories span,
ul.search-results span {
	display: block; 
    overflow: hidden;
    height: 34px;
    padding: 0 7px;
}
.center ul.featureditem span, .center div.featureapage p,
.center ul.listpages span, .center ul.listcategories span,
.center ul.search-results span {
	
}
/* =========== Tags list =*/
ul.featureditem { width:100%;}
ul.featureditem li {}
ul.featureditem a.page-teaser-image {}
ul.featureditem a.page-title {
    padding: 0 7px;    
}

ul.featureditem a.page-title:hover {}
ul.featureditem img {}
/*ul.featureditem span { height: 34px;}*/

nav ul.featureditem {
	float: right;
    width: 165px;
}
nav ul.featureditem li {
	display: inline-block;
    *display: inline;
	margin: 0;
}
nav ul.featureditem a.page-title { font-style: italic;}
nav ul.featureditem a.page-teaser-image, nav ul.featureditem img, nav ul.featureditem span {
	display: none;
}
ul.featureditem li, div.featureapage,
 ul.listpages li, ul.listcategories li{     
    float:left;
    width:23%;
    margin: 1%;
    padding:5px;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;    
    box-sizing: border-box;
    border:1px solid #eee;
}
ul#fail li{
    width: 31%;    
}
/* =========== Tags page =*/
div.featuredpage {}
div.featuredpage a.page-teaser-image {}
div.featuredpage a.page-title {}
	div.featuredpage a.page-title:hover {}
div.featuredpage img {}
div.featuredpage p {}
/* =========== List pages =*/
ul.listpages {}
ul.listpages li {
    width: 32%;
    margin: 1% 0.5%;    
}
ul.listpages a.page-teaser-image {}
ul.listpages a.page-title {
    padding:0 7px;    
}
	ul.listpages a.page-title:hover {}
ul.listpages img {}
ul.listpages span {height: 49px;}
/* =========== List categories =*/
ul.listcategories {}
ul.listcategories li {}
ul.listcategories a.page-teaser-image {}
ul.listcategories a.page-title {}
	ul.listcategories a.page-title:hover {}
ul.listcategories img {}
ul.listcategories span {}
/* =========== Search Result =*/
ul.search-results {}
ul.search-results li.search-result-row {
    list-style: none;
    float: left;
    width:46%;
    padding: 5px;
    margin: 1.5%;
    border: 1px solid #EEE;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;        
}
ul.search-results a.page-teaser-image {}
ul.search-results a.page-title {
    padding: 0 7px;
    font-weight: bold;
}
ul.search-results img {
    height: 184px;   
}
ul.search-results span {
    line-height: 1.5em;
    height: 40px;
}
/* =========== Product List widget =*/
ul.relatedpages {}
ul.relatedpages li {}
ul.relatedpages a.page-teaser-image {}
ul.relatedpages a.page-title {}
ul.relatedpages img {}
ul.relatedpages span {}
div.list-style {
    position: absolute; 
    right: 0; 
    top: 26px;
}
div.list-style span {
    cursor: pointer; 
    margin-left: 4px;
    font-size: 18px;
    color: #666;
}
div.list-style span.activelink {color: #3692CA;}
.prepoplinks {overflow: hidden;}
.prepoplinks, .prepoplinks li {
	margin: 0; padding: 0;
	list-style: none;
}
.prepoplinks li a {
	display: block; 
    float: left;
	color: #4B5668;
	font-size: 15px;
	margin: 0 10px 8px 0;
}
ul.news-list {}
ul.news-list li {
    opacity: 0;
    float: left;
    margin-bottom: 15px; 
    padding: 5px 15px 15px;
    overflow: visible;
    position: relative;    
    background-color: #FFF; 
    border: 1px solid #EEE;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;    
    box-sizing: border-box;
}
ul#main-news li{
    opacity: 1;
    display: block;
    width: 49%;
    margin: 0.5%;
}
ul#main-news .news-item-description{
    height: 90px;
    overflow: hidden;    
}
ul#main-news li img{
    height: 140px;
}
ul#main-news .news-item-title{
    margin: 5px 0;    
}
ul#main-news .news-item-title a{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;    
}
ul#main-news a.page-teaser-image {
    margin-top: 5px;    
}

ul.news-list li h4{
    margin:12px 0 8px;
}
ul.news-list li .newslog-admin-actions {
    text-align: right;
    overflow: hidden;    
}
ul.news-list li a.page-teaser-image {
    border: 1px solid #F0F0F0;
    display: block;
    margin: 0 15px 3px 0;    
    overflow: hidden;
    padding: 5px;
    width: 100%;
    float: left;       
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;   
	
}
ul.news-list li a.page-teaser-image img {width: 100%;}
ul.news-list li .page-title {
    margin: 0;
    padding-bottom: 4px;
}
ul.news-list li h4 {}
ul.news-list li .page-title a {
    font-size: 19px;
    text-decoration: none;
}
ul.news-list li .news-item-date {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 0;
}
ul.news-list li .news-item-description {line-height: 1.4em;}
ul.news-list li .news-item-tags {
    text-align: right;
    font-size:0;
    margin-top: 5px;
}
ul.news-list li .news-item-tags a{ 
    font-size:11px;
    background: #B8C9C9;
    text-decoration: none;
    color: #FFF;
    float: left;
    padding: 5px 12px;
    margin-right: 5px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
ul.news-list li .news-item-tags a:hover{ 
    background: #008080;    
}
#news-action-edit {
    color: #fff;
    float: left;
    margin: 5px;
    position: relative;
}
#news-action-edit:after {
    content: "[ edit ]";
    position: absolute;
    top: 0;
    left: -13px;
    width: 46px;
    color: rgb(6, 134, 252);
}
#news-action-delete {
    float: right;
    margin: 5px;
    color: #fff !important;
    position: relative;
}
#news-action-delete:after {
    content: "[ delete ]";
    position: absolute;
    top: 0;
    left: -15px;
    width: 60px;
    color: #F0323C;
}
ul.news-list .news-item-admin-actions {
    position: absolute;
    right: 0;
    top: 0;
}
#footer-news {
    margin: 0; 
    padding: 0;    
}
#footer-news li {
    list-style: none; 
    margin: 0; padding: 0;
    overflow: hidden;
    background: #FCFCFC;
}
#footer-news, #footer-news li {
    width: 100% !important;    
}
#footer-news div {}
#footer-news .news-item-date {
    background: none repeat scroll 0 0 #EFEFEF; 
    color: #999;
    float: left;
    font-size: 12px; 
    font-weight: bold;
    height: 38px;
    line-height: 1.6em;
    margin-right: 2%;
    padding: 3px 0;
    text-align: center;
    width: 9%;
    overflow: hidden;    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#footer-news .news-item-title {
    width: 25%;    
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
}
#footer-news .news-item-description { width: 89%;}
#footer-news .news-item-title,
#footer-news .news-item-description {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;  
}

.pagerating-list > div {
    background-color: #FFF; border: 1px solid #EEE;
    margin-bottom: 4px;
    padding: 10px;    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.stars-container img {width: auto;}


ul.static_menu li a,
ul.main_menu li a, nav ul.featureditem a.page-title,
ul.featureditem a.page-title, div.featureapage a.page-title, ul.listpages a.page-title, ul.listcategories a.page-title, ul.search-results a.page-title
{
	color: #454545;
}
ul.main_menu li a, nav ul.featureditem a.page-title,
ul.featureditem a.page-title, div.featureapage a.page-title, ul.listpages a.page-title, ul.listcategories a.page-title, ul.search-results a.page-title,
.prepoplinks li a
{
	font-family: 'Archivo Narrow';
}
.hotel-items{
    overflow: hidden;
    margin:0;
}
.hotel-items li{
    opacity:0;
    list-style: none;
    float: left;
    width:31%;
    padding: 5px;
    margin: 1.5%;
    border: 1px solid #EEE;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}
.hotel-items .directupload-wrapper{
    width:100%;
    margin: 0 0 10px 0;
}
.hotel-items .directupload-wrapper a{display: block;}
.hotel-items .direct-upload,
.hotel-items .direct-upload-images{
    width:100%;
    display:block;     
    overflow: hidden;
}
.hotel-items .direct-upload img{ width:100%;}
.check-p{
    display: inline-block;
    *display: inline;
    cursor: pointer;
    font: 500 17px 'Archivo Narrow';
    background-color: #4B5668;
    border: 0 solid #338FF1;
    color: #FFF;
    padding: 4px 10px;
    margin: 8px 0 10px;
    position:relative;
    left:50%;
    margin-left:-49px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.check-p:hover{
    background-color: #76859C;
    border-color: #3C4655;
    text-decoration: none;
}
.info {
}
#right-top-menu li{
    width: auto;
    padding: 0;
    border: none;
}
/*
#Coffee-shops li,
#Resturants li,
#Pizza li,
#Beer li,
#University li,
#sightseeing li,
#Entertainment li,
#Night-clubs li,
#Useful_info li,
#Fast-Food li,
#Euro-2012 li,
#hotels-list li
#fail li{
    opacity:0;    
}*/
#right-top-menu li a{ margin:0;}
     