@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);

.toaster-widget * {
	color:#666;
	font:12px 'Open Sans', Arial, Helvetica, 'Droid Sans', sans-serif;
}

/*==== Links ========*/
.toaster-widget a{
	text-decoration:none;
	color:#3399CC;
	transition:color .3s ease-out;
    -moz-transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
    -o-transition:color .3s ease-out;
    -ms-transition:color .3s ease-out;
	transition:none !ie;
}
.toaster-widget a:hover, .toaster-widget a.current {
	text-decoration:underline;
	color:#005580;
}
.toaster-widget table.widget a {
	text-decoration:underline;
	color:#0088AA;
}
.toaster-widget table.widget a:hover {
	text-decoration:none;
}
.toaster-widget table ul, .toaster-widget table ul li{ margin:0; padding:0; list-style:none; }

/*========= Formats ===========*/
.toaster-widget .fs12 {font-size:12px;}
.toaster-widget .fs14 {font-size:14px;}
.toaster-widget .fs16 {font-size:16px;}
.toaster-widget .fs18 {font-size:18px;}
.toaster-widget .fs24 {font-size:24px;}
.toaster-widget .fs32 {font-size:32px;}
.toaster-widget .fs48 {font-size:48px;}
.toaster-widget .fs64 {font-size:64px;}

.toaster-widget .bold{ font-weight:bold; }
.toaster-widget .normal{ font-weight:normal;}
.toaster-widget .italic{ font-style:italic; }

.toaster-widget .wrap{ overflow:hidden; }
.toaster-widget .block{ display:block; }
.toaster-widget .hidden{ display:none; }
.toaster-widget .none{ clear:none; }
.toaster-widget .both{ clear:both; }

.toaster-widget .text-left{ text-align:left; }
.toaster-widget .text-center{ text-align:center; }
.toaster-widget .text-right{ text-align:right; }

.toaster-widget .fl-left{ float:left; }
.toaster-widget .fl-right{ float:right; }
.toaster-widget .fl-none{ float:none; }

/*========= paginator ===========*/
.toaster-widget .paginator div:first-child, .toaster-widget .toaster-widget .pager div:first-child{ margin-bottom:5px; }
.toaster-widget .paginator span.page, .toaster-widget .pager span.page{ font-weight:bold; }
.toaster-widget .paginator a.page, .toaster-widget .pager a.page{ text-decoration:none; margin:0 2px; }
.toaster-widget .paginator a.page:before, .toaster-widget .paginator a.page:after, .toaster-widget .pager a.page:before, .toaster-widget .pager a.page:after { font-weight:bold; font-size:14px; }
.toaster-widget .paginator a.page[data-page="first"]::before, .toaster-widget .pager a.page[data-page="first"]::before{ content:"«"; margin-right:2px; }
.toaster-widget .paginator a.page[data-page="last"]::after, .toaster-widget .pager a.page[data-page="last"]::after{ content:"»"; margin-left:3px; }
.toaster-widget .paginator a.page[data-page="prev"]::before, .toaster-widget .pager a.page[data-page="prev"]::before{ content:"‹"; margin-right:2px }
.toaster-widget .paginator a.page[data-page="next"]::after, .toaster-widget .pager a.page[data-page="next"]::after{ content:"›"; margin-left:3px; }

/*======= Table =======*/
.toaster-widget table.widget {
	width:100%;
	border-collapse: inherit;
	background:#fafafa;
	border:none;

	clear:both;
}
.toaster-widget table.widget.table-border{ border-right:none; }
.toaster-widget table.widget.table-zebra{ background:#fcfcfc; }
.toaster-widget table.widget tr.search-line th{
	border-bottom: medium none;
	text-align: left;
	text-shadow:none;
}
.toaster-widget table.widget tr.search-line th.text-right{
	text-align: right;
}
.toaster-widget table.widget tr.search-line label{
	margin-left: 10px;
	margin-right: 10px;
	width: auto;
	float:left;
}
.toaster-widget table.widget tr.search-line input{
	margin: 0;
	width: 250px;
}
.toaster-widget table.widget tr.row-red{ background:#F2DEDE; }
.toaster-widget table.widget tr.row-green{ background:#DFF0D8; }
.toaster-widget table.widget tr.row-blue{ background:#D9EDF7; }
.toaster-widget table.widget.table-zebra tr:nth-child(odd){ background:#f7f7f7; }
.toaster-widget table.widget tr:hover, .toaster-widget table.widget.table-zebra tr:hover{ background:#eee; }
.toaster-widget table.widget th, .toaster-widget table.widget td {
	border:none;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	vertical-align: middle;
	padding:5px;
}
.toaster-widget table.widget.table-border th, .toaster-widget table.widget.table-border td{ border-right:1px solid #ccc; }
.toaster-widget table.widget th{
	color:#fff !important;
	white-space: normal;
	background: #aaa;
	padding:7px 5px;
	font-size:13px;
}
.toaster-widget table.widget th.sorting, .toaster-widget table.widget th.sortable { cursor: pointer; }
.toaster-widget table.widget th.sorting::after, .toaster-widget table.widget th.sortable::after { content: "\00A0\21D5"; }
.toaster-widget table.widget th.sorting_asc::after, .toaster-widget table.widget th.sortUp::after { content: "\00A0\21E9"; }
.toaster-widget table.widget th.sorting_desc::after, .toaster-widget table.widget th.sortDown::after { content: "\00A0\21E7"; }
.toaster-widget table.widget td {
	text-align:center;
	font-size:12px;
}
.toaster-widget table.widget td.text-left{ text-align:left; }
.toaster-widget table.widget td.text-right{ text-align:right; }
.toaster-widget table.widget tfoot tr, table.widget tfoot tr:hover{ background:#ddd; }
.toaster-widget table.widget tfoot select{ width:200px; }

/****** Gradient class box *******/
.toaster-widget div.gradient{
	outline:1px solid #c4c4c4;
	margin-bottom:25px;
}
.toaster-widget div.gradient>h2, .toaster-widget div.gradient>ul.ui-tabs-nav{
	font-size: 20px;
	font-weight: normal;
	padding: 5px 10px;
	margin:0;
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #fff 0%,#f3f3f3 100%);
	-pie-background: linear-gradient(#fff 0%,#f3f3f3 100%);
}
.toaster-widget div.gradient>div{
	background:#fff;
	border-top:1px solid #c4c4c4;
	padding:10px;
	overflow:hidden;
}

/****** Tabs *******/
.toaster-widget div.ui-tabs{
	border-radius:0;
	-ms-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.toaster-widget div.ui-tabs>ul.ui-tabs-nav{
	box-shadow:none;
	-ms-box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border-radius:0;
	-ms-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	background:#eeeeee;
	border:none;
	padding:0 10px !important;
	position:relative;
	z-index:5;
}
.toaster-widget div.ui-tabs>ul.ui-tabs-nav>li{
	border-radius:0;
	-ms-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	margin: 0;
	padding: 0;
	background:none;
	border:1px solid transparent;
	border-bottom:none;
	position:static;
	float:left;
}
.toaster-widget div.ui-tabs>ul.ui-tabs-nav>li.ui-tabs-active{
	padding-bottom:1px;
	margin-bottom:-1px;
    font-weight:bold;
	border-color: #fff;
	background:#fff;
}
.toaster-widget div.ui-tabs>ul.ui-tabs-nav>li>a {
	font-size: 14px;
	padding: 7px 15px;
	text-shadow: none;
	color:#666;
}
.toaster-widget div.ui-tabs>ul.ui-tabs-nav>li>a:hover, .toaster-widget div.ui-tabs>ul.ui-tabs-nav>li.ui-tabs-active>a{ color:#444; }
.toaster-widget div.ui-tabs>.ui-tabs-panel{
	background:#fff;
	overflow:hidden;
	border:none;
	padding:0;
	border-radius:0;
	-ms-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
#profile-orders-list{ padding:0; }
/****** Tabs reset *******/
.toaster-widget div.ui-tabs.gradient>ul.ui-tabs-nav>li{ border-width:0 1px; }
.toaster-widget div.ui-tabs.gradient>ul.ui-tabs-nav>li.ui-tabs-active:first-child{ border-left:none; }
.toaster-widget div.ui-tabs.gradient>.ui-tabs-panel{ border-width:1px 0 0 0; }

/****** Tabs left *******/
.toaster-widget div.ui-tabs.tabs-left{
	box-shadow:none;
	-ms-box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	outline:none;
}
.toaster-widget div.ui-tabs.tabs-left>ul.ui-tabs-nav{
	float:left;
	margin-right:-1px;
}
.toaster-widget div.ui-tabs.tabs-left.gradient>ul.ui-tabs-nav{
	border:1px solid #c4c4c4;
	border-right:none;
}
.toaster-widget div.ui-tabs.tabs-left>ul.ui-tabs-nav>li{
	margin:0;
	padding:0;
	float:none;
	overflow:hidden;
	border-left: none;
	border-right:1px solid #c4c4c4;
}
.toaster-widget div.ui-tabs.tabs-left>ul.ui-tabs-nav>li.ui-tabs-active{
	margin-bottom:-1px;
	border-right:1px solid #fff;
	border-left:1px solid #c4c4c4;
	border-top:1px solid #c4c4c4;
	border-bottom:1px solid #c4c4c4 !important;
}
.toaster-widget div.ui-tabs.tabs-left.gradient>ul.ui-tabs-nav>li.ui-tabs-active{ border-left:none; }
.toaster-widget div.ui-tabs.tabs-left.gradient>ul.ui-tabs-nav>li.ui-tabs-active:first-child{ border-top:none; }
.toaster-widget div.ui-tabs.tabs-left>.ui-tabs-panel{ border:1px solid #c4c4c4; }

/****** Tabs list *******/
.toaster-widget div.ui-tabs.tabs-list{ }
.toaster-widget div.ui-tabs.tabs-list>ul.ui-tabs-nav{ }
.toaster-widget div.ui-tabs.tabs-list>ul.ui-tabs-nav>li{
	border:none;
	border-left:1px solid #ccc;
	padding:0 5px;
}
.toaster-widget div.ui-tabs.tabs-list.tabs-left>ul.ui-tabs-nav>li{ border:none !important; }
.toaster-widget div.ui-tabs.tabs-list>ul.ui-tabs-nav>li.ui-tabs-active{
	margin:0;
	background:none;
}
.toaster-widget div.ui-tabs.tabs-list>ul.ui-tabs-nav>li:first-child{ border-left:none; }
.toaster-widget div.ui-tabs.tabs-list>ul.ui-tabs-nav>li>a{
	font-weight:normal;
	padding:0 5px;
	margin:0;
	color:#3399CC;
}
.toaster-widget div.ui-tabs.tabs-list>ul.ui-tabs-nav>li.ui-tabs-active>a{
	color:#005580;
	border:none;
}
.toaster-widget div.ui-tabs.tabs-list>.ui-tabs-panel{
	border:none;
	background:none;
	padding-left:0;
	padding-right:0;
}
/****** Tabs white *******/
.toaster-widget div.ui-tabs.tabs-white{ }
.toaster-widget div.ui-tabs.tabs-white>ul.ui-tabs-nav{
	background:#fff;
	outline: 1px solid #C4C4C4;
}
.toaster-widget div.ui-tabs.tabs-white>ul.ui-tabs-nav>li{
	border:none;
	border-left:1px solid #ccc;
	padding:0;
}
.toaster-widget div.ui-tabs.tabs-white.tabs-left>ul.ui-tabs-nav>li{ border:none !important; }
.toaster-widget div.ui-tabs.tabs-white>ul.ui-tabs-nav>li.ui-tabs-active{
	margin:0;
	background:none;
}
.toaster-widget div.ui-tabs.tabs-white>ul.ui-tabs-nav>li:first-child{ border-left:none; }
.toaster-widget div.ui-tabs.tabs-white>ul.ui-tabs-nav>li>a{
	margin:0;
	color:#3399CC;
	padding:7px;
	font-weight:bold;
	font-size:14px;
}
.toaster-widget div.ui-tabs.tabs-white>ul.ui-tabs-nav>li.ui-tabs-active>a{
	color:#005580;
	border:none;
}
.toaster-widget div.ui-tabs.tabs-white>.ui-tabs-panel{
	border:1px solid #c4c4c4;
	background:#fff;
	margin:10px 0;
	padding:0;
	overflow:visible;
}
.toaster-widget div.ui-tabs.tabs-white>.ui-tabs-panel .tabs{
	border:none;
	outline:none;
	background:none;
	margin:0;
	padding:0;
}

/*buttons style*/
.toaster-widget .btn {
	border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-size:14px;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	vertical-align: middle;
	border:1px solid;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	cursor:pointer;
}
*+html .toaster-widget .btn { display: inline; }
.toaster-widget .btn-text{
	background: none;
	border:none;
	font-size:14px;
	font-weight:normal;
	color:#777;
	text-shadow:none;
	text-decoration:none;
	padding:0;
	cursor:pointer;
}
.toaster-widget .btn-text:hover{
	background: none;
	color:#000;
	text-decoration:none;
}
.toaster-widget .btn-small {
	font-size:11px;
	padding: 3px 7px;
}
.toaster-widget .btn-big {
	font-size:16px;
	padding: 10px 15px;
}
.toaster-widget .btn-block {
	width:100%;
	float:none;
	text-align:center;
	margin-left:0;
	margin-right:0;
	font-size:16px;
	padding: 10px 0;
	box-sizing:border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.toaster-widget .btn-filter{
	width:auto;
	margin-left:-1px;
	margin-right:0;
	padding:3px 5px;
	font-size:12px;
	border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.toaster-widget .btn-first{
	margin-left:5px;
	border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}
.toaster-widget .btn-last{
	border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
}
.toaster-widget .btn.disable{
	text-decoration:none;
	cursor:default;
	opacity:0.6;
	box-shadow:none;
	-ms-box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.toaster-widget .btn-filter.disable{ opacity:1; }
.toaster-widget .btn-reset{
	border:none;
	background:none;
	padding:0;
}

/*Gradient on background*/
.toaster-widget .green-gradient, .toaster-widget table.widget tr>.green-gradient{
	background: #62c462;
	background: -moz-linear-gradient(top,  #62c462 0%, #51a351 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62c462), color-stop(100%,#51a351));
	background: -webkit-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: -o-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: -ms-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: linear-gradient(#62c462 0%,#51a351 100%);
	-pie-background: linear-gradient(#62c462 0%,#51a351 100%);
}.toaster-widget .btn.green-gradient:hover, .toaster-widget .btn.green-gradient.active, .toaster-widget .btn.green-gradient.current, .toaster-widget .btn.green-gradient.disable{ background: #51a351; }
.toaster-widget .dark-green-gradient, .toaster-widget table.widget tr>.dark-green-gradient{
	background: #739302;
	background: -moz-linear-gradient(top,  #668301 0%, #546a06 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668301), color-stop(100%,#546a06));
	background: -webkit-linear-gradient(top,  #668301 0%,#546a06 100%);
	background: -o-linear-gradient(top,  #668301 0%,#546a06 100%);
	background: -ms-linear-gradient(top,  #668301 0%,#546a06 100%);
	background: linear-gradient(to bottom,  #668301 0%,#546a06 100%);
	-pie-background: linear-gradient(#668301 0%,#546a06 100%);
}.toaster-widget .btn.dark-green-gradient:hover, .toaster-widget .btn.dark-green-gradient.active, .toaster-widget .btn.dark-green-gradient.current, .toaster-widget .btn.dark-green-gradient.disable{ background: #546a06; }
.toaster-widget .gray-gradient, .toaster-widget table.widget tr>.gray-gradient{
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #fff 0%,#f3f3f3 100%);
	-pie-background: linear-gradient(#fff 0%,#f3f3f3 100%);
	color:#444;
	text-shadow: none;
}.toaster-widget .btn.gray-gradient:hover, .toaster-widget .btn.gray-gradient.active, .toaster-widget .btn.gray-gradient.current, .toaster-widget .btn.gray-gradient.disable{	background: #f3f3f3; }
.toaster-widget .dark-gray-gradient, .toaster-widget table.widget tr>.dark-gray-gradient{
	background: #fafafa;
	background: -moz-linear-gradient(top,  #fafafa 0%, #dfdfdf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#dfdfdf));
	background: -webkit-linear-gradient(top,  #fafafa 0%,#dfdfdf 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#dfdfdf 100%);
	background: -ms-linear-gradient(top,  #fafafa 0%,#dfdfdf 100%);
	background: linear-gradient(to bottom,  #fafafa 0%,#dfdfdf 100%);
	-pie-background: linear-gradient(#fafafa 0%,#dfdfdf 100%);
	color:#444;
	text-shadow: none;
}.toaster-widget .btn.dark-gray-gradient:hover, .toaster-widget .btn.dark-gray-gradient.active, .toaster-widget .btn.dark-gray-gradient.current, .toaster-widget .btn.dark-gray-gradient.disable{ background: #dfdfdf; }
.toaster-widget .orange-gradient, .toaster-widget table.widget tr>.orange-gradient{
	background: #fbb450;
	background: -moz-linear-gradient(top,  #fbb450 0%, #f89406 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbb450), color-stop(100%,#f89406));
	background: -webkit-linear-gradient(top,  #fbb450 0%,#f89406 100%);
	background: -o-linear-gradient(top,  #fbb450 0%,#f89406 100%);
	background: -ms-linear-gradient(top,  #fbb450 0%,#f89406 100%);
	background: linear-gradient(#fbb450 0%,#f89406 100%);
	-pie-background: linear-gradient(#fbb450 0%,#f89406 100%);
}.toaster-widget .btn.orange-gradient:hover, .toaster-widget .btn.orange-gradient.active, .toaster-widget .btn.orange-gradient.current, .toaster-widget .btn.orange-gradient.disable{ background: #f89406; }
.toaster-widget .red-gradient, .toaster-widget table.widget tr>.red-gradient{
	background: #ED7A53;
	background: -moz-linear-gradient(top,  #ED7A53 0%, #D14A1D 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ED7A53), color-stop(100%,#D14A1D));
	background: -webkit-linear-gradient(top,  #ED7A53 0%,#D14A1D 100%);
	background: -o-linear-gradient(top,  #ED7A53 0%,#D14A1D 100%);
	background: -ms-linear-gradient(top,  #ED7A53 0%,#D14A1D 100%);
	background: linear-gradient(#ED7A53 0%,#D14A1D 100%);
	-pie-background: linear-gradient(#ED7A53 0%,#D14A1D 100%);
}.toaster-widget .btn.red-gradient:hover, .toaster-widget .btn.red-gradient.active, .toaster-widget .btn.red-gradient.current, .toaster-widget .btn.red-gradient.disable{ background: #D14A1D; }
.toaster-widget .blue-gradient, .toaster-widget table.widget tr>.blue-gradient{
	background: #88BBC8;
	background: -moz-linear-gradient(top,  #88BBC8 0%, #4496AA 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88BBC8), color-stop(100%,#4496AA));
	background: -webkit-linear-gradient(top,  #88BBC8 0%,#4496AA 100%);
	background: -o-linear-gradient(top,  #88BBC8 0%,#4496AA 100%);
	background: -ms-linear-gradient(top,  #88BBC8 0%,#4496AA 100%);
	background: linear-gradient(#88BBC8 0%,#4496AA 100%);
	-pie-background: linear-gradient(#88BBC8 0%,#4496AA 100%);
}.toaster-widget .btn.blue-gradient:hover, .toaster-widget .btn.blue-gradient.active, .toaster-widget .btn.blue-gradient.current, .toaster-widget .btn.blue-gradient.disable{ background: #4496AA; }
.toaster-widget .black-gradient, .toaster-widget table.widget tr>.black-gradient{
	background: #444444;
	background: -moz-linear-gradient(top,  #444444 0%, #222222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#222222));
	background: -webkit-linear-gradient(top,  #444444 0%,#222222 100%);
	background: -o-linear-gradient(top,  #444444 0%,#222222 100%);
	background: -ms-linear-gradient(top,  #444444 0%,#222222 100%);
	background: linear-gradient(#444444 0%,#222222 100%);
	-pie-background: linear-gradient(#444444 0%,#222222 100%);
}.toaster-widget .btn.black-gradient:hover, .toaster-widget .btn.black-gradient.active, .toaster-widget .btn.black-gradient.current, .toaster-widget .btn.black-gradient.disable{ background: #222; }

/*Color on background*/
.toaster-widget .orange-bg, .toaster-widget table.widget tr>.orange-bg{background:#f89406; color:#fff;}
.toaster-widget .red-bg, .toaster-widget table.widget tr>.red-bg{background:#D14A1D; color:#fff;}
.toaster-widget .blue-bg, .toaster-widget table.widget tr>.blue-bg{background:#4496AA; color:#fff;}
.toaster-widget .green-bg, .toaster-widget table.widget tr>.green-bg{background:#51a351; color:#fff;}
.toaster-widget .dark-green-bg, .toaster-widget table.widget tr>.dark-green-bg{background: #546a06; color:#fff;}
.toaster-widget .black-bg, .toaster-widget table.widget tr>.black-bg{background:#222; color:#fff;}
.toaster-widget .gray-bg, .toaster-widget table.widget tr>.gray-bg{background:#eee; color:#000;}
.toaster-widget .dark-gray-bg, table.widget tr>.dark-gray-bg{background:#aaa; color:#000;}
.toaster-widget .white-bg, .toaster-widget table.widget tr>.white-bg{background:#fff; color:#000;}

/*Pattern for background*/
.toaster-widget .bg-content { background: url(/system/images/bg/5.png) white; }
.toaster-widget .bg-header { background: url(/system/images/bg/3.png) white; }
.toaster-widget .bg-body { background: url(/system/images/bg/2.png) white; }

/*Color for fonts*/
.toaster-widget .orange, .toaster-widget table.widget tr>.orange{color:#f89406;}
.toaster-widget .red, .toaster-widget table.widget tr>.red{color:#D14A1D;}
.toaster-widget .blue, .toaster-widget table.widget tr>.blue{color:#4496AA;}
.toaster-widget .green, .toaster-widget table.widget tr>.green{color:#51a351;}
.toaster-widget .dark-green, .toaster-widget table.widget tr>.dark-green{color:#546a06;}
.toaster-widget .black, .toaster-widget table.widget tr>.black{color:#000;}
.toaster-widget .gray, .toaster-widget table.widget tr>.gray{color:#eee;}
.toaster-widget .dark-gray, .toaster-widget table.widget tr>.dark-gray{color:#aaa;}
.toaster-widget .white, .toaster-widget table.widget tr>.white{color:#fff;}

/* Progress bar */
.toaster-widget .ui-progressbar { 
	height:10px; 
	text-align: left; 
	overflow: hidden; 
	background: #aaa;
	clear: both;
	margin:0;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 99%;	
}
.toaster-widget .ui-progressbar .ui-progressbar-value {
	margin:0;
	height:8px; 
	border: 1px solid #51a351;
	box-shadow: 0 1px 0 #62c462 inset;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #62c462;
	background: -moz-linear-gradient(top,  #62c462 0%, #51a351 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62c462), color-stop(100%,#51a351));
	background: -webkit-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: -o-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: -ms-linear-gradient(top,  #62c462 0%,#51a351 100%);
	background: linear-gradient(#62c462 0%,#51a351 100%);
	-pie-background: linear-gradient(#62c462 0%,#51a351 100%);
}

/* Margin */
.toaster-widget .margin0px{ margin:0px;}
.toaster-widget .mt0px { margin-top:0px; }
.toaster-widget .mt1px { margin-top:1px; }
.toaster-widget .mt2px { margin-top:2px; }
.toaster-widget .mt3px { margin-top:3px; }
.toaster-widget .mt4px { margin-top:4px; }
.toaster-widget .mt5px { margin-top:5px; }
.toaster-widget .mt6px { margin-top:6px; }
.toaster-widget .mt7px { margin-top:7px; }
.toaster-widget .mt8px { margin-top:8px; }
.toaster-widget .mt9px { margin-top:9px; }
.toaster-widget .mt10px { margin-top:10px; }
.toaster-widget .mt20px { margin-top:20px; }
.toaster-widget .mt30px { margin-top:30px; }
.toaster-widget .mt40px { margin-top:40px; }
.toaster-widget .mt50px { margin-top:50px; }
.toaster-widget .mb0px { margin-bottom:0px; }
.toaster-widget .mb1px { margin-bottom:1px; }
.toaster-widget .mb2px { margin-bottom:2px; }
.toaster-widget .mb3px { margin-bottom:3px; }
.toaster-widget .mb4px { margin-bottom:4px; }
.toaster-widget .mb5px { margin-bottom:5px; }
.toaster-widget .mb6px { margin-bottom:6px; }
.toaster-widget .mb7px { margin-bottom:7px; }
.toaster-widget .mb8px { margin-bottom:8px; }
.toaster-widget .mb9px { margin-bottom:9px; }
.toaster-widget .mb10px { margin-bottom:10px; }
.toaster-widget .mb15px { margin-bottom:15px; }
.toaster-widget .mb20px { margin-bottom:20px; }
.toaster-widget .mb30px { margin-bottom:30px; }
.toaster-widget .mb40px { margin-bottom:40px; }
.toaster-widget .mb50px { margin-bottom:50px; }
.toaster-widget .ml0px { margin-left:0px; }
.toaster-widget .ml1px { margin-left:1px; }
.toaster-widget .ml2px { margin-left:2px; }
.toaster-widget .ml3px { margin-left:3px; }
.toaster-widget .ml4px { margin-left:4px; }
.toaster-widget .ml5px { margin-left:5px; }
.toaster-widget .ml6px { margin-left:6px; }
.toaster-widget .ml7px { margin-left:7px; }
.toaster-widget .ml8px { margin-left:8px; }
.toaster-widget .ml9px { margin-left:9px; }
.toaster-widget .ml10px { margin-left:10px; }
.toaster-widget .ml15px { margin-left:15px; }
.toaster-widget .ml20px { margin-left:20px; }
.toaster-widget .ml30px { margin-left:30px; }
.toaster-widget .ml40px { margin-left:40px; }
.toaster-widget .ml50px { margin-left:50px; }
.toaster-widget .mlGrid1 { margin-left:1%; }
.toaster-widget .mlGrid2 { margin-left:2%; }
.toaster-widget .mlGrid3 { margin-left:3%; }
.toaster-widget .mlGrid4 { margin-left:4%; }
.toaster-widget .mlGrid5 { margin-left:5%; }
.toaster-widget .mr0px { margin-right:0px; }
.toaster-widget .mr1px { margin-right:1px; }
.toaster-widget .mr2px { margin-right:2px; }
.toaster-widget .mr3px { margin-right:3px; }
.toaster-widget .mr4px { margin-right:4px; }
.toaster-widget .mr5px { margin-right:5px; }
.toaster-widget .mr6px { margin-right:6px; }
.toaster-widget .mr7px { margin-right:7px; }
.toaster-widget .mr8px { margin-right:8px; }
.toaster-widget .mr9px { margin-right:9px; }
.toaster-widget .mr10px { margin-right:10px; }
.toaster-widget .mr15px { margin-right:15px; }
.toaster-widget .mr20px { margin-right:20px; }
.toaster-widget .mr30px { margin-right:30px; }
.toaster-widget .mr40px { margin-right:40px; }
.toaster-widget .mr50px { margin-right:50px; }
.toaster-widget .mrGrid1 { margin-right:1%; }
.toaster-widget .mrGrid2 { margin-right:2%; }
.toaster-widget .mrGrid3 { margin-right:3%; }
.toaster-widget .mrGrid4 { margin-right:4%; }
.toaster-widget .mrGrid5 { margin-right:5%; }

/* Padding */
.toaster-widget .padding0px { padding:0px; }
.toaster-widget .padding5px { padding:5px; }
.toaster-widget .padding8px { padding:8px; }
.toaster-widget .padding10px { padding:10px; }
.toaster-widget .padding15px { padding:15px; }
.toaster-widget .pt0px { padding-top:0px; }
.toaster-widget .pt1px { padding-top:1px; }
.toaster-widget .pt2px { padding-top:2px; }
.toaster-widget .pt3px { padding-top:3px; }
.toaster-widget .pt4px { padding-top:4px; }
.toaster-widget .pt5px { padding-top:5px; }
.toaster-widget .pt10px { padding-top:10px; }
.toaster-widget .pt20px { padding-top:20px; }
.toaster-widget .pt30px { padding-top:30px; }
.toaster-widget .pt40px { padding-top:40px; }
.toaster-widget .pt50px { padding-top:50px; }
.toaster-widget .pb0px { padding-bottom:0px; }
.toaster-widget .pb1px { padding-bottom:1px; }
.toaster-widget .pb2px { padding-bottom:2px; }
.toaster-widget .pb3px { padding-bottom:3px; }
.toaster-widget .pb4px { padding-bottom:4px; }
.toaster-widget .pb5px { padding-bottom:5px; }
.toaster-widget .pb10px { padding-bottom:10px; }
.toaster-widget .pb15px { padding-bottom:15px; }
.toaster-widget .pb20px { padding-bottom:20px; }
.toaster-widget .pb30px { padding-bottom:30px; }
.toaster-widget .pb40px { padding-bottom:40px; }
.toaster-widget .pb50px { padding-bottom:50px; }
.toaster-widget .pl0px { padding-left:0px; }
.toaster-widget .pl1px { padding-left:1px; }
.toaster-widget .pl2px { padding-left:2px; }
.toaster-widget .pl3px { padding-left:3px; }
.toaster-widget .pl4px { padding-left:4px; }
.toaster-widget .pl5px { padding-left:5px; }
.toaster-widget .pl10px { padding-left:10px; }
.toaster-widget .pl20px { padding-left:20px; }
.toaster-widget .pl30px { padding-left:30px; }
.toaster-widget .pl40px { padding-left:40px; }
.toaster-widget .pl50px { padding-left:50px; }
.toaster-widget .pr0px { padding-right:0px; }
.toaster-widget .pr1px { padding-right:1px; }
.toaster-widget .pr2px { padding-right:2px; }
.toaster-widget .pr3px { padding-right:3px; }
.toaster-widget .pr4px { padding-right:4px; }
.toaster-widget .pr5px { padding-right:5px; }
.toaster-widget .pr10px { padding-right:10px; }
.toaster-widget .pr20px { padding-right:20px; }
.toaster-widget .pr30px { padding-right:30px; }
.toaster-widget .pr40px { padding-right:40px; }
.toaster-widget .pr50px { padding-right:50px; }

/*====== SOME SIZES ======== */
.toaster-widget .wAuto { width:auto; }
.toaster-widget .w100 { width:100px; }
.toaster-widget .w150 { width:150px; }
.toaster-widget .w200 { width:200px; }
.toaster-widget .w250 { width:250px; }
.toaster-widget .w300 { width:300px; }
.toaster-widget .w350 { width:350px; }
.toaster-widget .w400 { width:400px; }
.toaster-widget .w450 { width:450px; }
.toaster-widget .w500 { width:500px; }
.toaster-widget .w600 { width:600px; }
.toaster-widget .w700 { width:700px; }
.toaster-widget .w800 { width:800px; }
.toaster-widget .w900 { width:900px; }
.toaster-widget .w960 { width:960px; }
.toaster-widget .wGrid10 {width:10%;}
.toaster-widget .wGrid20 {width:20%;}
.toaster-widget .wGrid30 {width:30%;}
.toaster-widget .wGrid40 {width:40%;}
.toaster-widget .wGrid50 {width:50%;}
.toaster-widget .wGrid60 {width:60%;}
.toaster-widget .wGrid70 {width:70%;}
.toaster-widget .wGrid80 {width:80%;}
.toaster-widget .wGrid90 {width:90%;}
.toaster-widget .wGrid100 {width:100%;}
.toaster-widget .hAuto { height:auto; }
.toaster-widget .h80 { height:80px; }
.toaster-widget .h100 { height:100px; }
.toaster-widget .h150 { height:150px; }
.toaster-widget .h170 { height:170px; }
.toaster-widget .h180 { height:180px; }
.toaster-widget .h200 { height:200px; }
.toaster-widget .h250 { height:250px; }
.toaster-widget .h300 { height:300px; }
.toaster-widget .h350 { height:350px; }
.toaster-widget .h400 { height:400px; }
.toaster-widget .h500 { height:500px; }
.toaster-widget .h530 { height:530px; }
.toaster-widget .h550 { height:550px; }
.toaster-widget .h570 { height:570px; }
.toaster-widget .h600 { height:600px; }
.toaster-widget .h640 { height:640px; }

.toaster-widget .oh, .toaster-widget .ot, .toaster-widget .tt{
	float:left;
	margin:10px 1%;
	width:48%;
}
.toaster-widget .ot{width:31%}
.toaster-widget .tt{width:65%}