.btn,
input[type="submit"],
input[type="button"] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: none;
  padding: 10px;
  background-color: #dddddd;
  color: #ffffff;
}
.btn.touch,
input[type="submit"].touch,
input[type="button"].touch {
  background-color: #f7f7f7;
}
.large {
  padding: 10px;
  font-size: 1.3rem;
}
.normal {
  padding: 8px 10px;
  font-size: 1rem;
}
.small {
  padding: 7px 10px;
  font-size: 0.9rem;
}
.tiny {
  padding: 5px 10px;
  font-size: 0.75rem;
}
.confirm {
  color: #e2f4fb;
  background-color: #33b5e5;
  border-bottom: 2px solid #1a9bcb;
}
.confirm.touch {
  background-color: #60c5eb;
  border-bottom: none;
  border-top: 2px solid transparent;
}
.action {
  color: #f0f8db;
  background-color: #99cc00;
  border-bottom: 2px solid #739900;
}
.action.touch {
  background-color: #bfff00;
  border-bottom: none;
  border-top: 2px solid transparent;
}
.cancel {
  color: #fff6df;
  background-color: #ffbb33;
  border-bottom: 2px solid #ffaa00;
}
.cancel.touch {
  background-color: #ffcc66;
  border-bottom: none;
  border-top: 2px solid transparent;
}
.error {
  color: #ffe4e4;
  background-color: #ff4444;
  border-bottom: 2px solid #ff1111;
}
.error.touch {
  background-color: #ff7777;
  border-bottom: none;
  border-top: 2px solid transparent;
}
.grd-confirm {
  color: #e2f4fb;
  background-color: #33b5e5;
  background-image: -webkit-linear-gradient(top, #33b5e5, #1a9bcb);
  background-image: -moz-linear-gradient(top, #33b5e5, #1a9bcb);
  background-image: -o-linear-gradient(top, #33b5e5, #1a9bcb);
  background-image: linear-gradient(top, #33b5e5, #1a9bcb);
}
.grd-confirm.touch {
  background: #1a9bcb;
}
.grd-action {
  color: #f0f8db;
  background-color: #99cc00;
  background-image: -webkit-linear-gradient(top, #99cc00, #739900);
  background-image: -moz-linear-gradient(top, #99cc00, #739900);
  background-image: -o-linear-gradient(top, #99cc00, #739900);
  background-image: linear-gradient(top, #99cc00, #739900);
}
.grd-action.touch {
  background: #739900;
}
.grd-cancel {
  color: #fff6df;
  background-color: #ffbb33;
  background-image: -webkit-linear-gradient(top, #ffbb33, #ffaa00);
  background-image: -moz-linear-gradient(top, #ffbb33, #ffaa00);
  background-image: -o-linear-gradient(top, #ffbb33, #ffaa00);
  background-image: linear-gradient(top, #ffbb33, #ffaa00);
}
.grd-cancel.touch {
  background: #ffaa00;
}
.grd-error {
  color: #ffe4e4;
  background-color: #ff4444;
  background-image: -webkit-linear-gradient(top, #ff4444, #ff1111);
  background-image: -moz-linear-gradient(top, #ff4444, #ff1111);
  background-image: -o-linear-gradient(top, #ff4444, #ff1111);
  background-image: linear-gradient(top, #ff4444, #ff1111);
}
.grd-error.touch {
  background: #ff1111;
}
.highlight-confirm {
  background-color: #33b5e5;
  color: #e2f4fb;
}
.highlight-action {
  background-color: #99cc00;
  color: #f0f8db;
}
.highlight-cancel {
  background-color: #ffbb33;
  color: #fff6df;
}
.highlight-error {
  background-color: #ff4444;
  color: #ffe4e4;
}
.sidebar {
  background-color: #dddddd;
  position: absolute !important;
  top: 0;
  bottom: 0;
  width: 250px;
}
.sidebar.left {
  left: 0;
}
.sidebar.right {
  right: 0;
}
.sidebar.active {
  z-index: 1;
}
#container {
  position: relative;
  overflow: hidden;
  z-index: 5;
  height: 100%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  -o-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
#container.left {
  -webkit-transform: translateX(250px);
  -moz-transform: translateX(250px);
  -o-transform: translateX(250px);
  transform: translateX(250px);
}
#container.right {
  -webkit-transform: translateX(-250px);
  -moz-transform: translateX(-250px);
  -o-transform: translateX(-250px);
  transform: translateX(-250px);
}
#container.move {
  webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#container.left:after,
#container.right:after {
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
}
.news-item-tags {
  display: none;
}
.news-item-description.item {
    margin: 15px 0px 0px 0px;
}
.foodd {
    overflow: hidden;
    width: 310px;
    margin: 5px 10px 5px 0px;
    float: left;
}
.foodd img {
    margin-right: 5px;
}
.foodd      ul li{
    list-style: none;
    }

.listpages li{
    border: 1px solid #eee;
    padding: 5px;
    background: #fff;
}
.listpages li       a {
        font-weight: bold;
        margin: 5px 5px 0;
}
#hotels-list li {
    list-style: none;
    margin: 0;
    }
.boxH p {
    text-align: center;
    margin: 5px auto;
    font-size: 11px;
    }
.pad10px.theme3 {
    overflow: hidden;
    margin-top: 10px;
}

.soc {
    font-weight: bold;
    display: block;
    margin: 6px 0 0 10px;
}
.soc p{overflow:hidden;}
.soc span {
    margin: 8px 0;
    font-size: 14px;
}
span.soc a {
    font-size: 30px;
    margin: 4px 7px 0px 0px;
}
span.soc a:hover{ text-decoration:none;}
.soc .icon-twitter {
    color: #1ab2e8;
}
.soc .icon-facebook{color: #003399;}

.main_menu a{
    color: #666;
    text-decoration: underline;
}
.main_menu .category {
    display: block;
    padding: 10px 0;
    font-weight: bold;
}
.main_menu .category ul {
    margin-top: 10px;
    font-weight: normal;
}
.main_menu .page {
    display: block;
}
div.search {
    overflow: hidden;
    width: 98%;
	max-width: 480px;
}
div.search p{
	width: 70%;
	float: left;
}
div.search p + p{
	width: 30%;
}
div.search p input{
	width: 100%;
}
div.search p input[type="submit"]{
	font-size: 18px;
	margin: 0;
	padding: 4px 0;
}
.main-mobile .category{
	font-size: 2rem;
    display: block;
}