.sidebar ul li {
  list-style: none;
  margin: 0;
  width: 250px;
}
.sidebar ul li a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #bbb;
  background: #eee;
}
.sidebar ul li a.touch {
  background: #c4c4c4;
  color: #fff;
}
@media only screen and (min-width: 1025px) {
  .sidebar ul li a.current {
    background: #c4c4c4;
    color: #fff;
  }
}
.sidebar ul li .page-teaser-image,
.sidebar ul li span {
  display: none;
}
.popup ul li {
  border-top: 1px solid #bbb;
  list-style: none;
  margin: 0;
}
.popup ul li a {
  color: #333333;
  display: block;
  padding: 10px;
}
.popup ul li a.touch {
  background: #d3d3d3;
  color: #fff;
}
.popup ul li:first-child {
  border: none;
}
#section .featureditem li,
#section .featureapage,
#section .relatedpages li {
  background: #fff;
  padding: 5px;
  border: 1px solid #eee;
}
#section .featureditem li a.page-teaser-image,
#section .featureapage a.page-teaser-image,
#section .relatedpages li a.page-teaser-image {
  height: 150px;
  line-height: 150px;
}
#section .featureditem li a.page-title,
#section .featureapage a.page-title,
#section .relatedpages li a.page-title {
  margin: 10px;
  font-size: 1.2rem;
  text-align: center;
}
#section .featureditem li.touch,
#section .featureapage.touch,
#section .relatedpages li.touch,
.listpages li.touch{
  -webkit-box-shadow: 0 0 15px #aaa;
  -moz-box-shadow: 0 0 15px #aaa;
  -ms-box-shadow: 0 0 15px #aaa;
  box-shadow: 0 0 15px #aaa;
}
