/***************
CONTAINER (page)
***************/
#container {
  background: #fcfcfc;
  color: #222222;
  -webkit-box-shadow: 0 0px 10px 3px #555;
  -moz-box-shadow: 0 0px 10px 3px #555;
  box-shadow: 0 0px 10px 3px #555;
}
/***********
HEADER STYLE
***********/
header {
  background: #dddddd;
  border-bottom: 1px solid #bbbbbb;
  color: #888888;
  height: 50px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
header > * {
  line-height: 50px;
}
header .btn-icon {
  padding: 0 15px;
  color: #888888;
  background: transparent;
}
header .btn-icon.touch,
header .btn-icon.current {
  color: #555555;
  background: #dddddd;
}
header h1,
header .h1 {
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  margin: 0 !important;
  font-size: 1.5rem;
  color: #888888;
}
header h1 img,
header .h1 img {
  max-height: 98%;
}
/************
SECTION STYLE
************/
#slider {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
.page > #slider {
  margin: -10px -10px 0;
}
#slider li {
  list-style: none;
  margin: 0;
  display: inline-block;
  white-space: normal;
}
#slider li img {
  margin: 0;
}
/***********
FOOTER STYLE
***********/
footer {
  min-height: 30px;
  color: #888888;
  background: #dddddd;
  border-top: 1px solid #cfcfcf;
}
footer .btn-icon {
  padding: 10px 0;
  text-align: center;
  color: #888888;
  background: transparent;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
footer .btn-icon.touch,
footer .btn-icon.current {
  color: #555555;
  background: #dddddd;
}
/*********
FORM STYLE
*********/
form {
  clear: both;
}
form > p,
form > div {
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
label:first-child {
  float: left;
  width: 39%;
  margin-right: 1%;
}
input,
textarea,
select {
  background: #ffffff;
  width: 60%;
  border: 1px solid #dddddd;
  padding: 7px 5px;
  -webkit-box-shadow: 1px 1px 3px #eee inset;
  -moz-box-shadow: 1px 1px 3px #eee inset;
  box-shadow: 1px 1px 3px #eee inset;
}
input:focus,
textarea:focus,
select:focus {
  border-color: #33b5e5;
  -webkit-box-shadow: 0 0 3px 1px #33b5e5;
  -moz-box-shadow: 0 0 3px 1px #33b5e5;
  box-shadow: 0 0 3px 1px #33b5e5;
}
input:required,
textarea:required,
select:required {
  border-color: #ff4444;
  -webkit-box-shadow: 0 0 3px 1px #ff4444;
  -moz-box-shadow: 0 0 3px 1px #ff4444;
  box-shadow: 0 0 3px 1px #ff4444;
}
input:disabled,
textarea:disabled,
select:disabled {
  background: #fafafa;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 5px;
  position: relative;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  border-color: #33b5e5;
}
input[type="checkbox"]:checked:before {
  color: #33b5e5;
  font-size: 1.5rem;
  top: -7px;
  left: 1px;
}
input[type="radio"] {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
input[type="radio"]:checked {
  background: #33b5e5;
  -webkit-box-shadow: 0 0 0px 2px #ffffff inset;
  -moz-box-shadow: 0 0 0px 2px #ffffff inset;
  box-shadow: 0 0 0px 2px #ffffff inset;
}
input[type="checkbox"].switcher {
  border: none;
  padding: 0px;
  background: -webkit-linear-gradient(left, #ff4444 50%, #33b5e5 50%);
  background: -moz-linear-gradient(left, #ff4444 50%, #33b5e5 50%);
  background: linear-gradient(left, #ff4444 50%, #33b5e5 50%);
  background-size: 200% 100%;
  background-position: 5px 0;
  height: 20px;
  width: 50px;
  -webkit-appearance: none;
  -webkit-transition: all .15s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
}
input[type="checkbox"].switcher:before {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: -webkit-linear-gradient(#eeeeee, #cccccc);
  background: -moz-linear-gradient(#eeeeee, #cccccc);
  background: linear-gradient(#eeeeee, #cccccc);
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: relative;
  top: 0px;
  width: 20px;
}
input[type="checkbox"].switcher:checked {
  background-position: 45px 0;
  padding-left: 32px;
}
.captcha {
  float: right;
  width: 60%;
  margin-bottom: 15px;
  text-align: center;
}
.captcha img {
  max-width: 400px;
  width: 75%;
}
.captcha label {
  width: 100%;
}
.captcha input {
  width: 100%;
}
input[type="submit"],
input[type="button"] {
  float: right;
  margin-top: 20px;
  padding: 8px 20px;
  font-size: 1.5rem;
  border-bottom: 2px solid #666;
}
input[type="submit"].touch,
input[type="button"].touch {
  background-color: #999;
}
