@font-face{
	font-family:'toaster-icon';
	src:url('fonts/toaster-icon.woff') format('woff'), url('fonts/toaster-icon.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
.icon16{ font-size:16px !important; width:16px !important; height:16px !important; }
.icon24{ font-size:24px !important; width:24px !important; height:24px !important; }
.icon32{ font-size:32px !important; width:32px !important; height:32px !important; }
.icon48{ font-size:48px !important; width:48px !important; height:48px !important; }
.icon64{ font-size:64px !important; width:64px !important; height:64px !important; }
.fs12{ font-size:12px; }
.fs14{ font-size:14px; }
.fs16{ font-size:16px; }
.fs18{ font-size:18px; }
.fs24{ font-size:24px; }
.fs32{ font-size:32px; }
.fs48{ font-size:48px; }
.fs64{ font-size:64px; }
[class^="icon-"], [class*=" icon-"], input[type="checkbox"]{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	text-align:left !important;
}
.icon16:before, .icon24:before, .icon32:before, .icon48:before, .icon64:before, input[type="checkbox"]:checked:before{
	position:absolute;
}
[class^="icon-"]:before, [class*=" icon-"]:before,
blockquote:after, q:after, blockquote:before, q:before, input[type="checkbox"]:checked:before{
	font-family:'toaster-icon';
	font-style:normal;
	speak:none;
	font-weight:normal !important;
	-webkit-font-smoothing:antialiased;
	display:inline;
	line-height:1;
	vertical-align:middle;
}
.icon-home:before{ content:"\e000"; }
.icon-announcement:before{ content:"\e005"; }
.icon-new:before{ content:"\e001"; }
.icon-tag:before{ content:"\e02a"; }
.icon-barcode:before{ content:"\e027"; }
.icon-cart:before{ content:"\e013"; }
.icon-cart-2:before{ content:"\e022"; }
.icon-basket:before{ content:"\e023"; }
.icon-bag:before{ content:"\e025"; }
.icon-bag-2:before{ content:"\e026"; }
.icon-support:before{ content:"\e02c"; }
.icon-phone:before{ content:"\e02d"; }
.icon-phone-2:before{ content:"\e014"; }
.icon-phone-3:before{ content:"\e002"; }
.icon-phone-4:before{ content:"\e003"; }
.icon-mail:before{ content:"\e016"; }
.icon-mail-send:before{ content:"\e017"; left:-12%; }
.icon-mail-2:before{ content:"\e006"; }
.icon-mail-3:before{ content:"\e004"; }
.icon-location:before{ content:"\e019"; }
.icon-mobile:before{ content:"\e01c"; }
.icon-screen:before{ content:"\e009"; }
.icon-mobile-2:before{ content:"\e008"; }
.icon-comments:before{ content:"\e021"; }
.icon-quote:before{ content:"\e028"; }
.icon-quote-2:before{ content:"\e029"; }
.icon-search:before{ content:"\e02b"; }
.icon-loading:before{ content:"\e007"; }
.icon-remove:before{ content:"\e00b"; }
.icon-remove-2:before{ content:"\e031"; }
.icon-list:before{ content:"\e033"; }
.icon-grid-view:before{ content:"\e034"; }
.icon-menu:before{ content:"\e035"; }
.icon-menu-2:before{ content:"\e00c"; }
.icon-menu-3:before{ content:"\e00f"; }
.icon-checkmark:before, input[type="checkbox"]:checked:before{ content:"\e036"; }
.icon-checkmark-2:before{ content:"\e037"; }
.icon-cancel:before{ content:"\e038"; }
.icon-minus:before{ content:"\e039"; }
.icon-plus:before{ content:"\e00a"; }
.icon-google-plus:before{ content:"\e04c"; }
.icon-google-plus-2:before{ content:"\e04d"; }
.icon-gplus:before{ content:"\e04e"; }
.icon-facebook:before{ content:"\e04f"; }
.icon-facebook-2:before{ content:"\e050"; }
.icon-facebook-3:before{ content:"\e051"; }
.icon-twitter:before{ content:"\e052"; }
.icon-twitter-2:before{ content:"\e053"; }
.icon-twitter-3:before{ content:"\e054"; }
.icon-feed:before{ content:"\e055"; }
.icon-feed-2:before{ content:"\e056"; }
.icon-feed-3:before{ content:"\e057"; }
.icon-linkedin:before{ content:"\e010"; }
.icon-linkedin-2:before{ content:"\e012"; }
.icon-arrow-up:before{ content:"\e00d"; }
.icon-arrow-down:before{ content:"\e00e"; }