@import url("variables.less");
///////////////////////// BUTTON STYLE /////////////////////////
.btn, input[type="submit"], input[type="button"]{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border: none;
	padding: 10px;
	background-color: @btn-default-bg;
	color: @btn-default-color;
	&.touch { background-color: lighten(@btn-default-bg, 10%); }
}
.large{
	padding: 10px;
	font-size: 1.3rem;
}
.normal{
	padding: 8px 10px;
	font-size: 1rem;
}
.small{
	padding: 7px 10px;
	font-size: 0.9rem;
}
.tiny{
	padding: 5px 10px;
	font-size: 0.75rem;
}
.confirm{
	color: @btn-confirm-color;
	background-color: @btn-confirm-bg;
	border-bottom: 2px solid darken(@btn-confirm-bg, 10%);
	&.touch {
		background-color: lighten(@btn-confirm-bg, 10%);
		border-bottom: none;
		border-top: 2px solid transparent;
	}
}
.action {
	color: @btn-action-color;
	background-color: @btn-action-bg;
	border-bottom: 2px solid darken(@btn-action-bg, 10%);
	&.touch {
		background-color: lighten(@btn-action-bg, 10%);
		border-bottom: none;
		border-top: 2px solid transparent;
	}
}
.cancel {
	color: @btn-cancel-color;
	background-color: @btn-cancel-bg;
	border-bottom: 2px solid darken(@btn-cancel-bg, 10%);
	&.touch {
		background-color: lighten(@btn-cancel-bg, 10%);
		border-bottom: none;
		border-top: 2px solid transparent;
	}
}
.error {
	color: @btn-error-color;
	background-color: @btn-error-bg;
	border-bottom: 2px solid darken(@btn-error-bg, 10%);
	&.touch {
		background-color: lighten(@btn-error-bg, 10%);
		border-bottom: none;
		border-top: 2px solid transparent;
	}
}
.grd-confirm {
	color: @btn-confirm-color;
	background-color: @btn-confirm-bg;
	background-image: -webkit-linear-gradient(top, @btn-confirm-bg, darken(@btn-confirm-bg, 10%));
	background-image: -moz-linear-gradient(top, @btn-confirm-bg, darken(@btn-confirm-bg, 10%));
	background-image: -o-linear-gradient(top, @btn-confirm-bg, darken(@btn-confirm-bg, 10%));
	background-image: linear-gradient(top, @btn-confirm-bg, darken(@btn-confirm-bg, 10%));
	&.touch { background: darken(@btn-confirm-bg, 10%); }
}
.grd-action {
	color: @btn-action-color;
	background-color: @btn-action-bg;
	background-image: -webkit-linear-gradient(top, @btn-action-bg, darken(@btn-action-bg, 10%));
	background-image: -moz-linear-gradient(top, @btn-action-bg, darken(@btn-action-bg, 10%));
	background-image: -o-linear-gradient(top, @btn-action-bg, darken(@btn-action-bg, 10%));
	background-image: linear-gradient(top, @btn-action-bg, darken(@btn-action-bg, 10%));
	&.touch { background: darken(@btn-action-bg, 10%); }
}
.grd-cancel {
	color: @btn-cancel-color;
	background-color: @btn-cancel-bg;
	background-image: -webkit-linear-gradient(top, @btn-cancel-bg, darken(@btn-cancel-bg, 10%));
	background-image: -moz-linear-gradient(top, @btn-cancel-bg, darken(@btn-cancel-bg, 10%));
	background-image: -o-linear-gradient(top, @btn-cancel-bg, darken(@btn-cancel-bg, 10%));
	background-image: linear-gradient(top, @btn-cancel-bg, darken(@btn-cancel-bg, 10%));
	&.touch { background: darken(@btn-cancel-bg, 10%); }
}
.grd-error {
	color: @btn-error-color;
	background-color: @btn-error-bg;
	background-image: -webkit-linear-gradient(top, @btn-error-bg, darken(@btn-error-bg, 10%));
	background-image: -moz-linear-gradient(top, @btn-error-bg, darken(@btn-error-bg, 10%));
	background-image: -o-linear-gradient(top, @btn-error-bg, darken(@btn-error-bg, 10%));
	background-image: linear-gradient(top, @btn-error-bg, darken(@btn-error-bg, 10%));
	&.touch { background: darken(@btn-error-bg, 10%); }
}
/////////////////////////end BUTTON STYLE/////////////////////////

///////////////////////// HIGHLIGHT STYLE/////////////////////////
.highlight-confirm{
	background-color: @highlight-confirm-bg;
	color: @highlight-confirm-color;
}
.highlight-action{
	background-color: @highlight-action-bg;
	color: @highlight-action-color;
}
.highlight-cancel{
	background-color: @highlight-cancel-bg;
	color: @highlight-cancel-color;
}
.highlight-error{
	background-color: @highlight-error-bg;
	color: @highlight-error-color;
}
/////////////////////////end HIGHLIGHT STYLE/////////////////////////

///////////////////////// TABLE STYLE/////////////////////////
table{
	tr{}
	th, td{}
	th{}
	td{}
}
/////////////////////////end TABLE STYLE/////////////////////////

///////////////////////// TABS STYLE /////////////////////////
.tabs{
	li{
		&.touch, &.active{}
	}
	&.vertical{
		li{
			&.touch, &.active{}
		}
	}
}
.tabs-content{
	>div{}
}
/////////////////////////end TABS STYLE /////////////////////////

///////////////////////// action SIDEBAR  /////////////////////////
.sidebar{
	background-color: @sidebar-bg ;
	position: absolute !important;
	top: 0;
	bottom: 0;
	width: @sidebar-width;
	&.left{ left: 0; }
	&.right{ right:0; }
	&.active{ z-index: 1; }
}
#container{
	position: relative;
	overflow: hidden;
	z-index: 5;
	height: 100%;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
	-webkit-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-o-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	&.left{
		-webkit-transform: translateX(@sidebar-width);
		-moz-transform: translateX(@sidebar-width);
		-o-transform: translateX(@sidebar-width);
		transform: translateX(@sidebar-width);
	}
	&.right{
		-webkit-transform: translateX(-@sidebar-width);
		-moz-transform: translateX(-@sidebar-width);
		-o-transform: translateX(-@sidebar-width);
		transform: translateX(-@sidebar-width);
	}
	&.move{
		webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}
	&.left:after, &.right:after{
		position:absolute;
		z-index: 1001;
		top:0;
		left:0;
		content:'';
		width:100%;
		height:100%;
	}
}
/////////////////////////end action SIDEBAR /////////////////////////


.news-item-tags {
    display: none;
}