@import url("variables.less");

/**********************************************
             Divece orientation
**********************************************/
@media only screen and (orientation:portrait){
}
@media only screen and (orientation:landscape){
}

/********************************************
             Divece screen size
********************************************/
@media only screen and (min-width : 1025px){
	.sidebar.left{
		position: relative !important;
		float: left;
		height: 100%;
	}
	[data-sidebar="left"]{
		display: none;
	}

}

@media only screen and (max-width : 1024px){
}

@media only screen and (max-width : 800px){
}
/***** For smartphone width 800px and orientation landscape *****/
@media only screen and (max-width : 800px) and (orientation:landscape){
}

@media only screen and (max-width : 640px){
	.captcha{
		width: 100%;
	}
	.captcha img{
		width: 100%;
	}
	input[type="submit"], input[type="button"]{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
}

@media only screen and (max-width : 320px){
}

/******************************************************
                  Divece pixel ratio
*******************************************************/
@media screen and (-webkit-min-device-pixel-ratio: 1.3){
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
}