@import url("variables.less");
///////////////////////// SIDEBAR LIST /////////////////////////
.sidebar{
	ul{
		li{
			list-style: none;
			margin: 0;
			width: @sidebar-width;
			a{
				display: block;
				padding: 10px;
				border-bottom: 1px solid #bbb;
				&.touch{
					background: darken(@sidebar-bg, 10%);
					color: #fff;
				}
				@media only screen and (min-width : 1025px){
					&.current{
						background: darken(@sidebar-bg, 10%);
						color: #fff;
					}
				}
			}
			.page-teaser-image, span{ display: none;}
		}
	}
}
/////////////////////////end SIDEBAR LIST //////////////////////

///////////////////////// POPUP LIST /////////////////////////
.popup{
	ul{
		li{
			border-top: 1px solid #bbb;
			list-style: none;
			margin: 0;
			a{
				color: @popup-color;
				display: block;
				padding: 10px;
				&.touch{
					background: darken(@popup-bg, 10%);
					color: #fff;
				}
			}
			&:first-child{ border: none; }
		}
	}
}
/////////////////////////end POPUP LIST //////////////////////

///////////////////////// MAIN MENU /////////////////////////
.main_menu{
	.category{
		& a{}
		&>a.current, &>a:hover{}

		ul{
			.page{
				& a{
					&.current, &:hover{}
				}
			}
		}
	}
}
/////////////////////////end MAIN MENU //////////////////////

///////////////////////// STATIC MENU /////////////////////////
.static_menu{
	li{
		a{
			&.current, &.touch{}
		}
		span{}
	}
}
/////////////////////////end STATIC MENU //////////////////////
#section{
///////////////////////// FEATURED AREAS & FEATURED PAGES & RELATED PAGES /////////////////////////
.featureditem, .relatedpages{}
.featureditem li, .featureapage, .relatedpages li{
	background: #fff;
	a{
		&.page-teaser-image{
			height: 150px;
			line-height: 150px;
			img{}
		}
		&.page-title{
			margin: 10px;
			font-size: 1.2rem;
		}
	}
	&.touch{
		-webkit-box-shadow: 0 0 15px #aaa;
		-moz-box-shadow: 0 0 15px #aaa;
		-ms-box-shadow: 0 0 15px #aaa;
		box-shadow: 0 0 15px #aaa;
	}
}
.featureditem span, .featureapage p, .relatedpages span{}
/////////////////////////end FEATURED AREAS & FEATURED PAGES //////////////////////

///////////////////////// FEATURED AREAS /////////////////////////
.featureditem{
	li{
		.page-teaser-image{
			img{}
		}
		.page-title{}
		span{}
	}
	li.touch{
		.page-teaser-image{
			img{}
		}
		.page-title{}
		span{}
	}
}
/////////////////////////end FEATURED AREAS //////////////////////

///////////////////////// FEATURED PAGES /////////////////////////
.featureapage{
	.page-teaser-image{
		img{}
	}
	p{}
}
/////////////////////////end FEATURED PAGES //////////////////////

///////////////////////// RELATED PAGES /////////////////////////
.relatedpages{
	li{
		.page-teaser-image{
			img{}
		}
		.page-title{}
		span{}
	}
	li.touch{
		.page-teaser-image{
			img{}
		}
		.page-title{}
		span{}
	}
}
/////////////////////////end RELATED PAGES //////////////////////

///////////////////////// LIST PAGES & LIST CATEGORIES /////////////////////////
.listpages, .listcategories{
	li{
		.page-teaser-image{
			img{}
		}
		.page-title{}
		span{}
	}
	li.touch{
		.page-teaser-image{
			img{}
		}
		.page-title{}
		span{}
	}
}
/////////////////////////end LIST PAGES & LIST CATEGORIES //////////////////////

///////////////////////// LIST PAGES /////////////////////////
.listpages{
	li{
		.page-teaser-image{
			img{}
		}
		.page-title{}
		span{}
	}
	li.touch{
		.page-teaser-image{
			img{}
		}
		.page-title{}
		span{}
	}
}
/////////////////////////end LIST PAGES //////////////////////

///////////////////////// LIST CATEGORIES /////////////////////////
.listcategories{
	li{
		.page-teaser-image{
			img{}
		}
		.page-title{}
		span{}
	}
	li.touch{
		.page-teaser-image{
			img{}
		}
		.page-title{}
		span{}
	}
}
/////////////////////////end LIST CATEGORIES //////////////////////
}
///////////////////////// SITEMAP /////////////////////////
.sitemap{
	li{
		a{
			&.touch, &.current{}
		}
		ul{
			li{
				a{
					&.touch, &.current{}
				}
			}
		}
	}
}
/////////////////////////end SITEMAP //////////////////////

///////////////////////// RSS LIST /////////////////////////
.listxrss{
	li{
		.page-title{}
		span{}
		.page-teaser-image{
			img{}
		}
		p{}
	}
}
/////////////////////////end RSS LIST //////////////////////

///////////////////////// SEARCH RESULTS /////////////////////////
.search-results{
	li{
		.page-teaser-image{
			img{}
		}
		.page-title{}
		span{}
	}
}
/////////////////////////end SEARCH RESULTS //////////////////////

///////////////////////// NEWS LIST /////////////////////////
.news-list{}
.news-list .news-list-item{}
.news-list .page-teaser-image{}
.news-list .page-teaser-image img{}
.news-list .page-title{}
.news-list .newslog-admin-actions{}
.news-list .newslog-admin-actions a{}
.news-list .news-item-date{}
.news-list .news-item-description{}
.news-list .news-item-tags{}
.news-list .news-item-tags a{}
/////////////////////////end NEWS LIST //////////////////////

///////////////////////// DIRECT UPLOAD /////////////////////////
.direct-upload, .direct-upload-images{}
.direct-upload img, .direct-upload-images img{}
.directupload-wrapper{
	.progressbar{
		.label{}
		.value{}
	}
	.directupdelete{}
}
/////////////////////////end DIRECT UPLOAD //////////////////////

///////////////////////// type /////////////////////////
/////////////////////////end type //////////////////////