@import url("animate-custom.css");
@import url("toaster-icon.css");
@import url("variables.less");
///////////////////////// Reset CSS /////////////////////////
*{
	margin:0;
	padding:0;
	border:none;
	-webkit-text-size-adjust:none; //фиксим баг в IOS cо шкалированием в landscape
	outline:none; //убираем рамку вокруг ссылок и кнопок
	-webkit-touch-callout:none; //если надо, то запрещаем выделение текста
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0); //убираем фон подсветки ссылок и кнопок
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video, a{
	vertical-align:baseline;
	background:transparent;
	line-height:normal;
}
iframe, embed, object, .gmaps{
	max-width:100%;
	height:auto;
	margin:15px auto;
	display:block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
	display:block;
}
html, body{
	color:@body-color;
	background:@body-bg;
	font-family:@font-family;
	line-height:1.5;
	position:relative;
	height:100%;
	overflow:hidden;
}
h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty,
.h1:empty, .h2:empty, .h3:empty, .h4:empty, .h5:empty, .h6:empty,
#fancybox-tmp, #fancybox-loading, #fancybox-overlay, #fancybox-wrap{
	display:none !important;
}
blockquote, q{
	font-size:1rem;
	padding:30px 10px;
	overflow:hidden;
}
blockquote:before, q:before, blockquote:after, q:after{
	font-size:2.5rem;
	color:#ddd;
	margin:0 10px;
	vertical-align:bottom !important;
}
blockquote:before, q:before{
	content:"\e028";
}
blockquote:after, q:after{
	content:"\e029";
	float:right;
}
a{
	text-decoration:none;
	color:@link-color;
}
img{
	max-width:100%;
	height:auto;
}
p{
	font-size:1rem;
	margin-bottom:1rem;
}
p>img, ._lbox img{
	margin:0 15px;
	float:left;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	display:block;
	clear:both;
	margin:3rem 0 0.5rem;
	color:@h-color;
	font-family:@font-family-h;
}
h1, .h1{ font-size:1.75rem; }
h2, .h2{ font-size:1.5rem; }
h3, .h3{ font-size:1.3rem; }
h4, .h4{ font-size:1rem; }
h5, .h5{ font-size:0.875rem; }
h6, .h6{ font-size:0.75rem; }
@media screen and (max-device-width: 480px){
	p>img, ._lbox, ._lbox img{
		float:none;
		margin:0 !important;
		display:inline-block;
		width:100%;
	}
	p>img, ._lbox img{
		margin:0 0 10px;
	}
}
input, button{
	overflow:visible;
}
hr{
	display:block;
	height:1px;
	border-top:1px solid #ccc;
	margin:1em 0;
}
img, input, button{
	vertical-align:middle;
}
///////////////////////// reset for all navigation items /////////////////////////
ul li{
	list-style:disc;
	margin-left:20px;
}
ol li{
	list-style:decimal;
	margin-left:20px;
}
.listpages, .listcategories, .featureditem, .relatedpages, .listxrss, .search-results, .news-list, .img_gallery{
	font-size:0;
	clear:both;
}
.listpages li, .listcategories li, .featureditem li, .featureapage, .relatedpages li, .listxrss li, .search-results li, .news-list li, .img_gallery li{
	font-size:1rem;
	display:inline-block;
	vertical-align:top;
	list-style:none;
	&:after, &:before{
		content:'';
		width:0;
		height:0;
		border:0;
	}
}
.img_gallery li{
	width:75px !important;
	font-size:0;
	margin:1%;
	&.touch{
		-webkit-box-shadow:0 0 0 2px @link-color;
		-moz-box-shadow:0 0 0 2px @link-color;
		-ms-box-shadow:0 0 0 2px @link-color;
		box-shadow:0 0 0 2px @link-color;
	}
}
#section .listpages li, #section .listcategories li, #section .featureditem li, #section .featureapage, #section .relatedpages li, #section .listxrss li, #section .search-results li, #section .news-list li{
	width:23%;
	margin:10px 1%;
}
@media only screen and (max-width : 800px){
	#section .listpages li, #section .listcategories li, #section .featureditem li, #section .featureapage, #section .relatedpages li, #section .listxrss li, #section .search-results li, #section .news-list li{
		width:31%;
	}
}
@media only screen and (max-width : 640px){
	#section .listpages li, #section .listcategories li, #section .featureditem li, #section .featureapage, #section .relatedpages li, #section .listxrss li, #section .search-results li, #section .news-list li{
		width:48%;
	}
}
@media only screen and (max-width : 320px){
	#section .listpages li, #section .listcategories li, #section .featureditem li, #section .featureapage, #section .relatedpages li, #section .listxrss li, #section .search-results li, #section .news-list li{
		width:98%;
	}
	.img_gallery li{
		width:23% !important;
	}
}
.listpages a, .listcategories a, .featureditem a, .featureapage a, .relatedpages a, .listxrss a, .search-results a, .news-list a{
	display:block;
	overflow:hidden;
}
.listpages .page-title, .listcategories .page-title, .featureditem .page-title, .featureapage .page-title, .relatedpages .page-title, .listxrss .page-title, .search-results .page-title, .news-list .page-title{
}
.listpages .page-teaser-image, .listcategories .page-teaser-image, .featureditem .page-teaser-image, .featureapage .page-teaser-image, .relatedpages .page-teaser-image, .listxrss .page-teaser-image, .search-results .page-teaser-image, .news-list .page-teaser-image{
	text-align:center;
}
.listpages img, .listcategories img, .featureditem img, .featureapage img, .relatedpages img, .listxrss img, .search-results img{ }
.listpages span, .listcategories span, .featureditem span, .featureapage p, .relatedpages span, .listxrss span, .search-results span{
	display:block;
	margin:10px 5px;
	overflow:hidden;
}
///////////////////////// MOBILE/TABLET GRID CSS /////////////////////////
.mobile-grid_1, .mobile-grid_2, .mobile-grid_3, .mobile-grid_4, .mobile-grid_5, .mobile-grid_6,
.tablet-grid_1, .tablet-grid_2, .tablet-grid_3, .tablet-grid_4, .tablet-grid_5, .tablet-grid_6, .tablet-grid_7, .tablet-grid_8, .tablet-grid_9, .tablet-grid_10, .tablet-grid_11, .tablet-grid_12{
	display:inline;
	float:left;
	margin-left:1%;
	margin-right:1%;
}
.mobile-grid_1.center, .mobile-grid_2.center, .mobile-grid_3.center, .mobile-grid_4.center, .mobile-grid_5.center, .mobile-grid_6.center,
.tablet-grid_1.center, .tablet-grid_2.center, .tablet-grid_3.center, .tablet-grid_4.center, .tablet-grid_5.center, .tablet-grid_6.center, .tablet-grid_7.center, .tablet-grid_8.center, .tablet-grid_9.center, .tablet-grid_10.center, .tablet-grid_11.center, .tablet-grid_12.center{
	float:none;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
// GRID 6 FOR MOBILE //
@media only screen and (max-width : 768px), only screen and (max-width : 800px) and (orientation:landscape){
	.mobile_hide{ display:none !important; }
	.mobile-grid_1{ width:14.667%; }
	.mobile-grid_2{ width:31.333%; }
	.mobile-grid_3{ width:48.0%; }
	.mobile-grid_4{ width:64.667%; }
	.mobile-grid_5{ width:81.333%; }
	.mobile-grid_6{ width:98.0%; }
	.mobile-prefix_1{ margin-left:17.667%; }
	.mobile-prefix_2{ margin-left:34.333%; }
	.mobile-prefix_3{ margin-left:51.0%; }
	.mobile-prefix_4{ margin-left:67.667%; }
	.mobile-prefix_5{ margin-left:84.333%; }
	.mobile-suffix_1{ margin-right:17.667%; }
	.mobile-suffix_2{ margin-right:34.333%; }
	.mobile-suffix_3{ margin-right:51.0%; }
	.mobile-suffix_4{ margin-right:67.667%; }
	.mobile-suffix_5{ margin-right:84.333%; }
}
// GRID 12 FOR TABLET //
@media only screen and (min-width : 769px){
	.tablet_hide{ display:none !important; }
	.tablet-grid_1{ width:6.333%; }
	.tablet-grid_2{ width:14.667%; }
	.tablet-grid_3{ width:23.0%; }
	.tablet-grid_4{ width:31.333%; }
	.tablet-grid_5{ width:39.667%; }
	.tablet-grid_6{ width:48.0%; }
	.tablet-grid_7{ width:56.333%; }
	.tablet-grid_8{ width:64.667%; }
	.tablet-grid_9{ width:73.0%; }
	.tablet-grid_10{ width:81.333%; }
	.tablet-grid_11{ width:89.667%; }
	.tablet-grid_12{ width:98.0%; }
	.tablet-prefix_1{ margin-left:9.333%; }
	.tablet-prefix_2{ margin-left:17.667%; }
	.tablet-prefix_3{ margin-left:26.0%; }
	.tablet-prefix_4{ margin-left:34.333%; }
	.tablet-prefix_5{ margin-left:42.667%; }
	.tablet-prefix_6{ margin-left:51.0%; }
	.tablet-prefix_7{ margin-left:59.333%; }
	.tablet-prefix_8{ margin-left:67.667%; }
	.tablet-prefix_9{ margin-left:76.0%; }
	.tablet-prefix_10{ margin-left:84.333%; }
	.tablet-prefix_11{ margin-left:92.667%; }
	.tablet-suffix_1{ margin-right:9.333%; }
	.tablet-suffix_2{ margin-right:17.667%; }
	.tablet-suffix_3{ margin-right:26.0%; }
	.tablet-suffix_4{ margin-right:34.333%; }
	.tablet-suffix_5{ margin-right:42.667%; }
	.tablet-suffix_6{ margin-right:51.0%; }
	.tablet-suffix_7{ margin-right:59.333%; }
	.tablet-suffix_8{ margin-right:67.667%; }
	.tablet-suffix_9{ margin-right:76.0%; }
	.tablet-suffix_10{ margin-right:84.333%; }
	.tablet-suffix_11{ margin-right:92.667%; }
}
.clear{
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
/////////////////////////end MOBILE/TABLET GRID CSS /////////////////////////

///////////////////////// FLEXBOX STYLE /////////////////////////
.boxV{
	display:-webkit-box !important;
	display:-moz-box !important;
	display:box !important;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-webkit-box-align:stretch;
	-moz-box-align:stretch;
	box-align:stretch;
}
.boxH{
	display:-webkit-box !important;
	display:-moz-box !important;
	display:box !important;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-webkit-box-align:stretch;
	-moz-box-align:stretch;
	box-align:stretch;
}
.boxV > *, .boxH > *{
	display:block;
	.flex(0);
}
.boxReverse{
	-webkit-box-direction:reverse;
	-moz-box-direction:reverse;
	box-direction:reverse;
}
.boxLeft_v{
	-webkit-box-align:start;
	-moz-box-align:start;
	box-align:start;
}
.boxRight_v{
	-webkit-box-align:end;
	-moz-box-align:end;
	box-align:end;
}
.boxCenter_v{
	-webkit-box-align:center;
	-moz-box-align:center;
	box-align:center;
}
.boxLeft_h{
	-webkit-box-pack:start;
	-moz-box-pack:start;
	box-pack:start;
}
.boxRight_h{
	-webkit-box-pack:end;
	-moz-box-pack:end;
	box-pack:end;
}
.boxCenter_h{
	-webkit-box-pack:center;
	-moz-box-pack:center;
	box-pack:center;
}
.boxJustify_h{
	-webkit-box-pack:justify;
	-moz-box-pack:justify;
	box-pack:justify;
}
.boxFlex1{
	.flex(1);
}
.boxFlex2{
	.flex(2);
}
.boxOrder1{
	.order(1);
}
.boxOrder2{
	.order(2);
}
.boxOrder3{
	.order(3);
}
/////////////////////////end FLEXBOX STYLE/////////////////////////

///////////////////////// ELEMENT WITH SCROLLING DEFAULT /////////////////////////
#section, .sidebar{
	position:relative;
	overflow:auto;
}
#section.wrap, .sidebar.wrap{
	overflow:hidden;
}
/////////////////////////end ELEMENT WITH SCROLLING DEFAULT /////////////////////////

///////////////////////// PAGE STYLE /////////////////////////
.page{
	display:none;
	padding:10px;
	overflow:hidden;
}
.page.active{
	display:block;
}
.pullRefresh, .pullDown, .pullUp{
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.pull{
	height:0px;
	text-align:center;
	color:#ccc;
	overflow:hidden;
	background:rgba(0, 0, 0, 0.05);
}
.pull span{
	display:inline-block;
	vertical-align:middle;
	text-align:left;
}
.pull>span:first-child{
	-webkit-transition:all 250ms;
	-moz-transition:all 250ms;
	-o-transition:all 250ms;
	transition:all 250ms;
	margin:13px 5px;
}
.pull.release{
	color:#777;
}
.pull.release>span:first-child{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
#pull-down.release>*{
	vertical-align:bottom !important;
	margin-bottom:16px;
}
#pull-up.release>*{
	vertical-align:top !important;
	margin-top:15px;
}
.pull.loading{
	top:0;
	bottom:0;
	color:#777;
	height:50px;
	line-height:50px;
}
/////////////////////////end PAGE STYLE /////////////////////////

/////////////////////////reset TABS STYLE /////////////////////////
.tabs{
	background:@tabs-ul-bg;
	overflow:hidden;
	&>*{
		background:@tabs-li-bg;
		color:@tabs-li-color;
		float:left;
		margin:0;
		padding:5px 10px;
		list-style:none;
		&.touch, &.active{
			background:@tabs-current-bg;
			color:@tabs-current-color;
		}
		&:after, &:before{
			content:'';
			width:0;
			height:0;
			border:0;
		}
	}
	&.vertical{
		&>*{ float:none; }
	}
}
.tabs-content{
	background:@tabs-content-bg;
	overflow:hidden;
	white-space:nowrap;
	position:relative;
	font-size:0;
	&>*{
		white-space:normal;
		width:100%;
		font-size:1rem;
		display:inline-block;
		vertical-align:top;
		padding:0 15px;
		-webkit-transition:all 200ms;
		-moz-transition:all 200ms;
		-o-transition:all 200ms;
		transition:all 200ms;
	}
}
/////////////////////////end TABS STYLE /////////////////////////

/////////////////////////reset TABLE STYLE/////////////////////////
table{
	width:100%;
	background:@table-bg;
	color:@table-color;
	border:@table-border;
	border-spacing:@table-border-spacing;
	tr{
		background:@table-tr-bg;
		&:nth-child(odd){
			background:@table-tr-odd-bg;
		}
		&:nth-child(even){
			background:@table-tr-even-bg;
		}
	}
	th, td{
		border:none;
		padding:5px 7px;
		font-weight:normal;
		vertical-align:middle;
	}
	th{
		color:@table-th-color;
		background:@table-th-bg;
	}
	td{
		background:@table-td-bg;
	}
}
/////////////////////////end TABLE STYLE/////////////////////////

/////////////////////////reset TABLE STYLE/////////////////////////
.popup{
	display:none;
	background:@popup-bg;
	color:@popup-color;
	-webkit-box-shadow:-2px 2px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:-2px 2px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow:-2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow:-2px 2px 4px rgba(0, 0, 0, 0.4);
	position:absolute;
	z-index:1000;
	overflow:auto;
	min-height:30px;
	min-width:250px;
	max-height:80%;
	max-width:90%;
	&.center{
		top:50%;
		left:10%;
		right:10%;
		max-width:@popup-center-width;
		margin-left:auto;
		margin-right:auto;
		border:@popup-center-border;
		-webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.4);
		-moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.4);
		-ms-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.4);
		box-shadow:0px 0px 0 500px rgba(0, 0, 0, 0.4);
	}
	&.top-left, {
		left:0;
		top:@header-height;
	}
	&.top-right{
		right:0;
		top:@header-height;
	}
	&.bottom-right{
		right:0;
		bottom:@footer-height;
	}
	&.bottom-left{
		left:0;
		bottom:@footer-height;
	}
}
/////////////////////////end TABLE STYLE/////////////////////////

///////////////////////// TYPOGRAPHY STYLE/////////////////////////
.text-left{ text-align:left; }
.text-center{ text-align:center; }
.text-right{ text-align:right; }
.text-justify{ text-align:justify; }
.align-top{ vertical-align:top; }
.align-middle{ vertical-align:middle; }
.align-bottom{ vertical-align:bottom; }
.text-bold{ font-weight:bold; }
.text-normal{ font-weight:normal; }
.text-italic{ font-style:italic; }
.wrap{ overflow:hidden; }
.fl-left{ float:left; }
.fl-right{ float:right; }
.fl-none{ float:none; }
.cl-none{ clear:none; }
.cl-both{ clear:both; }
.w100{ width:100%; }
.minW100{ min-width:100%; }
.h100{ height:100%; }
.minH100{ min-height:100%; }
.mt0{ margin-top:0px; }
.mt5{ margin-top:5px; }
.mt10{ margin-top:10px; }
.mt15{ margin-top:15px; }
.mt20{ margin-top:20px; }
.mt25{ margin-top:25px; }
.mt30{ margin-top:30px; }
.mt35{ margin-top:35px; }
.mt40{ margin-top:40px; }
.mt45{ margin-top:45px; }
.mt50{ margin-top:50px; }
.mb0{ margin-bottom:0px; }
.mb5{ margin-bottom:5px; }
.mb10{ margin-bottom:10px; }
.mb15{ margin-bottom:15px; }
.mb20{ margin-bottom:20px; }
.mb25{ margin-bottom:25px; }
.mb30{ margin-bottom:30px; }
.mb35{ margin-bottom:35px; }
.mb40{ margin-bottom:40px; }
.mb45{ margin-bottom:45px; }
.mb50{ margin-bottom:50px; }
.ml0{ margin-left:0%; }
.ml5{ margin-left:5%; }
.ml10{ margin-left:10%; }
.ml15{ margin-left:15%; }
.ml20{ margin-left:20%; }
.ml25{ margin-left:25%; }
.ml30{ margin-left:30%; }
.ml35{ margin-left:35%; }
.ml40{ margin-left:40%; }
.ml45{ margin-left:45%; }
.ml50{ margin-left:50%; }
.mr0{ margin-right:0%; }
.mr5{ margin-right:5%; }
.mr10{ margin-right:10%; }
.mr15{ margin-right:15%; }
.mr20{ margin-right:20%; }
.mr25{ margin-right:25%; }
.mr30{ margin-right:30%; }
.mr35{ margin-right:35%; }
.mr40{ margin-right:40%; }
.mr45{ margin-right:45%; }
.mr50{ margin-right:50%; }
.pt0{ padding-top:0px; }
.pt5{ padding-top:5px; }
.pt10{ padding-top:10px; }
.pt15{ padding-top:15px; }
.pt20{ padding-top:20px; }
.pt25{ padding-top:25px; }
.pt30{ padding-top:30px; }
.pt35{ padding-top:35px; }
.pt40{ padding-top:40px; }
.pt45{ padding-top:45px; }
.pt50{ padding-top:50px; }
.pb0{ padding-bottom:0px; }
.pb5{ padding-bottom:5px; }
.pb10{ padding-bottom:10px; }
.pb15{ padding-bottom:15px; }
.pb20{ padding-bottom:20px; }
.pb25{ padding-bottom:25px; }
.pb30{ padding-bottom:30px; }
.pb35{ padding-bottom:35px; }
.pb40{ padding-bottom:40px; }
.pb45{ padding-bottom:45px; }
.pb50{ padding-bottom:50px; }
.pl0{ padding-left:0%; }
.pl5{ padding-left:5%; }
.pl10{ padding-left:10%; }
.pl15{ padding-left:15%; }
.pl20{ padding-left:20%; }
.pl25{ padding-left:25%; }
.pl30{ padding-left:30%; }
.pl35{ padding-left:35%; }
.pl40{ padding-left:40%; }
.pl45{ padding-left:45%; }
.pl50{ padding-left:50%; }
.pr0{ padding-right:0%; }
.pr5{ padding-right:5%; }
.pr10{ padding-right:10%; }
.pr15{ padding-right:15%; }
.pr20{ padding-right:20%; }
.pr25{ padding-right:25%; }
.pr30{ padding-right:30%; }
.pr35{ padding-right:35%; }
.pr40{ padding-right:40%; }
.pr45{ padding-right:45%; }
.pr50{ padding-right:50%; }
/////////////////////////end TYPOGRAPHY STYLE/////////////////////////
.formError{
	left:2px;
	right:2px;
	top:54px;
	position:fixed;
	text-align:center;
	padding:15px;
	color:#FFFFFF;
	font-size:1.5rem;
	background:#CD5C5C;
	z-index:1000;
}
///////////////////////// SLIDER SWIPE STYLE/////////////////////////
#sliderSwipe{
	background:rgba(0, 0, 0, 0.9);
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:1000;
}
#carouselSwipe{
	height:100%;
	ul{
		height:100%;
		margin:0;
		-webkit-transition:all 200ms;
		-moz-transition:all 200ms;
		-o-transition:all 200ms;
		transition:all 200ms;
		.boxH;
		li{
			margin:0;
			text-align:center;
			list-style:none;
			overflow:auto;
			width:100%;
			height:100%;
			.boxH;
			.boxCenter_v;
			.boxCenter_h;
			img{
				-moz-user-select:none;
				-khtml-user-select:none;
				-webkit-user-select:none;
				-o-user-select:none;
				user-select:none;
				max-height:100%;
				&.fullWidth{
					max-height:none;
					max-width:none;
					width:auto;
					height:auto;
				}
			}
		}
		&.move{
			webkit-transition:none;
			-moz-transition:none;
			-o-transition:none;
			transition:none;
		}
	}
}
#titleSwipe{
	//display: none;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	color:#fff;
	background-color:rgba(0, 0, 0, 0.5);
	&.show{
		display:block;
	}
	&>*{
		margin:10px;
		overflow:hidden;
		background:none;
	}
	.close{
		float:right;
		&.touch{
			color:@highlight-error-bg;
		}
	}
	.title{
		font-size:1rem;
		display:block;
		text-align:center;
	}
}
/////////////////////////end SLIDER SWIPE STYLE/////////////////////////