@import url("variables.less");
/***************
CONTAINER (page)
***************/
#container{
	background: @container-bg;
	color: @container-color;
	-webkit-box-shadow: 0 0px 10px 3px #555;
	-moz-box-shadow: 0 0px 10px 3px #555;
	box-shadow: 0 0px 10px 3px #555;
}
/***********
HEADER STYLE
***********/
header{
	background: @header-bg;
	border-bottom: @header-border;
	color: @header-color;
	height: @header-height;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
header>*{
	line-height: @header-height;
}
header .btn-icon{
	padding: 0 15px;
	color: @btn-icon-color;
	background: @btn-icon-bg;
}
header .btn-icon.touch,
header .btn-icon.current{
	color: @btn-icon-color-touch;
	background: @btn-icon-bg-touch;
}
header h1, header .h1{
	text-transform: uppercase;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	text-align: center;
	margin: 0 !important;
	font-size: 1.5rem;
	color: @header-color;
}
header h1 img, header .h1 img{
	max-height: 98%;
}
/************
SECTION STYLE
************/
#section{}
#slider{
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	.page>&{
		margin: -10px -10px 0;
	}
	li{
		list-style: none;
		margin: 0;
		display: inline-block;
		white-space: normal;
		img{
			margin: 0;
		}
	}
}
/***********
FOOTER STYLE
***********/
footer{
	min-height: 30px;
	color: @footer-color;
	background: @footer-bg;
	border-top: @footer-border;
}
footer .btn-icon{
	padding: 10px 0;
	text-align: center;
	color: @btn-icon-color;
	background: @btn-icon-bg;
	.flex(1);
}
footer .btn-icon.touch,
footer .btn-icon.current{
	color: @btn-icon-color-touch;
	background: @btn-icon-bg-touch;
}
/*********
FORM STYLE
*********/
form{
     clear:both;
 }
form>p, form>div{
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
fieldset{}
legend{}
label:first-child{
	float: left;
	width: 39%;
	margin-right: 1%;
}
input, textarea, select{
	background: @field-bg;
	width: 60%;
	border: @field-border;
	padding: 7px 5px;
	-webkit-box-shadow: 1px 1px 3px #eee inset;
	-moz-box-shadow: 1px 1px 3px #eee inset;
	box-shadow: 1px 1px 3px #eee inset;
}
input:focus, textarea:focus, select:focus{
	border-color: @field-border-focus;
	-webkit-box-shadow: 0 0 3px 1px @field-border-focus;
	-moz-box-shadow: 0 0 3px 1px @field-border-focus;
	box-shadow: 0 0 3px 1px @field-border-focus;
}
input:required, textarea:required, select:required{
	border-color: @field-border-required;
	-webkit-box-shadow: 0 0 3px 1px @field-border-required;
	-moz-box-shadow: 0 0 3px 1px @field-border-required;
	box-shadow: 0 0 3px 1px @field-border-required;
}
input:disabled, textarea:disabled, select:disabled{
	background: darken(@field-bg, 2%);
}
input[type="checkbox"], input[type="radio"]{
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	margin-right: 5px;
	position: relative;
}
input[type="checkbox"]:checked, input[type="radio"]:checked{
	border-color: @field-border-focus;
}
input[type="checkbox"]:checked:before{
	color: @field-border-focus;
	font-size: 1.5rem;
	top: -7px;
	left: 1px;
}
input[type="radio"]{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
input[type="radio"]:checked{
	background: @field-border-focus;
	-webkit-box-shadow: 0 0 0px 2px @field-bg inset;
	-moz-box-shadow: 0 0 0px 2px @field-bg inset;
	box-shadow: 0 0 0px 2px @field-bg inset;
}
textarea{}
input{}
select{}
input[type="checkbox"].switcher {
	border: none;
	padding: 0px;
	background: -webkit-linear-gradient(left, @highlight-error-bg 50%, @highlight-confirm-bg 50%);
	background: -moz-linear-gradient(left, @highlight-error-bg 50%, @highlight-confirm-bg 50%);
	background: linear-gradient(left, @highlight-error-bg 50%, @highlight-confirm-bg 50%);
	background-size: 200% 100%;
	background-position: 5px 0;
	height: 20px;
	width: 50px;
	-webkit-appearance: none;
	-webkit-transition:all .15s;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
	box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
}
input[type="checkbox"].switcher:before {
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4) inset;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.4) inset;
	box-shadow: 0 0 3px rgba(0,0,0,0.4) inset;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: -webkit-linear-gradient(#eee, #ccc);
	background: -moz-linear-gradient(#eee, #ccc);
	background: linear-gradient(#eee, #ccc);
	content: '';
	display: block;
	height: 20px;
	left: 0;
	position: relative;
	top: 0px;
	width: 20px;
}
input[type="checkbox"].switcher:checked {
	background-position: 45px 0;
	padding-left: 32px;
}
// captcha //
.captcha{
	float: right;
	width: 60%;
	margin-bottom: 15px;
	text-align: center;
}
.captcha img{
	max-width:400px;
	width: 75%;
}
.captcha label{
	width: 100%;
}
.captcha input{
	width: 100%;
}
// end captcha //
input[type="submit"], input[type="button"]{
	float: right;
	margin-top: 20px;
	padding: 8px 20px;
	font-size: 1.5rem;
	background-color: @btn-action-bg;
	border-bottom: 2px solid darken(@btn-action-bg, 10%);
}
input[type="submit"].touch, input[type="button"].touch{
	background-color: darken(@btn-action-bg, 10%);
}