// BODY //
@body-bg: #ddd;
@body-color: #222222;
@link-color: #33B5E5;
@link-touch-color: #163c52;
@h-color: #333;
@font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-h: "Helvetica Neue", Helvetica, Arial, sans-serif;

// ASIDE //
@sidebar-bg: #ddd;
@sidebar-width: 250px;

// CONTAINER //
@container-bg: #f3f3f3;
@container-color: #222222;
// HEADER //
@header-bg: #ddd;
@header-color: #888;
@header-border: 1px solid #bbb;
@header-height: 50px;
// FOOTER //
@footer-bg: #ddd;
@footer-color: #888;
@footer-border: 1px solid #CFCFCF;
@footer-height: 50px;

// POPUP //
@popup-bg: #ececec;
@popup-color: #333;
@popup-center-width: 500px;
@popup-center-border: 3px solid #fff;

// BUTTON //
// button icon //
@btn-icon-bg: transparent;
@btn-icon-color: #888;
@btn-icon-bg-touch: #ddd;
@btn-icon-color-touch: #555;
// button default //
@btn-default-bg: #ddd;
@btn-default-color: #fff;
// button other bg and color text //
@btn-confirm-bg: #33B5E5;
@btn-confirm-color: #E2F4FB;
@btn-action-bg: #99CC00;
@btn-action-color: #F0F8DB;
@btn-cancel-bg: #FFBB33;
@btn-cancel-color: #FFF6DF;
@btn-error-bg: #FF4444;
@btn-error-color: #FFE4E4;

// HIGHLIGHT for text //
@highlight-confirm-bg: #33B5E5;
@highlight-confirm-color: #E2F4FB;
@highlight-action-bg: #99CC00;
@highlight-action-color: #F0F8DB;
@highlight-cancel-bg: #FFBB33;
@highlight-cancel-color: #FFF6DF;
@highlight-error-bg: #FF4444;
@highlight-error-color: #FFE4E4;

// TABS //
@tabs-ul-bg: #33B5E5;
@tabs-li-bg: #33B5E5;
@tabs-li-color: #E2F4FB;
@tabs-current-bg: darken(#33B5E5, 20%);
@tabs-current-color: #E2F4FB;
@tabs-content-bg: transparent;

// FORM //
@field-bg: #fff;
@field-border: 1px solid #ddd;
@field-border-focus: #33B5E5;
@field-border-required: #FF4444;

// TABLE //
@table-bg: transparent;
@table-color: @body-color;
@table-border: 1px solid #ddd;
@table-border-spacing: 1px;
@table-tr-bg: transparent;
@table-tr-odd-bg: #F3F6F9;
@table-tr-even-bg: transparent;
@table-th-bg: #ddd;
@table-th-color: #000;
@table-td-bg: transparent;

/////////////////////////// FLEXBOX STYLE /////////////////////////
.order (@order){
	-webkit-box-flex-group: @order;
	-moz-box-flex-group: @order;
	box-flex-group: @order;
}
.flex(@flex){
	-webkit-box-flex: @flex;
	-moz-box-flex: @flex;
	box-flex: @flex;
}
/////////////////////////end FLEXBOX STYLE/////////////////////////