@font-face {
	font-family: 'menu_icons';
	src:url('fonts/menu_icons.eot');
	src:url('fonts/menu_icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/menu_icons.ttf') format('truetype'),
		url('fonts/menu_icons.woff') format('woff'),
		url('fonts/menu_icons.svg#menu_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iconmenu-"], [class*=" iconmenu-"] {
	font-family: 'menu_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 146px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconmenu-Restaurants:before {
	content: "\e600";
}
.iconmenu-Pubs-and-Breweries:before {
	content: "\e601";
}
.iconmenu-Pizzerias:before {
	content: "\e602";
}
.iconmenu-Food-delivery:before {
	content: "\e603";
}
.iconmenu-Fast-Food:before {
	content: "\e604";
}
.iconmenu-Coffee-shops:before {
	content: "\e605";
}
.iconmenu-useful-info-about-kharkov:before {
	content: "\e606";
}
.iconmenu-sightseeings:before {
	content: "\e607";
}
.iconmenu-Night-clubs:before {
	content: "\e608";
}
.iconmenu-Euro-2012:before {
	content: "\e609";
}
.iconmenu-entertainment:before {
	content: "\e60a";
}
.iconmenu-dating:before {
	content: "\e60b";
}
